Repository Floof-Station/Floof-Station, pull requests merged in 2024-08, with the labels that each got.

#74 Update gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#76 Added Upstream White Cane Recipe to Medifab
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#79 Put White Cane Recipe Into the Medifab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#49 The CUM Update - First Iteration.
  Content.Server/FloofStation/Traits/Components/CumProducerComponent.cs
  Content.Server/FloofStation/Traits/Components/MilkProducerComponent.cs
  Content.Server/FloofStation/Traits/LewdTraitSystem.cs
  Content.Shared/Floofstation/Traits/Events/CummingDoAfterEvent.cs
  Content.Shared/Floofstation/Traits/Events/MilkingDoAfterEvent.cs
  Resources/Locale/en-US/floofstation/cum/cum-verb.ftl
  Resources/Locale/en-US/floofstation/milk/milk-verb.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Floof/Reagents/natural_sauce.yml
  Resources/Prototypes/FloofStation/Traits/lewd.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Awaiting Changes, Priority: 2-Medium

#80 Harpies Can Now Wear Loin Cloth!
  Resources/Prototypes/Floof/Entities/Clothing/Uniforms/misc.yml
Labels: Changes: YML, Status: Needs Review

#81 Aloe Cream Change
  Resources/Prototypes/Recipes/Cooking/medical_recipes.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#82 Edge SM Support
  Resources/Maps/edge.yml
Labels: Changes: Map, Status: Needs Review, Priority: 1-High

#85 fix BarotraumaSystem
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
Labels: Changes: C#, Status: Needs Review

#84 Add Craftable Bonfire
  Resources/Migrations/floofstation.yml
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/bonfire.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#83 Add Ores to Planets
  Content.Server/Maps/PlanetCommand.cs
Labels: Changes: C#, Status: Needs Review, Priority: 2-Medium

#86 Red Bool Fix
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
Labels: Changes: YML, Status: Needs Review

#87 Glasses Are Now Available for Nearsighted Crew
  Resources/Prototypes/Loadouts/eyes.yml
Labels: Changes: YML, Status: Needs Review

#88 De-Antag Skeletons
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: Localization, Status: Needs Review

#89 Added Beverage Jugs to Lathe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#90 Add Icecream
  Resources/Locale/en-US/Floof/flavors/flavor-profiles.ftl
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Floof/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Floof/Entities/Objects/Consumable/Food/icecream.yml
  Resources/Prototypes/Floof/Flavors/flavors.yml
  Resources/Prototypes/Floof/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/blooddrop.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/bowl.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/caramel.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/coffee.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/fill-1.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/fill-2.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/fill-3.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/fill-4.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/fill-5.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/greentea.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/lemon.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/meta.json
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/orange.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/plate.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/rainbow.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/saltedcaramel.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/spaghetti.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/strawberry.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#92 The Maid Outfit Loadout Update
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Loadouts/hands.yml
  Resources/Prototypes/Loadouts/head.yml
  Resources/Prototypes/Loadouts/uniform.yml
Labels: Changes: YML, Status: Needs Review

#91 Fix Atrociously Loud Sounds
  Resources/Audio/Items/Equip/toolbelt_equip.ogg
  Resources/Audio/Items/Handling/cloth_drop.ogg
  Resources/Audio/Items/Handling/cloth_pickup.ogg
  Resources/Audio/Items/Handling/crowbar_drop.ogg
  Resources/Audio/Items/Handling/crowbar_pickup.ogg
  Resources/Audio/Items/Handling/drinkglass_drop.ogg
  Resources/Audio/Items/Handling/drinkglass_pickup.ogg
  Resources/Audio/Items/Handling/multitool_pickup.ogg
  Resources/Audio/Items/Handling/paper_drop.ogg
  Resources/Audio/Items/Handling/paper_pickup.ogg
  Resources/Audio/Items/Handling/toolbelt_pickup.ogg
  Resources/Audio/Items/Handling/welder_drop.ogg
  Resources/Audio/Items/Handling/welder_pickup.ogg
  Resources/Audio/Items/Handling/wrench_drop.ogg
  Resources/Audio/Items/Handling/wrench_pickup.ogg
  Resources/Audio/Items/belt_equip.ogg
  Resources/Audio/Items/crowbar_drop.ogg
  Resources/Audio/Items/jumpsuit_equip.ogg
  Resources/Audio/Items/welder_drop.ogg
  Resources/Audio/Items/wrench_drop.ogg
  Resources/Audio/SimpleStation14/Items/Equip/toolbelt_equip.ogg
  Resources/Audio/SimpleStation14/Items/Handling/cloth_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/cloth_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/crowbar_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/crowbar_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/drinkglass_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/drinkglass_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/multitool_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/paper_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/paper_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/toolbelt_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/welder_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/welder_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/wrench_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/wrench_pickup.ogg
Labels: Changes: Audio, Status: Needs Review

#93 Epistemics Survival Box
  Resources/Prototypes/Loadouts/items.yml
Labels: Changes: YML, Status: Needs Review

#95 Increases Trait Limit From 5 to 7
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Status: Needs Review, Status: Needs Discussion

#94 Fix The Mispelling
  Resources/Prototypes/Floof/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#96 Cosmetic Goggles and Animal Mask Loadout Options
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Loadouts/eyes.yml
  Resources/Prototypes/Loadouts/mask.yml
Labels: Changes: YML, Status: Needs Review

#98 Fix Rouny Sprite
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/sleeping.png
Labels: Priority: 1-High

#99 Various Floof Folder Additions, Merge Conflict Prevention
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Floof/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Floof/Loadouts/eyes.yml
  Resources/Prototypes/Floof/Loadouts/hands.yml
  Resources/Prototypes/Floof/Loadouts/head.yml
  Resources/Prototypes/Floof/Loadouts/mask.yml
  Resources/Prototypes/Floof/Loadouts/uniform.yml
  Resources/Prototypes/Loadouts/eyes.yml
  Resources/Prototypes/Loadouts/hands.yml
  Resources/Prototypes/Loadouts/head.yml
  Resources/Prototypes/Loadouts/mask.yml
  Resources/Prototypes/Loadouts/uniform.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#101 Loadout Additions Random
  Resources/Prototypes/Floof/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Floof/Loadouts/head.yml
  Resources/Prototypes/Floof/Loadouts/neck.yml
  Resources/Prototypes/Floof/Loadouts/outerClothing.yml
  Resources/Prototypes/Floof/Loadouts/uniform.yml
Labels: Changes: YML, Status: Needs Review

#102 Longer Lasting Aphrodisiacs
  Resources/Prototypes/Floof/Reagents/Aphrodisiacs/medicine.yml
  Resources/Prototypes/Floof/Reagents/Aphrodisiacs/narcotics.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#100 Added Recipe
  Resources/Prototypes/Floof/Recipes/Reactions/drinks.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#103 Content.Integration Works Again
  Resources/ConfigPresets/Floofstation/floofstation.toml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
Labels: Changes: Config, Changes: YML, Status: Needs Review, Priority: 1-High

#105 Collar Me Surprised
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Clothing/Neck/collars.yml
  Resources/Prototypes/Floof/Loadouts/neck.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Floof/Clothing/Neck/collar_black.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_black.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_black.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_blue.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_blue.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_blue.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_cc.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_cc.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_cc.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_cmd.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_cmd.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_cmd.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_engi.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_engi.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_engi.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_epi.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_epi.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_epi.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_logi.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_logi.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_logi.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_med.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_med.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_med.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_sec.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_sec.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_sec.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_syndi.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_syndi.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_syndi.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium

#107 Loadout Point Increase And Labcoat For All
  Resources/Prototypes/Floof/Loadouts/outerClothing.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#106 Fixed Cum/Milk Generation
  Content.Server/FloofStation/Traits/Components/CumProducerComponent.cs
  Content.Server/FloofStation/Traits/Components/MilkProducerComponent.cs
  Content.Server/FloofStation/Traits/LewdTraitSystem.cs
  Resources/Prototypes/Floof/Traits/lewd.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 2-Medium

#112 Rouny Sprite Update
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/running.png
Labels: Changes: Sprite, Status: Needs Review, Priority: 3-Low

#113 Disable Hunger Mechanic for Now
  Content.Server/FloofStation/Traits/LewdTraitSystem.cs
Labels: Changes: C#, Status: Needs Review, Priority: 2-Medium

#117 Rouny Sprite Recenter
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/running.png
Labels: Changes: Sprite, Status: Needs Review, Priority: 3-Low

#115 Floofinization
  Resources/Migrations/floofmigration.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Floof/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Floof/Entities/Objects/Consumable/Drinks/drinks_cans.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#119 Clothing-Nikko
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Floof/Entities/Clothing/Neck/collars.yml
  Resources/Prototypes/Floof/Loadouts/neck.yml
  Resources/Textures/Floof/Clothing/Neck/collar_pink.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_pink.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_pink.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#125 Return of the Hugs
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Player/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 1-High

#127 Goggles In Loadouts Again
  Resources/Prototypes/Floof/Loadouts/eyes.yml
Labels: Changes: YML, Status: Needs Review

#124 Add Skirt Tag to Thongs and Sex Comp Outfits
  Resources/Prototypes/Floof/Entities/Clothing/Uniforms/misc.yml
  Resources/Prototypes/Floof/Entities/Clothing/departmental_clothes.yml
Labels: Changes: YML, Status: Needs Review

#128 Fix: Rice Pudding After Cream Change
  Resources/Prototypes/Floof/Recipes/Cooking/meal_recipes.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#126 New Trait: Vampirism
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Floof/Traits/physical.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#133 Remove Insane Defence Values From Warmers
  Resources/Prototypes/Floof/Entities/Clothing/departmental_clothes.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-High

#120 Leashes
  Content.Client/Physics/JointVisualsOverlay.cs
  Content.Shared/Floofstation/Leash/Components/LeashAnchorComponent.cs
  Content.Shared/Floofstation/Leash/Components/LeashComponent.cs
  Content.Shared/Floofstation/Leash/Components/LeashedComponent.cs
  Content.Shared/Floofstation/Leash/LeashDoAfterEvents.cs
  Content.Shared/Floofstation/Leash/LeashSystem.cs
  Resources/Locale/en-US/floofstation/leash/leash-verbs.ftl
  Resources/Locale/en-US/floofstation/leash/leash.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Clothing/Neck/collars.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/scugcat.yml
  Resources/Prototypes/Floof/Entities/Objects/Tools/leash.yml
  Resources/Prototypes/Floof/Recipes/Lathes/tools.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/shock_collar.yml
  Resources/Textures/Floof/Objects/Tools/leash-rope.rsi/meta.json
  Resources/Textures/Floof/Objects/Tools/leash-rope.rsi/rope.png
  Resources/Textures/Floof/Objects/Tools/leash.rsi/icon.png
  Resources/Textures/Floof/Objects/Tools/leash.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium

#130 Vagina Trait + Organization.
  Content.Server/FloofStation/Traits/Components/SquirtProducerComponent.cs
  Content.Server/FloofStation/Traits/LewdTraitSystem.cs
  Content.Shared/Floofstation/Traits/Events/SquirtingDoAfterEvent.cs
  Resources/Locale/en-US/Floof/reagents/natural_sauce.ftl
  Resources/Locale/en-US/Floof/verbs/cum-verb.ftl
  Resources/Locale/en-US/Floof/verbs/milk-verb.ftl
  Resources/Locale/en-US/Floof/verbs/squirt-verb.ftl
  Resources/Locale/en-US/reagents/floofstation/natural_sauce.ftl
  Resources/Prototypes/Floof/Reagents/natural_sauce.yml
  Resources/Prototypes/Floof/Traits/lewd.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#137 Silly Slimes
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/slimes.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#132 Friend Shaped
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/Xeno.yml
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/running.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#139 Couch and Stripper Pole!
  Resources/Prototypes/Floof/Entities/Objects/Lewd/eggs.yml
  Resources/Prototypes/Floof/Entities/Structures/Furniture/stripper_pole.yml
  Resources/Prototypes/Floof/Recipes/Construction/Graphs/furniture/lewds.yml
  Resources/Prototypes/Floof/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
  Resources/Prototypes/SimpleStation14/benches.yml
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_ashwalker.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_badrecipe.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_blue.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_bugcocoon.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_cd.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_chicken.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_chocolate.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_cocoon.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_corrupteddemon.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_dragon.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_escapepod.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_file.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_fish.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_floppy.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_green.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_holy.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_honeycomb.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_hybrid.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_insectoid.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_orange.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_pellet.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_pinkspots.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_polychrome.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_purple.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_rainbow.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_ratvar.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_red.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_rock.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_slimeglob.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_spidercluster.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_synthetic.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_void.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_xenomorph.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/egg_yellow.png
  Resources/Textures/Floof/Objects/Fun/Lewd/egg.rsi/meta.json
  Resources/Textures/Floof/Structures/pole.rsi/meta.json
  Resources/Textures/Floof/Structures/pole.rsi/pole.png
  Resources/Textures/Floof/Structures/pole.rsi/pole_base.png
Labels: Changes: Sprite, Changes: YML, Priority: 2-Medium

#140 Bell Collar Leash Fix
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#142 Add Short Leash (Unless Mnemotechnician Doesn't Like It)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Objects/Tools/leash.yml
  Resources/Prototypes/Floof/Recipes/Lathes/tools.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#147 Break Leash Joints (and All Other Joints) when Entering a Portal
  Content.Shared/Teleportation/Systems/SharedPortalSystem.cs
Labels: Changes: C#, Status: Needs Review, Priority: 1-High

#149 Removed Blepstation Advertisement
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
Labels: Changes: C#, Status: Needs Review

#148 No Zombies For Now
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: YML, Status: Needs Review, Status: Needs Discussion, Priority: 1-High

#150 Wizden Request
  Content.Client/FurryServers/FurryServersWindow.xaml
  Content.Client/FurryServers/FurryServersWindow.xaml.cs
  Content.Client/Info/LinkBanner.cs
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Client/UserInterface/Systems/EscapeMenu/FurryServersUIController.cs
  Content.Client/UserInterface/Systems/WhitelistWindow/Controls/WhitelistDenialWindow.xaml
  Content.Client/UserInterface/Systems/WhitelistWindow/Controls/WhitelistDenialWindow.xaml.cs
Labels: Changes: C#, Changes: UI, Status: Needs Review, Priority: 1-High

#153 Thieves Outside of Traitor
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, Status: Needs Review

#141 IPCs Can No Longer Be Vampiric
  Resources/Prototypes/Floof/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#151 Fixed All Door Accesses
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-High

#152 Carpet Fixes
  Resources/Prototypes/Entities/Objects/Misc/carpets.yml
  Resources/Prototypes/Entities/Structures/Furniture/carpets.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/curtains.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#156 Fix Fixgridatmos Command (#27113)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
Labels: Changes: C#, Status: Needs Review

#144 Silly Slimes
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/slimes.yml
  Resources/Textures/Floof/Mobs/Animals/elemental.rsi/alive.png
  Resources/Textures/Floof/Mobs/Animals/elemental.rsi/dead.png
  Resources/Textures/Floof/Mobs/Animals/elemental.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#157 Weakness and Lightweight Traits
  Content.Shared/Floofstation/Traits/Components/FixtureDensityModifier.cs
  Content.Shared/Floofstation/Traits/TraitStatModifierSystem.cs
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#158 Space Dragon Devour Fix
  Content.Server/Devour/DevourSystem.cs
Labels: Changes: C#, Status: Needs Review, Priority: 1-High

#159 Prize Ball Crate
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Floof/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/prizeball.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low
