Repository Floof-Station/Floof-Station, pull requests merged in 2024-07, with the labels that each got.

#19 Floof Station Changlog
  Resources/Changelog/Changelog.yml
  Resources/Changelog/Floof.yml
  Resources/Locale/en-US/changelog/changelog-window.ftl
Labels: Changes: Localization, Changes: YML, Priority: 1-High

#18 Added A new drink!
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/floofstation/drinks.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/soda.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/FloofStation/Flavors/flavors.yml
  Resources/Prototypes/FloofStation/Reagents/Drinks/drinks.yml
  Resources/Textures/Objects/Consumable/Drinks/nnn_can.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/nnn_can.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/nnn_can.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/nnn_can.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/nnn_can.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#10 Loin Cloth
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Floof/Entities/Clothing/Uniforms/misc.yml
  Resources/Prototypes/Floof/Loadouts/uniform.yml
  Resources/Textures/Floof/Clothing/Uniforms/loincloth.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/loincloth.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#20 Fix Human Sol-Common
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Changes: YML, Priority: 1-High

#23 pomegranate & aphrodisiacs
  Resources/Locale/en-US/reagents/floofstation/aphrodisiacs/aphrodisiacs.ftl
  Resources/Locale/en-US/reagents/floofstation/aphrodisiacs/meta/medicine.ftl
  Resources/Locale/en-US/reagents/floofstation/aphrodisiacs/meta/narcotics.ftl
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/FloofStation/Reactions/chemicals.yml
  Resources/Prototypes/FloofStation/Reactions/medicine.yml
  Resources/Prototypes/FloofStation/Reagents/Aphrodisiacs/medicine.yml
  Resources/Prototypes/FloofStation/Reagents/Aphrodisiacs/narcotics.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/seeds.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_civilian.yml
  Resources/ServerInfo/Guidebook/Medical/Botanicals.xml
  Resources/Textures/Floof/Objects/Specific/Hydroponics/pomegranate.rsi/dead.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/pomegranate.rsi/harvest.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/pomegranate.rsi/meta.json
  Resources/Textures/Floof/Objects/Specific/Hydroponics/pomegranate.rsi/produce.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/pomegranate.rsi/seed.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/pomegranate.rsi/stage-1.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/pomegranate.rsi/stage-2.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/pomegranate.rsi/stage-3.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/pomegranate.rsi/stage-4.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/pomegranate.rsi/stage-5.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/pomegranate.rsi/stage-6.png
Labels: Changes: Documentation, Changes: Localization, Changes: Sprite, Changes: YML, Priority: 2-Medium

#25 Adjusted Metabolic rates, Flavour Text, Cure
  Resources/Locale/en-US/reagents/floofstation/aphrodisiacs/aphrodisiacs.ftl
  Resources/Prototypes/FloofStation/Reagents/Aphrodisiacs/medicine.yml
  Resources/Prototypes/Reagents/elements.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 3-Low

#24 Fix missing Psionic FTL
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization, Status: Needs Review, Priority: 1-High

#26 Discord Changlogs
  .github/workflows/publish-changelog.yml
  Resources/Changelog/Floof.yml
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: Workflow, Changes: YML, Priority: 1-High

#34 Rules Update
  Resources/ServerInfo/Rules.txt
Labels: Status: Needs Review, Priority: 1-High

#37 Blood Red Coder Socks Addition
  Resources/Locale/en-US/Floof/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Floof/Catalog/uplink_catalog.yml
  Resources/Prototypes/Floof/Entities/Clothing/Under/under.yml
  Resources/Textures/Floof/Clothing/Under/Socks/codervalid.rsi/equipped-FEET.png
  Resources/Textures/Floof/Clothing/Under/Socks/codervalid.rsi/icon.png
  Resources/Textures/Floof/Clothing/Under/Socks/codervalid.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#38 Remove Mass-Mind-Swap
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML, Priority: 1-High

#35 CDN V2
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
  Tools/gen_build_info.py
  Tools/publish_github_artifact.py
Labels: Changes: Workflow, Status: Awaiting Changes, Priority: 1-High

#40 "execute” filesystem permission
  Tools/publish_github_artifact.py
Labels: Priority: 1-High

#47 Force Michael Announcer
  Resources/Prototypes/Announcers/!randomAnnouncers.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#51 Rules Update
  Resources/ServerInfo/Rules.txt
Labels: Status: Needs Review, Priority: 1-High

#48 Sign Language
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Language/LanguagePrototype.cs
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/language/sign-language.ftl
  Resources/Prototypes/Language/languages.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#31 ScugCats!
  Resources/Audio/Animals/attributions.yml
  Resources/Audio/Animals/wawa_exclaim.wav
  Resources/Audio/Animals/wawa_question.wav
  Resources/Audio/Animals/wawa_statement.wav
  Resources/Locale/en-US/Floof/scugcat.ftl
  Resources/Locale/en-US/Floof/station-events/events/scug-vent.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/language/sign-language.ftl
  Resources/Prototypes/Announcers/template
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/FloofStation/Entities/Mobs/NPCs/scugcat.yml
  Resources/Prototypes/Language/languages.yml
  Resources/Textures/Floof/Mobs/Animals/scugcat.rsi/meta.json
  Resources/Textures/Floof/Mobs/Animals/scugcat.rsi/scugcat.png
  Resources/Textures/Floof/Mobs/Animals/scugcat.rsi/scugcat_crit.png
  Resources/Textures/Floof/Mobs/Animals/scugcat.rsi/scugcat_dead.png
  Resources/Textures/Floof/Mobs/Animals/scugcat.rsi/scugcat_sleep.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Status: Requires, Priority: 2-Medium

#54 Rules Tweaks
  Resources/ServerInfo/Rules.txt
Labels: Status: Needs Review, Priority: 1-High

#56 Scug Patch
  Resources/Prototypes/FloofStation/Entities/Mobs/NPCs/scugcat.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-High

#55 Fix Rules Header
  Resources/Locale/en-US/info/rules.ftl
  Resources/ServerInfo/Rules.txt
Labels: Changes: Localization, Status: Needs Review, Priority: 1-High

#57 fix publish
  .github/workflows/publish.yml
  Tools/publish_github_artifact.py
Labels: Changes: Workflow

#60 Add Hairflower and Explorer's Labcoat to Loadouts
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Loadouts/head.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#58 Minor Changes to Bartender Descriptions & Comment Errors
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/revenant/revenant.ftl
  Resources/Locale/en-US/weapons/melee/melee.ftl
  Resources/Prototypes/FloofStation/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 3-Low

#52 NNN Modifications and Vending
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/gib.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pwrgame.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/shamblersjuice.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sovietsoda.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/spaceup.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/starkist.yml
  Resources/Prototypes/FloofStation/Reagents/Drinks/drinks.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#62 Added Opporozidone and ReduceRotting Effect
  Content.Server/Chemistry/ReagentEffects/ReduceRotting.cs
  Content.Shared/Atmos/Rotting/SharedRottingSystem.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#67 remove felinid ability to understand and speak solcommon
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Labels: Changes: YML, Status: Needs Review

#68 remove thiefing from felinids
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Labels: Changes: YML, Status: Needs Review

#69 add thieving trait back to felinids
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: YML, Status: Needs Review

#70 Remove Species Requirement From N2 Tanks
  Resources/Prototypes/Loadouts/items.yml
  Resources/Prototypes/Loadouts/species.yml
Labels: Status: Needs Review

#71 Fix Whisper
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Status: Needs Review, Priority: 1-High

#66 Early-Merge Psionic Refactor Changes
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Nyanotrasen/StationEvents/Events/MassMindSwapRule.cs
  Content.Server/Nyanotrasen/StationEvents/Events/NoosphericFryRule.cs
  Content.Server/Psionics/Abilities/DispelPowerSystem.cs
  Content.Server/Psionics/Abilities/MetapsionicPowerSystem.cs
  Content.Server/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Psionics/Abilities/NoosphericZapPowerSystem.cs
  Content.Server/Psionics/Abilities/PsionicAbilitiesSystem.cs
  Content.Server/Psionics/Abilities/PsionicRegenerationPowerSystem.cs
  Content.Server/Psionics/Abilities/PyrokinesisPowerSystem.cs
  Content.Server/Psionics/Abilities/RegenerativeStasisPowerSystem.cs
  Content.Server/Psionics/Abilities/TelegnosisPowerSystem.cs
  Content.Server/Psionics/Glimmer/GlimmerReactiveSystem.cs
  Content.Server/Psionics/Glimmer/Structures/GlimmerSourceComponent.cs
  Content.Server/Psionics/Glimmer/Structures/GlimmerStructuresSystem.cs
  Content.Shared/Psionics/Abilities/PsionicInvisibility/PsionicInvisibilityPowerSystem.cs
  Content.Shared/Psionics/PsionicInsulationComponent.cs
  Content.Shared/Psionics/SharedPsionicAbilitiesSystem.cs
  Resources/Locale/en-US/nyanotrasen/psionics/psychic-feedback.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Prototypes/Traits/psionics.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review
