Repository Floof-Station/Floof-Station, pull requests merged in 2024-09, with the labels that each got.

#72 Init Space Law
  Resources/ServerInfo/SpaceLaw/SpaceLaw.md
Labels: Changes: Documentation, Status: Needs Review

#168 Added Sake Recipe
  Resources/Prototypes/Floof/Recipes/Reactions/drinks.yml
Labels: Changes: YML, Status: Needs Review

#167 Add Justice Roles to Glacier
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: Map, Status: Needs Review

#166 Updated Roboticist Text
  Resources/ServerInfo/Guidebook/Science/Robotics.xml
Labels: Changes: Documentation, Status: Needs Review

#165 Pitbulls Are Friendly
  Resources/Prototypes/Entities/Mobs/NPCs/dogs.yml
Labels: Changes: YML, Status: Needs Review

#163 Quickly Adds New Items to Lockers
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/lewd.yml
Labels: Changes: YML, Status: Needs Review

#170 Trait Rebalance
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: YML, Status: Needs Review

#164 Vampireal
  Content.Server/Body/Components/MetabolizerComponent.cs
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/FloofStation/Traits/Components/VampirismComponent.cs
  Content.Server/FloofStation/Traits/VampirismSystem.cs
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Reagents/biological.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#172 Fix Capitalization For Items/Trait
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Floof/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 3-Low

#169 Updated Health Analyzer UI From Latest Wizden Update
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review, Priority: 2-Medium

#173 Updated Sex Toys with a Value and Material Composition
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Floof/Catalog/Cargo/cargo_lewd.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/lewd.yml
  Resources/Prototypes/Floof/Entities/Objects/Lewd/dildos.yml
  Resources/Prototypes/Floof/Entities/Objects/Lewd/fleshlights.yml
  Resources/Prototypes/Floof/Entities/Objects/Lewd/vibes.yml
  Resources/Textures/Floof/Objects/Fun/Lewd/Toys/Dildos/dildo_canine_red.rsi/icon.png
  Resources/Textures/Floof/Objects/Fun/Lewd/Toys/Dildos/dildo_canine_red.rsi/inhand-left.png
  Resources/Textures/Floof/Objects/Fun/Lewd/Toys/Dildos/dildo_canine_red.rsi/inhand-right.png
  Resources/Textures/Floof/Objects/Fun/Lewd/Toys/Dildos/dildo_canine_red.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#174 Headpat Fix
  Resources/Locale/en-US/interaction/verbs/noop.ftl
Labels: Changes: Localization, Status: Needs Review, Priority: 3-Low

#175 Add Gems
  Resources/Prototypes/Floof/Entities/Objects/Materials/gem.yml
  Resources/Textures/Floof/Objects/Materials/Shards/gem.rsi/equipped-NECK.png
  Resources/Textures/Floof/Objects/Materials/Shards/gem.rsi/gem.png
  Resources/Textures/Floof/Objects/Materials/Shards/gem.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#171 Cryo Overhaul
  Content.Server/Body/Components/MetabolizerComponent.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.cs
  Content.Shared/Medical/Cryogenics/CryoPodComponent.cs
  Resources/Locale/en-US/Floof/reagents/meta/chemicals.ftl
  Resources/Locale/en-US/Floof/reagents/meta/medicine.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Floof/Reagents/chemicals.yml
  Resources/Prototypes/Floof/Reagents/medicine.yml
  Resources/Prototypes/Floof/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Floof/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
Labels: Changes: C#, Changes: Documentation, Changes: Localization, Changes: YML, Status: Needs Review

#177 Should Fix Events
  Resources/ConfigPresets/Build/debug.toml
Labels: Changes: Config, Status: Needs Review

#176 Spider Language
  Resources/Fonts/StrawSerifRegular.ttf
  Resources/Locale/en-US/language/languages.ftl
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/Floof/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/translator_implanters.yml
  Resources/Prototypes/Floof/Language/languages.yml
  Resources/Prototypes/Floof/Recipes/Lathes/language.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/fonts.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#145 Xenofriends
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/Xeno.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/xenopet.yml
  Resources/Textures/Floof/Mobs/Animals/patriarch.rsi/meta.json
  Resources/Textures/Floof/Mobs/Animals/patriarch.rsi/patriarch.png
  Resources/Textures/Floof/Mobs/Animals/patriarch.rsi/patriarch_crit.png
  Resources/Textures/Floof/Mobs/Animals/patriarch.rsi/patriarch_dead.png
  Resources/Textures/Floof/Mobs/Animals/patriarch.rsi/patriarch_sleeping.png
  Resources/Textures/Floof/Mobs/Animals/subject7355.rsi/glow.png
  Resources/Textures/Floof/Mobs/Animals/subject7355.rsi/meta.json
  Resources/Textures/Floof/Mobs/Animals/subject7355.rsi/subject7355.png
  Resources/Textures/Floof/Mobs/Animals/subject7355.rsi/subject7355_crit.png
  Resources/Textures/Floof/Mobs/Animals/subject7355.rsi/subject7355_dead.png
  Resources/Textures/Floof/Mobs/Animals/subject7355.rsi/subject7355_sleeping.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#155 Ghost Role Bar
  Resources/Maps/Floof/admin_only/ghost_bar.yml
Labels: Changes: Map, Status: Do Not Merge, Status: Awaiting Changes, Priority: 3-Low

#181 Cherry-Pick "Fix Logic Requirements Not Checking Inversion"
  Content.Shared/Customization/Systems/CharacterRequirements.Logic.cs
  Content.Shared/Customization/Systems/CharacterRequirementsSystem.cs
Labels: Changes: C#, Status: Needs Review

#182 Early-Merge Simple-Station/Einstein-Engines#893
  Content.Client/Language/LanguageMenuWindow.xaml.cs
  Content.Client/Language/Systems/LanguageSystem.cs
  Content.Client/UserInterface/Systems/Language/LanguageMenuUIController.cs
  Content.Server/Language/TranslatorSystem.cs
Labels: Changes: C#, Changes: UI, Status: Needs Review

#183 Thieves In More Gamemodes
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, Status: Needs Review

#188 Add Dragon Egg From Frontier
  Resources/Prototypes/Floof/Entities/Objects/Consumable/Food/dragon_egg.yml
  Resources/Prototypes/Floof/Entities/Objects/Lewd/eggs.yml
  Resources/Textures/Floof/Objects/Consumable/Food/dragon_egg.rsi/broken.png
  Resources/Textures/Floof/Objects/Consumable/Food/dragon_egg.rsi/icon.png
  Resources/Textures/Floof/Objects/Consumable/Food/dragon_egg.rsi/inhand-left.png
  Resources/Textures/Floof/Objects/Consumable/Food/dragon_egg.rsi/inhand-right.png
  Resources/Textures/Floof/Objects/Consumable/Food/dragon_egg.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#189 Add Secret Doors
  Resources/Prototypes/_NF/Entities/Structures/Doors/secret_door.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/structures/secretdoor.yml
  Resources/Prototypes/_NF/Recipes/Construction/structures.yml
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/opening.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#186 Floof Loadout Update
  Resources/Locale/en-US/Floof/loadouts/itemgroups.ftl
  Resources/Prototypes/Floof/CharacterItemGroups/eyesGroup.yml
  Resources/Prototypes/Floof/CharacterItemGroups/gloveGroup.yml
  Resources/Prototypes/Floof/CharacterItemGroups/headGroup.yml
  Resources/Prototypes/Floof/CharacterItemGroups/maskGroup.yml
  Resources/Prototypes/Floof/CharacterItemGroups/neckGroup.yml
  Resources/Prototypes/Floof/CharacterItemGroups/outerGroup.yml
  Resources/Prototypes/Floof/CharacterItemGroups/shoeGroup.yml
  Resources/Prototypes/Floof/CharacterItemGroups/uniformGroup.yml
  Resources/Prototypes/Floof/Loadouts/eyes.yml
  Resources/Prototypes/Floof/Loadouts/hands.yml
  Resources/Prototypes/Floof/Loadouts/head.yml
  Resources/Prototypes/Floof/Loadouts/items.yml
  Resources/Prototypes/Floof/Loadouts/mask.yml
  Resources/Prototypes/Floof/Loadouts/neck.yml
  Resources/Prototypes/Floof/Loadouts/outerClothing.yml
  Resources/Prototypes/Floof/Loadouts/shoes.yml
  Resources/Prototypes/Floof/Loadouts/sockect.yml
  Resources/Prototypes/Floof/Loadouts/uniform.yml
  Resources/Prototypes/Loadouts/eyes.yml
  Resources/Prototypes/Loadouts/hands.yml
  Resources/Prototypes/Loadouts/head.yml
  Resources/Prototypes/Loadouts/mask.yml
  Resources/Prototypes/Loadouts/neck.yml
  Resources/Prototypes/Loadouts/outerClothing.yml
  Resources/Prototypes/Loadouts/shoes.yml
  Resources/Prototypes/Loadouts/uniform.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 1-High

#184 Harpy Instrument Additions
  Resources/Prototypes/Traits/Misc/singer_types.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#180 Axel and Luna
  Resources/Locale/en-US/Floof/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/Floof/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Floof/Flavors/flavors.yml
  Resources/Prototypes/Floof/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Floof/Recipes/Reactions/drinks.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 3-Low

#193 Leash Tweaks & Fixes
  Content.Shared/Floofstation/Leash/Components/LeashComponent.cs
  Content.Shared/Floofstation/Leash/LeashSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Floof/Entities/Objects/Tools/leash.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#192 Xenospawners
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Floof/Body/Prototypes/Friendshaped.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/xenopet.yml
  Resources/Prototypes/Floof/body/Organs/Friendstomach.yml
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/dead.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#194 Hotfix Leashes Being Unremovable
  Content.Shared/Floofstation/Leash/LeashSystem.cs
Labels: Changes: C#, Status: Needs Review, Priority: 1-High

#196 Make R&D Servers More Common
  Resources/Prototypes/Entities/Markers/Spawners/Random/techboard.yml
Labels: Changes: YML, Status: Needs Review

#201 Change Vampirism to Coset 3 Points
  Resources/Prototypes/Floof/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#199 Update IPC Guidebook
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
Labels: Changes: Documentation, Status: Needs Review, Priority: 3-Low

#203 Another Leash Fix
  Content.Shared/Floofstation/Leash/Components/LeashComponent.cs
  Content.Shared/Floofstation/Leash/LeashSystem.cs
Labels: Changes: C#, Status: Needs Review, Priority: 1-High

#204 Artifact Tweaks.
  Resources/Prototypes/Entities/Markers/Spawners/Random/artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#202 Felinid Hues
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#206 Upped the Depth From 8 to 9
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Changes: YML, Status: Needs Review

#207 Disable Omen Artifact Items
  Resources/Prototypes/Entities/Markers/Spawners/Random/artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#209 Re-Add the NEIL Announcer
  Resources/Prototypes/Announcers/!randomAnnouncers.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#211 Added Cryogenics to Lighthouse
  Resources/Maps/Floof/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map, Status: Awaiting Changes, Priority: 3-Low

#215 Somebody Fucked up the Salvage Shuttle
  Resources/Maps/Floof/Shuttles/mining.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: Map, Status: Needs Review, Priority: 1-High

#179 Everybody Needs a Kiss
  Resources/Audio/Floof/Lewd/kiss.ogg
  Resources/Audio/Floof/Lewd/lick.ogg
  Resources/Locale/en-US/Floof/mood/mood.ftl
  Resources/Locale/en-US/floofstation/interaction/verbs/noop.ftl
  Resources/Prototypes/Floof/Interactions/mood_interactions.yml
  Resources/Prototypes/Floof/Mood/genericPositiveEffects.yml
Labels: Changes: Audio, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#218 Nerf Reagent Slimes
  Resources/Prototypes/Entities/Mobs/NPCs/Rslimes.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-High

#219 Vent Spawn Hotfix
  Resources/Prototypes/Entities/Mobs/NPCs/Rslimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xenopet.yml
Labels: Changes: YML, Status: Needs Review
