Repository Floof-Station/Floof-Station, pull requests merged in 2024-11, with the labels that each got.

#315 Sydicate Uplink Fixes
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Store/presets.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-High

#311 Psionic Hypnosis / MindSwap Nerf
  Content.Client/Floofstation/HypnotizedSystem.cs
  Content.Client/Floofstation/PsionicHypnoSystem.cs
  Content.Server/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
  Content.Shared/Floofstation/Actions/Events/HypnoPowerActionEvent.cs
  Content.Shared/Floofstation/Hypno/HypnotizedComponent.cs
  Content.Shared/Floofstation/Hypno/PsionicHypnoComponent.cs
  Content.Shared/Psionics/Abilities/MindSwap/MindSwapPowerComponent.cs
  Resources/Locale/en-US/Floof/hypno.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Floof/Actions/psionics.yml
  Resources/Prototypes/Floof/Mood/genericPositiveEffects.yml
  Resources/Prototypes/Floof/StatusIcon/hypnosis.yml
  Resources/Prototypes/Floof/psionics.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Textures/Floof/Interface/Actions/hypno.png
  Resources/Textures/Floof/Interface/Misc/hypno_icons.rsi/master.png
  Resources/Textures/Floof/Interface/Misc/hypno_icons.rsi/meta.json
  Resources/Textures/Floof/Interface/Misc/hypno_icons.rsi/subject.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium

#312 Add Tail Thumping for Lizards
  Resources/Audio/Voice/Reptilian/attritbutions.yml
  Resources/Audio/Voice/Reptilian/reptilian_tailthump.ogg
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/Interface/Emotes/attributions.yml
  Resources/Textures/Interface/Emotes/tailslap.png
Labels: Changes: Audio, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#320 disallow PRs on stable
  .github/workflows/stable-pr.yml
Labels: Status: Needs Review

#323 Disable HypnoPower
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-High

#328 Fix Voltage Reaction
  Resources/Prototypes/Floof/Recipes/Reactions/drinks.yml
Labels: Changes: YML, Status: Needs Review

#329 Fix Construction Container
  Resources/Prototypes/Floof/Entities/Structures/Furniture/sleeping_bag.yml
Labels: Changes: YML, Status: Needs Review

#331 Ethereal Build Test Fixes
  Content.Server/Abilities/Psionics/Abilities/DarkSwapSystem.cs
  Content.Server/Shadowkin/EtherealSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#330 Prescription HUDs Fix
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/hud.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-High

#325 Edit/Fixes LPO
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/StationEvents/Components/PirateRadioSpawnRuleComponent.cs
  Resources/Audio/Floof/Announcements/pirateannounce.ogg
  Resources/Maps/Floof/pirateradio.yml
Labels: Changes: C#, Changes: Audio, Changes: Map, Changes: YML, Status: Needs Review, Priority: 1-High

#322 Cryptobiolin Uplink Injector
  Resources/Locale/en-US/Floof/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Floof/Catalog/uplink_catalog.yml
  Resources/Prototypes/Floof/Entities/Objects/Tools/uplink.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#334 NTNF (ERT)
  Resources/Maps/Floof/NTNFships/ntnfhummingbird.yml
  Resources/Maps/Floof/NTNFships/ntnfrook.yml
  Resources/Maps/Floof/NTNFships/ntnwasp.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Status: Needs Discussion, Priority: 3-Low

#335 Combat Boots
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Clothing/Shoes/Combatmags.yml
  Resources/Prototypes/Floof/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/equipped-FEET-vox.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/equipped-FEET.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/icon-on.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/icon.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/meta.json
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/on-equipped-FEET-vox.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/on-equipped-FEET.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/on-inhand-left.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/on-inhand-right.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#338 Fix Unable to Call Shuttle
  Content.Server/Communications/CommunicationsConsoleSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#341 Changed Dark Oasis Recipe
  Resources/Prototypes/Floof/Recipes/Reactions/drinks.yml
Labels: Changes: YML, Status: Needs Review

#348 Fix Block Game
  Content.Server/Arcade/BlockGame/BlockGame.Ui.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#353 Companion Crate Price Update
  Resources/Prototypes/Floof/Catalog/Cargo/cargo_fun.yml
Labels: Changes: YML, Status: Needs Review

#343 Bionic Changes and Fixes
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#350 Reduce the Votable Gamemodes
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, Status: Needs Review

#352 Remove Dragon Timer
  Content.Server/Dragon/DragonSystem.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#354 Fix Power Flickers
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#349 Update and Rename Adolescent Dragon to Drake
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/Drake.yml
Labels: Changes: YML, Status: Needs Review

#347 No More Munching on Uranium
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
Labels: Changes: YML, Status: Needs Review

#344 Herbals Don't Contain Nicotine
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
Labels: Changes: YML, Status: Needs Review

#357 Update Rules
  Resources/ServerInfo/Rules.txt
Labels: Changes: YML, Status: Needs Review

#359 Updating ERP Rule 9.3
  Resources/ServerInfo/Rules.txt
Labels: Changes: YML, Status: Needs Review

#364 Allows Aranchid to Talk to Spiders
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML, Status: Needs Review

#362 More Ice Creams and Ingredient Boxes
  Resources/Locale/en-US/Floof/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/Floof/mood/mood.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Floof/Entities/Objects/Consumable/Food/icecream.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Kitchen/ingredient_boxes.yml
  Resources/Prototypes/Floof/Flavors/flavors.yml
  Resources/Prototypes/Floof/Mood/genericPositiveEffects.yml
  Resources/Prototypes/Floof/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/bananasplit.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/choco.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/coconut.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/cosmos.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/gilded.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/hazelnut.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/loversdelight.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/meta.json
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/mintchoco.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/napalm.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/neapolitan.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/nebula.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/rockyroad.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/starlight.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/vanilla.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/void.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/walnut.png
  Resources/Textures/Floof/Objects/Consumable/Food/icecream.rsi/watermelon.png
  Resources/Textures/Objects/Storage/boxes.rsi/chocolatebar.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/raisins.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#367 Remove Duplicate
  Resources/Prototypes/Floof/Recipes/Cooking/meal_recipes.yml
Labels: Changes: YML, Status: Needs Review

#356 Hypnotemp Plushies
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Objects/HypnoTempPlushies/HypnoTempPlushies.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
  Resources/Textures/Floof/Objects/HypnoTempPlushies/staffer_plushies.rsi/meta.json
  Resources/Textures/Floof/Objects/HypnoTempPlushies/staffer_plushies.rsi/staffer_CE.png
  Resources/Textures/Floof/Objects/HypnoTempPlushies/staffer_plushies.rsi/staffer_CMO.png
  Resources/Textures/Floof/Objects/HypnoTempPlushies/staffer_plushies.rsi/staffer_Cap.png
  Resources/Textures/Floof/Objects/HypnoTempPlushies/staffer_plushies.rsi/staffer_HoP.png
  Resources/Textures/Floof/Objects/HypnoTempPlushies/staffer_plushies.rsi/staffer_HoS.png
  Resources/Textures/Floof/Objects/HypnoTempPlushies/staffer_plushies.rsi/staffer_LO.png
  Resources/Textures/Floof/Objects/HypnoTempPlushies/staffer_plushies.rsi/staffer_Mysta.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low, Undergoing Maintainer Discussion

#370 Fix PirateRadio Heisentest
  Content.Server/StationEvents/Events/PirateRadioSpawnRule.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#197 Muffled Gas Masks
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Floof/CharacterItemGroups/maskGroup.yml
  Resources/Prototypes/Floof/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Floof/Loadouts/mask.yml
  Resources/Prototypes/Floof/Recipes/Crafting/Graphs/masks.yml
  Resources/Prototypes/Floof/Recipes/Crafting/masks.yml
  Resources/Prototypes/Floof/tags.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#361 Wedding Essentials
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Floof/Entities/Clothing/Hands/miscgloves.yml
  Resources/Prototypes/Floof/Entities/Clothing/Uniforms/weddingdress.yml
  Resources/Textures/Floof/Clothing/Under/Gloves/goldring.rsi/equipped-HAND.png
  Resources/Textures/Floof/Clothing/Under/Gloves/goldring.rsi/icon.png
  Resources/Textures/Floof/Clothing/Under/Gloves/goldring.rsi/meta.json
  Resources/Textures/Floof/Clothing/Uniforms/weddingdress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Floof/Clothing/Uniforms/weddingdress.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/weddingdress.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Uniforms/weddingdress.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Uniforms/weddingdress.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#373 Consent UI Generated
  Content.Client/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Shared/Consent/ConsentTogglePrototype.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Prototypes/Consent/examples.yml
  Resources/Prototypes/consent.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review, Priority: 1-High

#366 Paperwork Templates the Reckoning
  Resources/Locale/en-US/Floof/paper/command.ftl
  Resources/Locale/en-US/Floof/paper/engineering.ftl
  Resources/Locale/en-US/Floof/paper/epistemics.ftl
  Resources/Locale/en-US/Floof/paper/head-of-personel.ftl
  Resources/Locale/en-US/Floof/paper/justice.ftl
  Resources/Locale/en-US/Floof/paper/logistics.ftl
  Resources/Locale/en-US/Floof/paper/medical.ftl
  Resources/Locale/en-US/Floof/paper/security.ftl
  Resources/Locale/en-US/Floof/paper/service.ftl
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/command.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/engineering.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/epistemics.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/folders.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/head-of-personel.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/justice.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/logistics.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/medical.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/paperwork.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/security.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/service.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#345 Round Start Security Magbots
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Clothing/Shoes/Combatmags.yml
  Resources/Prototypes/Floof/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Floof/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/equipped-FEET-vox.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/equipped-FEET.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/icon-on.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/icon.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/meta.json
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/on-equipped-FEET-vox.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/on-equipped-FEET.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/on-inhand-left.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/combatMagboots.rsi/on-inhand-right.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/magboots-security.rsi/equipped-FEET.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/magboots-security.rsi/icon-on.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/magboots-security.rsi/icon.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/magboots-security.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/magboots-security.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/magboots-security.rsi/meta.json
  Resources/Textures/Floof/Clothing/Shoes/Boots/magboots-security.rsi/on-equipped-FEET.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/magboots-security.rsi/on-inhand-left.png
  Resources/Textures/Floof/Clothing/Shoes/Boots/magboots-security.rsi/on-inhand-right.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Status: Needs Discussion, Priority: 3-Low, Undergoing Maintainer Discussion

#377 Fix Shuttle Calling
  Content.Server/Communications/CommunicationsConsoleSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#379 Fix Interaction System
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Changes: C#, Changes: YML

#378 Glacier Emergency Shuttle Replacement - NTES Delta (Shoko Evac)
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#380 Floofstation Release V6
  .github/workflows/publish-stable.yml
  .github/workflows/publish-testing.yml
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Changelog/Floof.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: C#, Changes: Map, Changes: Workflow, Changes: YML

#346 Captain Whitelist
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: Changes: YML, Status: Do Not Merge, Status: Needs Review, Priority: 1-High

#381 Added Captain Whitelist
  Resources/Changelog/Floof.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: Changes: YML, Status: Needs Review

#382 Remove MassMindSwap
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-High
