Repository Floof-Station/Floof-Station, pull requests merged in 2024-10, with the labels that each got.

#217 Silly Loadouts
  Resources/Locale/en-US/Floof/loadouts/categories.ftl
  Resources/Locale/en-US/Floof/loadouts/itemgroups.ftl
  Resources/Prototypes/Floof/CharacterItemGroups/funGroup.yml
  Resources/Prototypes/Floof/Entities/Objects/Tools/leash.yml
  Resources/Prototypes/Floof/Loadouts/Categories/categories.yml
  Resources/Prototypes/Floof/Loadouts/items.yml
  Resources/Prototypes/Floof/Loadouts/itemsLewd.yml
  Resources/Prototypes/Floof/Loadouts/neck.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#220 Fix Disposal Pipes Ejection
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
Labels: Changes: C#, Status: Needs Review

#222 Fixes Leporazine Temperature Shock
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#210 New Mini-Hypospray From Frontier
  Resources/Locale/en-US/Floof/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Floof/Recipes/Lathes/medical.yml
  Resources/Prototypes/Floof/Research/civilianservices.yml
  Resources/Textures/Floof/Objects/Specific/Medical/hypomini.rsi/equipped-BELT.png
  Resources/Textures/Floof/Objects/Specific/Medical/hypomini.rsi/hypo.png
  Resources/Textures/Floof/Objects/Specific/Medical/hypomini.rsi/inhand-left.png
  Resources/Textures/Floof/Objects/Specific/Medical/hypomini.rsi/inhand-right.png
  Resources/Textures/Floof/Objects/Specific/Medical/hypomini.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium

#235 Rules Adjustment V1
  Resources/ServerInfo/Rules.txt
Labels: Status: Needs Review, Priority: 1-High

#236 Fix Mask Bug
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: Changes: YML, Status: Needs Review

#238 Reducing Antag Amount for Security Balance
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, Status: Needs Review

#240 Add DayNight Cycle
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Shared/_NC/DayNightCycle/DayNightCycleComponent.cs
  Content.Shared/_NC/DayNightCycle/DayNightCycleSystem.cs
  Resources/Maps/glacier.yml
Labels: Changes: C#, Changes: Map, Status: Needs Review, Priority: 2-Medium

#245 Blackeye-Shadowkin
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Antags/Thief.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Traits/species.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#246 Shadowkin Fixes/Changes
  Content.Client/Shadowkin/ShadowkinSystem.cs
  Content.Server/Shadowkin/EtherealStunItemSystem.cs
  Content.Server/Shadowkin/ShadowkinSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Shadowkin/EtherealComponent.cs
  Content.Shared/Shadowkin/EtherealStunItemComponent.cs
  Content.Shared/Shadowkin/SharedEtherealSystem.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Species/species_weights.yml
Labels: Changes: C#, Changes: YML, Priority: 1-High

#248 EyeColorFix
  Content.Server/Shadowkin/ShadowkinSystem.cs
  Content.Shared/Humanoid/EyeColor.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
Labels: Changes: C#, Status: Needs Review, Priority: 1-High

#251 Fix Arrivals Shuttle
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Status: Needs Review

#253 Add Tails to IPC
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
Labels: Changes: YML, Status: Needs Review

#261 Fix ethereal.swsl not compiling in Compatibility Mode
  Resources/Textures/Shaders/ethereal.swsl
Labels: Status: Needs Review, Priority: 1-High

#262 nerf antags and their events
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, Status: Needs Review

#264 Reptilian sounds
  Resources/Audio/Floof/Voice/Reptilian/attributions.yml
  Resources/Audio/Floof/Voice/Reptilian/hiss.ogg
  Resources/Audio/Floof/Voice/Reptilian/yip.ogg
  Resources/Prototypes/Floof/SoundCollections/emotes.yml
  Resources/Prototypes/Floof/Voice/speech_emote.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: Changes: Audio, Changes: YML, Status: Needs Review

#265 Shadowkin, Anomaly and Whitelist!
  Content.Server/FloofStation/AnomalyJobComponent.cs
  Content.Server/FloofStation/AnomalyJobSystem.cs
  Content.Server/FloofStation/DarkHubComponent.cs
  Content.Server/FloofStation/DarkPortalComponent.cs
  Content.Server/FloofStation/DarkPortalSystem.cs
  Content.Server/FloofStation/TheDarkSystem.cs
  Content.Server/Shadowkin/ShadowkinSystem.cs
  Content.Shared/Psionics/PsionicComponent.cs
  Content.Shared/Teleportation/Systems/SharedPortalSystem.cs
  Resources/Locale/en-US/Floof/job/job-description.ftl
  Resources/Locale/en-US/Floof/job/job-names.ftl
  Resources/Locale/en-US/Floof/shadowkin.ftl
  Resources/Maps/Floof/hideout.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Floof/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Floof/Entities/Objects/Devices/Misc/identification_card.yml
  Resources/Prototypes/Floof/Entities/Structures/shadowkin.yml
  Resources/Prototypes/Floof/Parallaxes/dark.yml
  Resources/Prototypes/Floof/Roles/Jobs/Wildcards/anomaly.yml
  Resources/Prototypes/Floof/Roles/play_time_trackers.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Antags/Thief.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Floof/Structures/dark.rsi/dark.png
  Resources/Textures/Floof/Structures/dark.rsi/meta.json
  Resources/Textures/Floof/Structures/dark.rsi/overlay-1.png
  Resources/Textures/Floof/Structures/dark.rsi/overlay-10.png
  Resources/Textures/Floof/Structures/dark.rsi/overlay-11.png
  Resources/Textures/Floof/Structures/dark.rsi/overlay-12.png
  Resources/Textures/Floof/Structures/dark.rsi/overlay-2.png
  Resources/Textures/Floof/Structures/dark.rsi/overlay-3.png
  Resources/Textures/Floof/Structures/dark.rsi/overlay-4.png
  Resources/Textures/Floof/Structures/dark.rsi/overlay-5.png
  Resources/Textures/Floof/Structures/dark.rsi/overlay-6.png
  Resources/Textures/Floof/Structures/dark.rsi/overlay-7.png
  Resources/Textures/Floof/Structures/dark.rsi/overlay-8.png
  Resources/Textures/Floof/Structures/dark.rsi/overlay-9.png
  Resources/Textures/Floof/Structures/phoronic.rsi/meta.json
  Resources/Textures/Floof/Structures/phoronic.rsi/phoronic.png
  Resources/Textures/Floof/Structures/shadowkin_portal.rsi/hub_portal.png
  Resources/Textures/Floof/Structures/shadowkin_portal.rsi/meta.json
  Resources/Textures/Floof/Structures/shadowkin_portal.rsi/portal.png
Labels: Changes: C#, Changes: Localization, Changes: Map, Changes: Sprite, Status: Needs Review, Status: Requires, Priority: 2-Medium

#267 Sleeping bag
  Resources/Prototypes/Floof/Entities/Structures/Furniture/sleeping_bag.yml
  Resources/Prototypes/Floof/Recipes/Crafting/improvised.yml
  Resources/Textures/Floof/Structures/sleepingbag.rsi/closed.png
  Resources/Textures/Floof/Structures/sleepingbag.rsi/folded.png
  Resources/Textures/Floof/Structures/sleepingbag.rsi/meta.json
  Resources/Textures/Floof/Structures/sleepingbag.rsi/open.png
  Resources/Textures/Floof/Structures/sleepingbag.rsi/opening.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#268 Dark Portal Etheral Fix
  Content.Server/Shadowkin/EtherealStunItemSystem.cs
  Content.Shared/Shadowkin/EtherealComponent.cs
  Resources/Prototypes/Floof/Entities/Structures/shadowkin.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#266 up the role times
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: YML, Status: Needs Review

#258 Adding Gekkering for Vulps, Emot Keyword
  Resources/Audio/Floof/Voice/Vulpkanin/gekker.ogg
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Floof/SoundCollctions/vulpkanin.yml
  Resources/Prototypes/Floof/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: Audio, Changes: YML, Status: Needs Review

#269 Added Weh Chat Trigger
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#275 Custom Specie Name for all!
  Resources/Prototypes/DeltaV/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#273 Fix gekker sounds
  Resources/Audio/Floof/Voice/Vulpkanin/gekker.ogg
Labels: Changes: Audio, Changes: YML, Status: Needs Review

#276 Fixes some localization files and the Health Analyzer window.
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review, Priority: 1-High

#278 Cherry-Pick a bunch of fixes.
  Content.Client/Chapel/SacrificialAltarSystem.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Chapel/SacrificialAltarSystem.cs
  Content.Shared/Chapel/SacrificeDoAfterEvent.cs
  Content.Shared/Chapel/SacrificialAltarComponent.cs
  Content.Shared/Chapel/SharedSacrificialAltarSystem.cs
  Resources/Audio/Floof/Voice/Vulpkanin/gekker.ogg
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/chapel/altar.ftl
  Resources/Maps/asterisk.yml
  Resources/Maps/glacier.yml
  Resources/Prototypes/DeltaV/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Nyanotrasen/Guidebook/epistemics.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/psionicArtifacts.yml
  Resources/ServerInfo/Nyanotrasen/Guidebook/Epistemics/Altar.xml
  Resources/map_attributions.txt
Labels: Changes: C#, Changes: Audio, Changes: Documentation, Changes: Localization, Changes: Map, Changes: UI, Changes: YML, Status: Needs Review, Priority: 1-High

#280 Bulk audio tweaks and fixes
  Resources/Audio/Floof/Lewd/kiss.ogg
  Resources/Audio/Floof/Lewd/lick.ogg
  Resources/Audio/Voice/Human/attributions.yml
  Resources/Audio/Voice/Human/female_cough_1.ogg
  Resources/Audio/Voice/Human/female_cough_2.ogg
  Resources/Audio/Voice/Human/female_sneeze_1.ogg
  Resources/Audio/Voice/Human/female_yawn_1.ogg
  Resources/Audio/Voice/Human/male_sneeze_1.ogg
  Resources/Audio/Voice/Human/male_yawn_1.ogg
  Resources/Prototypes/Announcers/michael.yml
Labels: Changes: Audio, Changes: YML, Status: Needs Review

#283 add the 45 mag to the sec fab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Recipes/Lathes/security.yml
Labels: Changes: YML, Status: Needs Review

#282 returning it to the Formaldehyde recipe for Oppo
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: YML, Status: Needs Review

#288 Remove KillRandomPersonObjective
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#287 Old Ahelp
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 3-Low

#289 space-law
  Resources/ServerInfo/SpaceLaw/SpaceLaw.md
Labels: Changes: Documentation, Changes: YML, Status: Needs Review, Priority: 2-Medium

#290 Added scent Tracking to Laika
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML, Status: Needs Review

#292 Swapped Hands HUD Fix
  Resources/Prototypes/Body/Prototypes/ipc.yml
  Resources/Prototypes/Body/Prototypes/shadowkin.yml
  Resources/Prototypes/DeltaV/Body/Prototypes/harpy.yml
  Resources/Prototypes/DeltaV/Body/Prototypes/vulpkanin.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/felinid.yml
Labels: Changes: YML, Status: Needs Review

#293 Fix Female Yipping
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: Changes: YML, Status: Needs Review

#298 Remove Blue Nukie Suit From Cargo
  Resources/Prototypes/Catalog/Cargo/cargo_hardsuits.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-High

#297 Nerf Mimic Vendor
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 2-Medium

#296 Fix Voice Mask
  Content.Server/VoiceMask/VoiceMaskSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#299 Portal/Dark/Spawn Fixes
  Content.Server/FloofStation/TheDarkSystem.cs
  Content.Shared/Teleportation/Systems/SharedPortalSystem.cs
  Resources/Maps/Floof/hideout.yml
  Resources/Prototypes/Floof/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Floof/Entities/Structures/shadowkin.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review, Priority: 1-High

#301 Mosin Rework Port over From Frontier
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#300 Add Neck Floof
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/floof_neckfull.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#302 Give Thermal Insulation to Penguins
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML, Status: Needs Review

#306 Remove Rape and SA From S-LAW
  Resources/Changelog/Floof.yml
  Resources/ServerInfo/SpaceLaw/SpaceLaw.md
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#310 Fixes Syndicate Uplink Categories
  Resources/Prototypes/Store/presets.yml
Labels: Changes: YML, Status: Needs Review

#304 Fix Steal Objective for RD Cloak
  Resources/Prototypes/DeltaV/Entities/Clothing/Neck/cloaks.yml
Labels: Changes: YML, Status: Needs Review
