Repository Floof-Station/Floof-Station, pull requests merged in 2024-12, with the labels that each got.

#327 Psionic Hypnosis
  Content.Client/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
  Content.Shared/Floofstation/Hypno/PsionicHypnoComponent.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/Floof/hypno.ftl
  Resources/Prototypes/Floof/Traits/mental.yml
  Resources/Prototypes/Floof/psionics.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/consent.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review, Status: Requires, Priority: 2-Medium

#342 Feat: Departament-Specific Lathes
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/techboard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium, Undergoing Maintainer Discussion

#386 NTNF Ship Update
  Resources/Maps/Floof/NTNFships/ntnfhummingbird.yml
  Resources/Maps/Floof/NTNFships/ntnfscarab.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#387 The "VORE" Update
  Content.Client/Floofstation/VoredSystem.cs
  Content.Server/FloofStation/VoreSystem.cs
  Content.Server/Medical/VomitSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/Floofstation/VoreComponent.cs
  Content.Shared/Floofstation/VoredComponent.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Audio/Floof/Vore/gulp.ogg
  Resources/Audio/Floof/Vore/stomach_loop.ogg
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/Floof/interaction/verbs/noop.ftl
  Resources/Locale/en-US/Floof/leash/leash-verbs.ftl
  Resources/Locale/en-US/Floof/leash/leash.ftl
  Resources/Locale/en-US/Floof/vore.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/scugcat.yml
  Resources/Prototypes/consent.yml
Labels: Changes: C#, Changes: Audio, Changes: Localization, Changes: YML, Status: Needs Review, Status: Requires, Priority: 2-Medium

#388 Remove some Uplink Items.
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, Priority: 1-High

#389 Nudity Permit
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Floof/CharacterItemGroups/uniformGroup.yml
  Resources/Prototypes/Floof/Entities/Clothing/Uniforms/misc.yml
  Resources/Prototypes/Floof/Loadouts/uniform.yml
  Resources/Prototypes/Floof/Roles/Jobs/Wildcards/anomaly.yml
  Resources/Textures/Floof/Clothing/Uniforms/loincloth.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/nuditypermit.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/nuditypermit.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#393 Small Fixes and Tweaks
  Content.Client/Jittering/JitteringSystem.cs
  Content.Server/Carrying/CarryingSystem.cs
  Resources/Prototypes/Floof/Language/scugsign.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#395 Cherry-Pick «Some Language Fixes»
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Language/animal.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#383 Mining Drill
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium, Priority: 3-Low

#396 Add Rubyfang OC
  Content.Server/Polymorph/Components/PolymorphProviderComponent.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.Provider.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Resources/Prototypes/Floof/Entities/Clothing/Neck/amulet.yml
  Resources/Textures/Floof/Clothing/Neck/amulet_dragon.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/amulet_dragon.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/amulet_dragon.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 1-High

#371 Nonlethal Weapon for an ONI
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Melee.yml
  Resources/Prototypes/Floof/Recipes/Crafting/Graphs/brassknuckles_graph.yml
  Resources/Prototypes/Floof/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Floof/Objects/Weapons/Melee/brassknuckles.rsi/equipped-HAND.png
  Resources/Textures/Floof/Objects/Weapons/Melee/brassknuckles.rsi/icon.png
  Resources/Textures/Floof/Objects/Weapons/Melee/brassknuckles.rsi/inhand-left.png
  Resources/Textures/Floof/Objects/Weapons/Melee/brassknuckles.rsi/inhand-right.png
  Resources/Textures/Floof/Objects/Weapons/Melee/brassknuckles.rsi/meta.json
  Resources/Textures/Floof/Objects/Weapons/Melee/crassknuckles.rsi/equipped-HAND.png
  Resources/Textures/Floof/Objects/Weapons/Melee/crassknuckles.rsi/icon.png
  Resources/Textures/Floof/Objects/Weapons/Melee/crassknuckles.rsi/inhand-left.png
  Resources/Textures/Floof/Objects/Weapons/Melee/crassknuckles.rsi/inhand-right.png
  Resources/Textures/Floof/Objects/Weapons/Melee/crassknuckles.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Awaiting Changes, Priority: 3-Low

#385 Irregular Extended Fix
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#398 V7 Patches
  Content.Client/Floofstation/VoredSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
  Content.Server/FloofStation/VoreSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/Floofstation/FloofCCvars.cs
  Content.Shared/Floofstation/VoreComponent.cs
  Content.Shared/Floofstation/VoredComponent.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/Floof/hypno.ftl
  Resources/Locale/en-US/Floof/vore.ftl
  Resources/Prototypes/Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/Floof/Species/resomi.yml
  Resources/Prototypes/Floof/Traits/mental.yml
  Resources/Prototypes/consent.yml
  Resources/Textures/Floof/Mobs/Customization/resomi_parts.rsi/tail.png
  Resources/Textures/Floof/Mobs/Customization/resomi_parts.rsi/tail_feathers.png
  Resources/Textures/Floof/Mobs/Species/Resomi/displacement.rsi/belt.png
  Resources/Textures/Floof/Mobs/Species/Resomi/displacement.rsi/head.png
  Resources/Textures/Floof/Mobs/Species/Resomi/displacement.rsi/neck.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: UI, Changes: YML, Status: Needs Review, Priority: 1-High

#397 Add .20 Rifle Rubber Box to Bartender Loadout
  Resources/Prototypes/CharacterItemGroups/serviceGroups.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/service.yml
Labels: Changes: YML, Status: Needs Review

#401 Add Firebreath to Rubyfang
  Resources/Prototypes/Floof/Entities/Clothing/Neck/amulet.yml
Labels: Changes: YML, Status: Needs Review

#400 Fix Mice Eating Uranium
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
Labels: Changes: YML, Status: Needs Review

#404 Secret Weights Adjustment
  Resources/Prototypes/secret_weights.yml
Labels: Changes: YML

#405 Add Wedding Rings to Loadouts
  Resources/Prototypes/CharacterItemGroups/gloveGroup.yml
  Resources/Prototypes/Floof/CharacterItemGroups/gloveGroup.yml
  Resources/Prototypes/Loadouts/hands.yml
Labels: Changes: YML, Status: Needs Review

#408 Mood Traits Nerf
  Resources/Prototypes/Mood/genericNegativeEffects.yml
  Resources/Prototypes/Mood/genericPositiveEffects.yml
Labels: Changes: YML, Status: Needs Review

#406 Adding Body Mass to Health Analyzer UI
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#409 Handheld Teleporter Portals Now Must Start on the Same Grid. (#28423)
  Content.Server/Teleportation/HandTeleporterSystem.cs
  Resources/Locale/en-US/teleportation/handheld-teleporter.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#410 Buff Smes
  Resources/Prototypes/Entities/Structures/Power/smes.yml
Labels: Changes: YML, Status: Needs Review

#412 Re-Enable Language Color and Font (#1294)
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#414 More Leash Tweaks
  Content.Client/Floofstation/Leash/LeashVisualsOverlay.cs
  Content.Client/Floofstation/Leash/LeashVisualsSystem.cs
  Content.Shared/Floofstation/Leash/Components/LeashAnchorComponent.cs
  Content.Shared/Floofstation/Leash/Components/LeashComponent.cs
  Content.Shared/Floofstation/Leash/Components/LeashedVisualsComponent.cs
  Content.Shared/Floofstation/Leash/LeashSystem.cs
  Resources/Locale/en-US/Floof/leash/leash-verbs.ftl
  Resources/Locale/en-US/Floof/verbs/verb-categories.ftl
  Resources/Migrations/floofmigration.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/lewd.yml
  Resources/Prototypes/Floof/Entities/Clothing/Neck/collars.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/scugcat.yml
  Resources/Prototypes/Floof/Entities/Objects/Tools/leash.yml
  Resources/Prototypes/Floof/Loadouts/items.yml
  Resources/Prototypes/Floof/Recipes/Lathes/tools.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/shock_collar.yml
  Resources/Textures/Floof/Interface/VerbIcons/resize.svg
  Resources/Textures/Floof/Interface/VerbIcons/resize.svg.192dpi.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#413 Female Displacement Disabled
  Content.Client/Clothing/ClientClothingSystem.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#411 Salvage Magnet UI and Character Switching Height/Width Bug Fix (#1347)
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/MainMenu/MainMenu.cs
  Content.Client/MainMenu/UI/MainMenuControl.xaml
  Content.Client/Salvage/UI/SalvageMagnetBoundUserInterface.cs
  Resources/Locale/en-US/main-menu/main-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#415 Senior Uniforms to More Jobs
  Resources/Prototypes/Loadouts/Jobs/engineering.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
Labels: Changes: YML, Status: Needs Review

#422 Adds the German Accent
  Content.Server/FloofStation/Speech/Components/GermanAccentComponent.cs
  Content.Server/FloofStation/Speech/EntitySystems/GermanAccentSystem.cs
  Resources/Locale/en-US/Floof/accent/german.ftl
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/languageGroups.yml
  Resources/Prototypes/Floof/Accents/word_replacements.yml
  Resources/Prototypes/Floof/Traits/neutral.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#423 Unrevivable Trait
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Traits/Assorted/UnrevivableComponent.cs
  Resources/Locale/en-US/medical/components/defibrillator.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 1-High

#421 Footprints Fixes
  Content.Server/Chemistry/TileReactions/CleanTileReaction.cs
  Content.Server/FootPrint/FootPrintsSystem.cs
  Content.Shared/Footprint/FootPrintsComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#418 Event Conditions
  Content.Server/FloofStation/GameTicking/StationEventCondition.cs
  Content.Server/FloofStation/GameTicking/StationEventConditions.Players.cs
  Content.Server/FloofStation/GameTicking/StationEventConditions.Utility.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Resources/Prototypes/Floof/Gamerules/base.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#425 Station Anchor
  Content.Client/Power/PowerCharge/PowerChargeBoundUserInterface.cs
  Content.Client/Power/PowerCharge/PowerChargeComponent.cs
  Content.Client/Power/PowerCharge/PowerChargeWindow.xaml
  Content.Client/Power/PowerCharge/PowerChargeWindow.xaml.cs
  Content.Server/Power/Components/PowerChargeComponent.cs
  Content.Server/Power/EntitySystems/PowerChargeSystem.cs
  Content.Server/Shuttles/Components/StationAnchorComponent.cs
  Content.Server/Shuttles/Systems/StationAnchorSystem.cs
  Content.Shared/Power/SharedPowerCharge.cs
  Content.Shared/Power/SharedPowerChargeComponent.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Resources/Locale/en-US/components/station-anchor-component.ftl
  Resources/Locale/en-US/power/components/power-charging-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Shuttles/station_anchor.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Structures/Machines/station_anchor.rsi/meta.json
  Resources/Textures/Structures/Machines/station_anchor.rsi/station_anchor.png
  Resources/Textures/Structures/Machines/station_anchor.rsi/station_anchor_unlit.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: UI, Changes: YML, Status: Needs Review

#424 Bring Back Secwatch
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiFragment.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchEntryControl.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchEntryControl.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchUiFragment.xaml.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/SecWatchCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/SecWatchCartridgeSystem.cs
  Content.Server/DeltaV/CartridgeLoader/CrimeAssistCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/CrimeAssistCartridgeSystem.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiState.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/SecWatchUiState.cs
  Resources/Locale/en-US/deltav/cartridge-loader/secwatch.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#427 Map Changes
  Resources/Maps/Floof/asterisk.yml
  Resources/Maps/Floof/glacier.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#426 Fix some Species Not Leaving Footprints
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: YML, Status: Needs Review

#420 Security Borg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Robotics/Borgmodules.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Melee.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/guns.yml
  Resources/Prototypes/Floof/tags.yml
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/meta.json
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadsprite.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritel.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriter.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-Advmeasures.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-capture.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-explosive.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-investigation.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-kill.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-stun.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/meta.json
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/security.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#429 Add Codeword Highlighting (#30092)
  Content.Client/Roles/RoleCodewordSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Roles/RoleCodeword/RoleCodewordSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Roles/RoleCodeword/RoleCodewordComponent.cs
  Content.Shared/Roles/RoleCodeword/SharedRoleCodewordSystem.cs
  Resources/Prototypes/Datasets/adjectives.yml
  Resources/Prototypes/Datasets/verbs.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#428 Adds Corps Socks to Sec Loadout
  Resources/Prototypes/Floof/Entities/Clothing/departmental_clothes.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
Labels: Changes: YML

#433 Adding Humpshroom and Breedshroom.
  Resources/Locale/en-US/Floof/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Floof/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Floof/Hydroponics/seeds.yml
  Resources/Textures/Floof/Objects/Specific/Hydroponics/breedshroom.rsi/dead.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/breedshroom.rsi/harvest.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/breedshroom.rsi/meta.json
  Resources/Textures/Floof/Objects/Specific/Hydroponics/breedshroom.rsi/produce.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/breedshroom.rsi/seed.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/breedshroom.rsi/stage-1.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/breedshroom.rsi/stage-2.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/humpshroom.rsi/dead.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/humpshroom.rsi/harvest.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/humpshroom.rsi/meta.json
  Resources/Textures/Floof/Objects/Specific/Hydroponics/humpshroom.rsi/produce.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/humpshroom.rsi/seed.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/humpshroom.rsi/stage-1.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/humpshroom.rsi/stage-2.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML

#434 Fix .20 Rifle Rubber Box and Added Rubber .20 Speedloader for Bartenders.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/service.yml
Labels: Changes: YML, Status: Needs Review

#435 Better Vent Critters
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Locale/en-US/station-events/events/vent-critters.ftl
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/Floof/Gamerules/Events.yml
  Resources/Prototypes/GameRules/base.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#439 Vulpkanin Yapping
  Resources/Audio/Floof/Voice/Vulpkanin/yap.ogg
  Resources/Locale/en-US/Floof/chat/emotes.ftl
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Floof/SoundCollections/emotes.yml
  Resources/Prototypes/Floof/Voice/speech_emotes.yml
Labels: Changes: Audio, Changes: Localization, Changes: YML

#443 Fix Squeaking Stir Fry Recipe
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
Labels: Changes: YML, Status: Needs Review

#445 Even Better Footprints
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.Footprints.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/FootPrint/FootPrintsSystem.cs
  Content.Shared/Fluids/AbsorbentComponent.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#441 Command Glasses
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Textures/Clothing/Eyes/Glasses/commandglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Glasses/commandglasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/commandglasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/commandglasses.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/commandglasses.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/commandglasses.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Hud/command.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/command.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Hud/command.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Hud/command.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Hud/command.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#431 Map Addition Kettle
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Floof/kettle.yml
  Resources/Prototypes/Maps/kettle.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review, Priority: 2-Medium

#438 Update to the Corps Sock
  Resources/Prototypes/Floof/Entities/Clothing/departmental_clothes.yml
Labels: Changes: YML, Status: Needs Review

#440 Add FTL Arrival Visuals (#29402)
  Content.Client/Shuttles/FtlArrivalOverlay.cs
  Content.Client/Shuttles/Systems/ShuttleSystem.EmergencyConsole.cs
  Content.Client/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Shuttles/Components/FTLComponent.cs
  Content.Shared/Shuttles/Components/FtlVisualizerComponent.cs
  Resources/Prototypes/Entities/Effects/shuttle.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Textures/Effects/medi_holo.rsi/medi_holo.png
  Resources/Textures/Effects/medi_holo.rsi/meta.json
Labels: Changes: C#, Changes: Map, Changes: Sprite, Changes: YML, Status: Needs Review

#442 NT & SYNDI Shuttles for Admins
  Resources/Maps/Floof/EventShuttles/NanotrasenCafe.yml
  Resources/Maps/Floof/EventShuttles/SyndicateCafe
  Resources/Maps/Floof/EventShuttles/syndicateExtractorShip.yml
  Resources/Maps/Floof/EventShuttles/syndicateFreighterShip.yml
  Resources/Maps/Floof/EventShuttles/syndicateTroopAssault.yml
  Resources/Maps/Floof/EventShuttles/syndicatecargoshuttle.yml
  Resources/Maps/Floof/EventShuttles/syndicatefighter.yml
  Resources/Maps/Floof/TidersVsNukies/glacider.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review
