Repository Floof-Station/Floof-Station, pull requests merged in 2025-05, with the labels that each got.

#858 New Oni Weapons- Halberds V 2
  Resources/Locale/en-US/_Floof/research/technologies.ftl
  Resources/Locale/en-US/_Floof/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Floof/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Floof/Entities/Objects/Weapons/Guns/shotguns.yml
  Resources/Prototypes/_Floof/Entities/Objects/Weapons/Melee.yml
  Resources/Prototypes/_Floof/Recipes/Lathes/security.yml
  Resources/Prototypes/_Floof/Research/arsenal.yml
  Resources/Textures/_Floof/Objects/Weapons/Melee/e_halberd-inhands.rsi/inhand-left-blade.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/e_halberd-inhands.rsi/inhand-left.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/e_halberd-inhands.rsi/inhand-right-blade.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/e_halberd-inhands.rsi/inhand-right.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/e_halberd-inhands.rsi/meta.json
  Resources/Textures/_Floof/Objects/Weapons/Melee/e_halberd-inhands.rsi/wielded-inhand-left.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/e_halberd-inhands.rsi/wielded-inhand-right.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/e_halberd.rsi/e_halberd.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/e_halberd.rsi/e_halberd_blade.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/e_halberd.rsi/icon.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/e_halberd.rsi/meta.json
  Resources/Textures/_Floof/Objects/Weapons/Melee/halberd.rsi/icon.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/halberd.rsi/inhand-left.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/halberd.rsi/inhand-right.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/halberd.rsi/meta.json
  Resources/Textures/_Floof/Objects/Weapons/Melee/halberd.rsi/wielded-inhand-left.png
  Resources/Textures/_Floof/Objects/Weapons/Melee/halberd.rsi/wielded-inhand-right.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#936 mark stale PR
  .github/workflows/stale.yml
  Scripts/git/mirror-pr.sh
Labels: Changes: Workflow, Changes: YML

#938 Floof/Fix More Automation
  .github/workflows/stale.yml
Labels: Changes: Workflow, Changes: YML, Status: Needs Review

#881 Upstream Merge #1477
  Resources/Locale/en-US/traits/misc.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#909 Added Oni Snout/Tail Customizations
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/felinid.yml
Labels: Changes: YML, Status: Needs Review

#905 Upstream Merge #1483
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Store/Conditions/BuyerDepartmentCondition.cs
  Content.Shared/Roles/DepartmentPrototype.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#906 Upstream Merge #1458
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: YML, Status: Needs Review

#898 Venteventredux
  Resources/Prototypes/Entities/Mobs/NPCs/Rslimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/_Floof/Gamerules/Events.yml
Labels: Changes: YML, Status: Needs Review

#899 Leash Fixes Part 812471
  Content.Shared/_Floof/Leash/Components/LeashAnchorComponent.cs
  Content.Shared/_Floof/Leash/LeashSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Floof/Entities/Clothing/Neck/collars.yml
  Resources/Prototypes/_Floof/Entities/Clothing/Uncategorized/harness.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#917 Upstream Merge #1501
  Content.Client/Weather/WeatherSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#902 Few Loadout Modifications
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/_Floof/Loadouts/Generic/items.yml
Labels: Changes: YML, Status: Needs Review

#926 Upstream Merge #1511
  Resources/Locale/en-US/ghost/ghost-respawn.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#887 Port RP Chems From Cosmic Drift
  Content.Server/EntityEffects/Effects/ChemAddMoodlet.cs
  Content.Server/Mood/MoodSystem.cs
  Content.Server/_Floof/EntityEffects/EffectConditions/MoodCategory.cs
  Content.Server/_Floof/EntityEffects/EffectConditions/MoodEffect.cs
  Resources/Locale/en-US/_CD/reagents/RPmeds.ftl
  Resources/Locale/en-US/_CD/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_CD/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/_Floof/guidebook/chemistry/conditions.ftl
  Resources/Locale/en-US/_Floof/mood/mood.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/_CD/Reactions/medicine.yml
  Resources/Prototypes/_CD/Reagents/medicine.yml
  Resources/Prototypes/_Floof/Mood/categories.yml
  Resources/Prototypes/_Floof/Mood/drugs.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#851 Task Glamour (Split Vulp Point Markings)
  Resources/Locale/en-US/_Floof/markings/vulpkanin.ftl
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_crest-armsL.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_crest-armsR.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_crest-legsL.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_crest-legsR.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_fade-armsL.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_fade-armsR.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_fade-legsL.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_fade-legsR.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_feetL.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_feetR.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_handL.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_handR.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_sharp-armsL.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_sharp-armsR.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_sharp-legsL.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/body_markings.rsi/points_sharp-legsR.png
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/head_markings.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Vulpkanin/head_markings.rsi/vulpine-lines-white.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#725 Damage Interruption Unique Species Messages
  Resources/Locale/en-US/_Floof/damage/damage-force-say.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#929 Upstream Merge #1508 | Add Pockets and Tail-Drag to Admin Ghosts
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
Labels: Changes: YML, Status: Needs Review

#912 Upstream Merge #1492
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: YML, Status: Needs Review

#928 Upstream Merge #1515 | Stamp Fix
  Resources/Locale/en-US/paper/stamp-component.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#950 Update Fork
  .github/workflows/publish-stable.yml
  .github/workflows/publish-testing.yml
Labels: Changes: Workflow, Changes: YML, Status: Needs Review

#947 Moves The Remaining Files to _Floof
  Resources/Prototypes/_Floof/CharacterItemGroups/Jobs/Logi/inventorySpecialist.yml
  Resources/Prototypes/_Floof/Roles/Jobs/Logi/inventory_specialist.yml
Labels: Changes: YML, Status: Needs Review

#952 Fix Diona Thirst
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Labels: Changes: YML, Status: Needs Review

#953 Minor French Fix 2
  Resources/Locale/en-US/_Floof/accent/french.ftl
  Resources/Prototypes/_Floof/Accents/word_replacements.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#945 Upstream Merge #1840 | Tricord Tweak (Annoying Medbots)
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: YML, Status: Needs Review

#955 Lower Greytide Virus Event Chance
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, Status: Needs Review

#957 Remove Ai Job Slot
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML, Status: Needs Review

#960 Remove Default Hotbar Loadouts Keybinds
  Resources/keybinds.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-High

#963 Remove Automatic Page Switching when the Action Bar Overflows
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#910 Upstream Merge #1491
  Content.Server/StationEvents/Events/RandomSentienceRule.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#962 Laser Bounty Fix
  Resources/Prototypes/Catalog/Bounties/bounties.yml
Labels: Changes: YML, Status: Needs Review

#958 Butter Fix
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Labels: Changes: YML, Status: Needs Review

#959 Remove Hijack and Improve Kill Group
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Floof/Objectives/traitor.yml
Labels: Changes: YML, Status: Needs Review

#934 Trait Fixes and Bionic Leg Trait
  Content.Server/Traits/TraitSystem.Functions.cs
  Resources/Locale/en-US/traits/misc.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 1-High

#951 Friendlier Animals! (And a Non-Exclusive Excommunicant)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/behonker.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Clowns.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/ai_factions.yml
Labels: Changes: YML, Status: Needs Review

#968 Fix ID Locks and ID Consoles
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/_Floof/Lock/IdLockSystem.cs
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base_structurelockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/_Floof/Entities/Structures/Storage/Closets/Lockers/id_locker.yml
  Resources/Prototypes/_Floof/Entities/Structures/Storage/Closets/Lockers/id_locker_base.yml
Labels: Changes: C#, Changes: YML

#943 Upstream Merge #1703/#1838 - The Weldbot
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/PickNearbyWeldableOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/WeldbotWeldOperator.cs
  Content.Server/NPC/NPCBlackboard.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Silicons/Bots/WeldbotComponent.cs
  Content.Shared/Silicons/Bots/WeldbotSystem.cs
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/npc/weldbot.ftl
  Resources/Prototypes/DeltaV/Entities/Structures/Windows/tinted_windows.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/weldbot.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/coil.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/NPCs/weldbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/weldbot.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Windows/windows.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Mobs/Silicon/Bots/weldbot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/weldbot.rsi/weldbot.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#935 Add Safety Harness to Lathes
  Content.Shared/Lathe/EmagLatheComponent.cs
  Content.Shared/Lathe/LatheComponent.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Floof/Recipes/Lathes/clothing.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 3-Low

#973 fix publish
  .github/workflows/prtitlecase.yml
Labels: Status: Needs Review

#911 Upstream Merge #1488
  Content.Client/Materials/MaterialSiloSystem.cs
  Content.Client/Materials/MaterialStorageSystem.cs
  Content.Client/Materials/UI/MaterialStorageControl.xaml
  Content.Client/Materials/UI/MaterialStorageControl.xaml.cs
  Content.Server/Materials/MaterialSiloSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Materials/MaterialSiloComponent.cs
  Content.Shared/Materials/MaterialSiloUtilizerComponent.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialSiloSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/machines/material_silo.ftl
  Resources/Prototypes/DeviceLinking/sink_ports.yml
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/material_silo.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Structures/Machines/material_silo.rsi/inserting.png
  Resources/Textures/Structures/Machines/material_silo.rsi/material_silo.png
  Resources/Textures/Structures/Machines/material_silo.rsi/meta.json
Labels: Changes: C#, Changes: Audio, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: YML, Status: Needs Review

#913 Upstream Merge #1494
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#901 Fix Certain Species Fixtures
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Species/rodentia.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/_Floof/Species/resomi.yml
Labels: Changes: YML, Status: Needs Review

#974 Task Addendum I (Changelog Correction)
  Resources/Changelog/Floof.yml
Labels: Changes: YML, Status: Needs Review

#976 New Wedding Rings
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Loadouts/Generic/hands.yml
  Resources/Prototypes/_Floof/CharacterItemGroups/ringGroup.yml
  Resources/Prototypes/_Floof/Entities/Clothing/Hands/miscgloves.yml
  Resources/Prototypes/_Floof/Loadouts/Generic/hands.yml
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/goldband.rsi/equipped-HAND.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/goldband.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/goldband.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/golddiamondring.rsi/equipped-HAND.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/golddiamondring.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/golddiamondring.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/goldspidergemring.rsi/equipped-HAND.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/goldspidergemring.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/goldspidergemring.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/webbingband.rsi/equipped-HAND.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/webbingband.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/webbingband.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/webbingdiamondring.rsi/equipped-HAND.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/webbingdiamondring.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/webbingdiamondring.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/webbingspidergemring.rsi/equipped-HAND.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/webbingspidergemring.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Rings/webbingspidergemring.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#969 Weaponized Dildos
  Resources/Audio/_Floof/Lewd/vibrate_loop.ogg
  Resources/Prototypes/_Floof/Entities/Objects/Lewd/dildos.yml
  Resources/Prototypes/_Floof/Entities/Objects/Lewd/vibes.yml
Labels: Changes: Audio, Changes: YML, Status: Needs Review

#941 Floof/Enable Nightvision Trait
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#975 Feat: Paintable Leashes
  Content.Client/_Floof/Leash/LeashVisualsOverlay.cs
  Content.Shared/_Floof/Leash/LeashSystem.cs
  Resources/Prototypes/_Floof/Loadouts/Generic/items.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#930 Upstream Merge #1469 | Fix Which Side Is Considered Right/Left for Multi-Object Benches and Sofas.
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/right.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#964 Better PDA Popup
  Content.Client/Popups/PopupSystem.cs
  Content.Server/PDA/Ringer/RingerSystem.cs
  Content.Server/Popups/PopupSystem.cs
  Content.Shared/Popups/SharedPopupSystem.cs
  Resources/Locale/en-US/pda/Ringer/ringer-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#931 Upstream Merge #1520 | Adds SuitStorageComponent to DeltaV Armor
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: YML, Status: Needs Review

#978 Argenti Clean Up
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: Changes: YML, Status: Needs Review

#979 Drozd Nerf
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: YML, Status: Needs Review

#954 Map Rework Meta
  Resources/Maps/Floof/meta.yml
  Resources/Prototypes/Maps/meta.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#967 Gives IPCs Snouts, Adds Species Adaptor Markings
  Resources/Locale/en-US/_Floof/markings/species_adaptors.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/feroxi.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/face.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/species_adaptors.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/vulpkanin.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#948 PET-Spider
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Floof/Loadouts/Generic/items.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#921 Upstream Merge #1502
  Content.Server/Materials/MaterialSiloSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Status: Requires

#923 Upstream Merge #1506
  .github/workflows/build-docfx.yml
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/publish-testing.yml
  .github/workflows/test-packaging.yml
  .github/workflows/yaml-linter.yml
Labels: Changes: Workflow, Changes: YML, Status: Needs Review

#925 Upstream Merge #1519
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#983 Fix SharedBodySystem Throwing NPE While Applying State
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#984 Vulp Compatible Syndicate Hardsuits
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-equipped-HELMET-vulpkanin.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#970 Slot Blocking
  Content.Shared/_Floof/Clothing/ClothingLimit/ClothingLimitComponent.cs
  Content.Shared/_Floof/Clothing/ClothingLimit/ClothingLimitSystem.cs
  Content.Shared/_Floof/Clothing/SlotBlocker/InventorySlotBlockingComponent.cs
  Content.Shared/_Floof/Clothing/SlotBlocker/SlotBlockerComponent.cs
  Content.Shared/_Floof/Clothing/SlotBlocker/SlotBlockerSystem.cs
  Resources/Locale/en-US/_Floof/clothing/slot-blocker.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/InventoryTemplates/inventorybase.yml
  Resources/Prototypes/_Floof/Entities/Clothing/Uncategorized/harness.yml
  Resources/Prototypes/_Floof/Entities/Clothing/Uniforms/misc.yml
  Resources/Prototypes/_Floof/Entities/Clothing/base.yml
  Resources/Prototypes/_Floof/Entities/Clothing/departmental_clothes.yml
  Resources/Prototypes/_Floof/tags.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#988 Project Guild, Block I (Department Neckerchiefs)
  Resources/Locale/en-US/_Floof/loadouts/generic/neck.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/neckGroup.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/commandUncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/uncategorized.yml
  Resources/Prototypes/_Floof/Entities/Clothing/Neck/neckerchiefs.yml
  Resources/Prototypes/_Floof/Loadouts/Generic/neck.yml
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/Neckerchief.rsi/equipped-NECK.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/Neckerchief.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/Neckerchief.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefCargo.rsi/equipped-NECK.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefCargo.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefCargo.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefCommand.rsi/equipped-NECK.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefCommand.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefCommand.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefEngineering.rsi/equipped-NECK.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefEngineering.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefEngineering.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefMedical.rsi/equipped-NECK.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefMedical.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefMedical.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefScience.rsi/equipped-NECK.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefScience.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefScience.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefSecurity.rsi/equipped-NECK.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefSecurity.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefSecurity.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefService.rsi/equipped-NECK.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefService.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Neck/Neckerchiefs/NeckerchiefService.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium

#993 Fix Incorrect Entity Uid Being Passed to IsSlotObstructed
  Content.Shared/_Floof/Clothing/SlotBlocker/SlotBlockerSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#981 Kitsune Fixes + EE 1709
  Content.Server/Cloning/CloningSystem.Utility.cs
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/_DV/Abilities/Kitsune/KitsuneSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/_DV/Abilities/Kitsune/KitsuneComponent.cs
  Content.Shared/_DV/Abilities/Kitsune/SharedKitsuneSystem.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/kitsune.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#927 Upstream Merge #1512
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#932 Upstream Merge #1510 | [Add] More Winter Coats in Loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chemist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/warden.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/bartender.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/botanist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/janitor.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/musician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/Loadouts/Jobs/Service/botanist.yml
  Resources/Prototypes/Loadouts/Jobs/Service/clown.yml
  Resources/Prototypes/Loadouts/Jobs/Service/janitor.yml
  Resources/Prototypes/Loadouts/Jobs/Service/musician.yml
Labels: Changes: YML, Status: Awaiting Changes, Priority: 3-Low

#986 Fix Changelog for #935
  Resources/Changelog/Floof.yml
Labels: Changes: YML, Status: Needs Review

#1000 Fix the Conflict Between Slot Blocking and Loadouts
  Content.Shared/Inventory/Events/EquipAttemptEvents.cs
  Content.Shared/Inventory/Events/UnequipAttemptEvent.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/_Floof/Clothing/SlotBlocker/SlotBlockerSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1002 Upstream Merge #1523 | Maybe Fix Antag Related Crash
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#972 Sprite Movement Working with AIs
  Content.Client/Movement/Systems/ClientSpriteMovementSystem.cs
  Content.Client/Movement/Systems/SpriteMovementSystem.cs
  Content.Server/Movement/Systems/SpriteMovementSystem.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Shared/Movement/Components/SpriteMovementComponent.cs
  Content.Shared/Movement/Events/SpriteMoveEvent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedSpriteMovementSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Mobs/Animals/clownspider.rsi/clown-moving.png
  Resources/Textures/Mobs/Animals/clownspider.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium

#997 Task Addendum II (Changelog Correction, Again)
  Resources/Changelog/Floof.yml
Labels: Changes: YML, Status: Needs Review

#1009 Change to Hypno Trait
  Resources/Locale/en-US/_Floof/hypno.ftl
  Resources/Prototypes/_Floof/Actions/psionics.yml
  Resources/Prototypes/_Floof/Traits/mental.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1010 Coo Coo for Harpies
  Resources/Audio/_Floof/Voice/Harpy/attributions.yml
  Resources/Audio/_Floof/Voice/Harpy/harpy_coo1.ogg
  Resources/Audio/_Floof/Voice/Harpy/harpy_coo2.ogg
  Resources/Audio/_Floof/Voice/Harpy/harpy_coo3.ogg
  Resources/Audio/_Floof/Voice/Harpy/harpy_coo4.ogg
  Resources/Audio/_Floof/Voice/Harpy/harpy_coo5.ogg
  Resources/Locale/en-US/_Floof/chat/emotes.ftl
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Floof/SoundCollections/emotes.yml
  Resources/Prototypes/_Floof/Voice/speech_emotes.yml
Labels: Changes: Audio, Changes: Localization, Changes: YML, Status: Needs Review

#1008 Add Alternative Unathi Female Chest
  Resources/Locale/en-US/_Floof/markings/reptilian.ftl
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Floof/Mobs/Customization/Reptilian/chest_female_alternate.rsi/chest.png
  Resources/Textures/Floof/Mobs/Customization/Reptilian/chest_female_alternate.rsi/chest_secondary.png
  Resources/Textures/Floof/Mobs/Customization/Reptilian/chest_female_alternate.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#705 Implant Trackers Rework
  Resources/Locale/en-US/_Floof/research/technologies.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Floof/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Floof/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Floof/Research/civilianservices.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 3-Low

#1006 Kitsune Hotfix (Give Topicals BiologicalMetaphysical Damage Containers)
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#1016 Adjust Job Counts & Adjusted Departments
  Resources/Maps/Floof/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1001 Upstream Merge #1521 | Nerf Salvage
  Resources/Locale/en-US/weapons/extenddescriptions/descriptions.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_legality.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1020 Fix Shuttle Windows Allowing Grilles Underneath to Stay Electrified
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
Labels: Changes: YML, Status: Needs Review

#1023 Upstream Merge #2399 | Garand Ping
  Resources/Audio/Weapons/Guns/EmptyAlarm/M1_empty_alarm.ogg
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/markone.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/tags.yml
Labels: Changes: Audio, Changes: YML, Status: Needs Review

#1017 Sex Update - Loadout
  Resources/Prototypes/_Floof/CharacterItemGroups/funGroup.yml
  Resources/Prototypes/_Floof/Loadouts/Generic/items.yml
  Resources/Prototypes/_Floof/Loadouts/Generic/itemsLewd.yml
Labels: Changes: YML, Status: Needs Review

#1033 Voice Mask Chameleon Fix
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
Labels: Changes: YML, Status: Needs Review

#985 Clown Abominations Part 1 [Clown Rat]
  Resources/Locale/en-US/_Floof/store/uplink-catalog.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Floof/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/clown_abominations.yml
  Resources/Textures/_Floof/Mobs/Animals/clown_mouse.rsi/0-equipped-HELMET.png
  Resources/Textures/_Floof/Mobs/Animals/clown_mouse.rsi/0-inhand-left.png
  Resources/Textures/_Floof/Mobs/Animals/clown_mouse.rsi/0-inhand-right.png
  Resources/Textures/_Floof/Mobs/Animals/clown_mouse.rsi/dead-0.png
  Resources/Textures/_Floof/Mobs/Animals/clown_mouse.rsi/icon-0.png
  Resources/Textures/_Floof/Mobs/Animals/clown_mouse.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Animals/clown_mouse.rsi/mouse-0.png
  Resources/Textures/_Floof/Mobs/Animals/clown_mouse.rsi/mouse-moving-0.png
  Resources/Textures/_Floof/Mobs/Animals/clown_mouse.rsi/splat-0.png
  Resources/Textures/_Floof/Mobs/Animals/clown_rat.rsi/0-equipped-HELMET.png
  Resources/Textures/_Floof/Mobs/Animals/clown_rat.rsi/0-inhand-left.png
  Resources/Textures/_Floof/Mobs/Animals/clown_rat.rsi/0-inhand-right.png
  Resources/Textures/_Floof/Mobs/Animals/clown_rat.rsi/dead-0.png
  Resources/Textures/_Floof/Mobs/Animals/clown_rat.rsi/icon-0.png
  Resources/Textures/_Floof/Mobs/Animals/clown_rat.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Animals/clown_rat.rsi/mouse-0.png
  Resources/Textures/_Floof/Mobs/Animals/clown_rat.rsi/mouse-moving-0.png
  Resources/Textures/_Floof/Mobs/Animals/clown_rat.rsi/splat-0.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium, Undergoing Maintainer Discussion

#1036 Revert "Update PowerCellSystem.Draw.cs (#900)"
  Content.Server/PowerCell/PowerCellSystem.Draw.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1026 Toy Sword Fix
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Status: Needs Review

#1038 Accentless Cost Removal
  Resources/Prototypes/Traits/neutral.yml
Labels: Changes: YML, Status: Needs Review

#1041 Fix Harpy Coos
  Resources/Audio/_Floof/Voice/Harpy/attributions.yml
  Resources/Audio/_Floof/Voice/Harpy/harpy_coo1.ogg
  Resources/Audio/_Floof/Voice/Harpy/harpy_coo2.ogg
  Resources/Audio/_Floof/Voice/Harpy/harpy_coo3.ogg
  Resources/Audio/_Floof/Voice/Harpy/harpy_coo4.ogg
  Resources/Audio/_Floof/Voice/Harpy/harpy_coo5.ogg
Labels: Changes: Audio, Changes: YML

#1035 Energy Toys
  Resources/Locale/en-US/_Floof/store/uplink-catalog.ftl
  Resources/Prototypes/_Floof/Catalog/Fills/Belts/esheath.yml
  Resources/Prototypes/_Floof/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Floof/Entities/Objects/Fun/toys.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1004 Upstream Merge #1534 | Fix NTR Stamp Icon On Paper & Fix Job IDs
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nanorep.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#1040 Fix Anomaly Scan Data Copying
  Content.Server/Anomaly/AnomalySystem.Scanner.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 3-Low
