Repository Floof-Station/Floof-Station, pull requests merged in 2025-10, with the labels that each got.

#1452 Candy Bowl Freedom
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: Changes: YML, Status: Needs Review, Priority 3: Standard

#1463 A Few Fixes
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/UnPullOperator.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/_Floof/NPC/HTN/Queries/Considerations/TargetUnobstructedCon.cs
  Resources/Prototypes/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/NPCs/utility_queries.yml
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority 2: Elevated

#1466 Make Vox Pickupable
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Changes: YML, Status: Needs Review, Priority 2: Elevated

#1449 AHelp Fix: Add Error Catching on Network Requests (And Very Simple "Retry" Logic?)
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority 2: Elevated

#1386 Upstream Merge of EE 1875 (Document Printers)
  Resources/Locale/en-US/_Floof/lathe/lathe-categories.ftl
  Resources/Locale/en-US/corvax/lathe/lathe-categories.ftl
  Resources/Locale/en-US/corvax/paper/doc-printer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/catalog/fills/paper/document.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/materials/sheets/other.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/flatpacks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/machines/printer.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Corvax/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/flatpacks.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Corvax/Lathes/misc.yml
  Resources/Prototypes/Corvax/Reagents/Materials/materials.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/categories.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/printer.yml
  Resources/Prototypes/Corvax/Stack/other_stacks.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Floof/Recipes/Lathes/categories.yml
  Resources/Prototypes/_Floof/Recipes/Lathes/printer.yml
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/building.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/idle.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/panel.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority 2: Elevated

#1451 Adds Cane to Medical Techfab & Loadout
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Floof/Loadouts/Generic/items.yml
  Resources/Prototypes/_Floof/Recipes/Lathes/medical.yml
Labels: Changes: YML, Status: Needs Review, Priority 2: Elevated

#1455 Add the Nurse Outfit to the Medical Loadout
  Resources/Prototypes/_Floof/Loadouts/Jobs/Medical/uncategorized.yml
Labels: Changes: YML, Status: Needs Review, Priority 3: Standard

#1447 Edge Update
  Resources/Maps/Floof/edge.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Priority 3: Standard

#1469 Fox Yips & Whines for Vulps
  Resources/Locale/en-US/_Floof/chat/emotes.ftl
  Resources/Prototypes/DeltaV/SoundCollections/vulpkanin.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Floof/SoundCollections/emotes.yml
  Resources/Prototypes/_Floof/Voice/animal_speech_emotes.yml
  Resources/Prototypes/_Floof/Voice/speech_emotes.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review
