Repository Floof-Station/Floof-Station, pull requests merged in 2025-02, with the labels that each got.

#522 Moth Wings Quick Fix
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-High

#506 Update for Central Command Outpost and Shuttle
  Resources/Maps/Floof/admin_only/CCO1362.yml
  Resources/Maps/Floof/admin_only/CCS6378.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Priority: 3-Low

#512 Add the other Rubber Mags and fix the visuals of the any mags
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#517 Beacons no longer glitch off on grid split (WizardsDen#28518)
  Content.Server/Pinpointer/NavMapSystem.cs
Labels: Changes: C#, Changes: YML

#528 Biosynthetic Left Leg Fix
  Resources/Prototypes/Body/Parts/generic.yml
Labels: Changes: YML, Status: Needs Review

#526 Update Resomi body and parts definition to follow surgery update specifications
  Resources/Prototypes/Floof/Body/Parts/resomi.yml
  Resources/Prototypes/Floof/Body/Prototypes/resomi.yml
Labels: Changes: YML, Status: Needs Review

#531 Fixes and tweaks - wave 3
  Content.Client/Buckle/BuckleSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/DebrainedSystem.cs
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/Medical/Surgery/SurgerySystem.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/MedibotInjectOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/PickNearbyInjectableOperator.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
  Content.Shared/Fluids/Components/PreventSpillerComponent.cs
  Content.Shared/Fluids/SharedPuddleSystem.Spillable.cs
  Content.Shared/Nutrition/Components/ButcherableComponent.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Resources/Locale/en-US/surgery/surgery-ui.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/base.yml
  Resources/Prototypes/Body/Organs/cybernetic.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/generic.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#530 Increase CO2 sensor danger threshold to 1%
  Resources/Prototypes/Atmospherics/thresholds.yml
Labels: Changes: YML, Status: Needs Review

#529 ERT/Testing Surgical Tool Crate
  Resources/Prototypes/Floof/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Floof/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Medical/surgery.yml
Labels: Changes: YML, Status: Needs Review

#527 General anesthesia canisters and associated cargo order
  Resources/Prototypes/Floof/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Floof/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: Changes: YML, Status: Needs Review

#535 Weaken the effects of damage on body parts
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Targeting.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#532 Add Delta-V species guidebook entries
  Resources/Prototypes/DeltaV/Guidebook/species.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Felinid.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Oni.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Vulpkanin.xml
  Resources/ServerInfo/Guidebook/Mobs/Dwarf.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#537 Emercency Surgery Patch
  Content.Client/Buckle/BuckleSystem.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/DebrainedSystem.cs
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/Medical/Surgery/SurgerySystem.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/MedibotInjectOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/PickNearbyInjectableOperator.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Content.Server/Pinpointer/NavMapSystem.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Body/Systems/SharedBodySystem.Targeting.cs
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
  Content.Shared/Fluids/Components/PreventSpillerComponent.cs
  Content.Shared/Fluids/SharedPuddleSystem.Spillable.cs
  Content.Shared/Nutrition/Components/ButcherableComponent.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Resources/Locale/en-US/surgery/surgery-ui.ftl
  Resources/Prototypes/Atmospherics/thresholds.yml
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/base.yml
  Resources/Prototypes/Body/Organs/cybernetic.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/generic.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Parts/generic.yml
  Resources/Prototypes/DeltaV/Guidebook/species.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Floof/Body/Parts/resomi.yml
  Resources/Prototypes/Floof/Body/Prototypes/resomi.yml
  Resources/Prototypes/Floof/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Floof/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Floof/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Felinid.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Oni.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Vulpkanin.xml
  Resources/ServerInfo/Guidebook/Mobs/Dwarf.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Changes: C#, Changes: Documentation, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 1-High

#541 More Fixes
  Content.Client/Buckle/BuckleSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#540 Add more jumpsuit 2 electric boogaloo
  Resources/Prototypes/Floof/Loadouts/Generic/uniform.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Engineering/atmos.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Logistics/courier.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML, Status: Needs Review

#533 Make plushie crates buyable
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Floof/Catalog/Cargo/cargo_fun.yml
Labels: Changes: YML, Status: Needs Review

#536 Add submarine back into rotation
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#543 Loadout Changes, New Corpsman Clothing
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/commandUncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/paramedic.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/corpsman.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Floof/Entities/Clothing/departmental_clothes.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Command/uncategorized.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Logistics/courier.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Service/chef.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Service/janitor.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Service/mime.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Service/musician.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Service/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/logisticsOfficer.yml
  Resources/Textures/Floof/Clothing/Departmental/Security/corpsmansocks.rsi/equipped-FEET.png
  Resources/Textures/Floof/Clothing/Departmental/Security/corpsmansocks.rsi/icon.png
  Resources/Textures/Floof/Clothing/Departmental/Security/corpsmansocks.rsi/meta.json
  Resources/Textures/Floof/Clothing/Departmental/Security/corpsmanthong.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Floof/Clothing/Departmental/Security/corpsmanthong.rsi/icon.png
  Resources/Textures/Floof/Clothing/Departmental/Security/corpsmanthong.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Departmental/Security/corpsmanthong.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Departmental/Security/corpsmanthong.rsi/meta.json
  Resources/Textures/Floof/Clothing/Departmental/Security/corpsmanwarmer.rsi/equipped-HAND.png
  Resources/Textures/Floof/Clothing/Departmental/Security/corpsmanwarmer.rsi/icon.png
  Resources/Textures/Floof/Clothing/Departmental/Security/corpsmanwarmer.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium

#556 Cherry-Pick Paper, Folders, and Sticky Notes From Delta V
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/sticky_notes.yml
  Resources/Textures/DeltaV/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/bureaucracy.rsi/ream-bright.png
  Resources/Textures/DeltaV/Objects/Misc/bureaucracy.rsi/ream-classic.png
  Resources/Textures/DeltaV/Objects/Misc/bureaucracy.rsi/ream-white.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_base.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin1.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin2.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin3.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin4.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin5.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_words.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#554 Adds the Handheld Radio to the Autolathe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Recipes/Lathes/tools.yml
Labels: Changes: YML, Status: Needs Review

#544 Quick Vore Patch
  Content.Server/FloofStation/VoreSystem.cs
  Content.Shared/Floofstation/VoreComponent.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/scugcat.yml
  Resources/Prototypes/consent.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 1-High

#549 Move Senior Cosmetics to Job/[department]/All Tab , Localize Senior Roles in ENG
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystic.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/seniorPhysician.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/seniorOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#525 Add Floof NT Company Policy to Guidebook
  Resources/Locale/en-US/Floof/guidebook/guides.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Floof/Guidebook/sop.yml
  Resources/ServerInfo/Floof/Guidebook/SOP/AppearanceStandards.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/CodeofConduct.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/CompanyPolicy.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/ConductUnbecoming.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/DangersfromCompetitors.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/SelfDefence.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/StandardOperatingProcedures.xml
Labels: Changes: Documentation, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#557 Remove Lock on Engineering Holoprojector and Add Autolathe Recipe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Recipes/Lathes/engineering.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/holoprojectors.yml
Labels: Changes: YML, Status: Needs Review

#551 Harvest Bag
  Resources/Locale/en-US/Floof/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Hydroponics/equipments.yml
  Resources/Prototypes/Floof/Recipes/Lathes/tools.yml
  Resources/Prototypes/Floof/Research/civilianservices.yml
  Resources/Textures/Floof/Objects/Specific/Hydroponics/a_equipment/Harvestbag.rsi/equipped-BELT.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/a_equipment/Harvestbag.rsi/icon.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/a_equipment/Harvestbag.rsi/inhand-left.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/a_equipment/Harvestbag.rsi/inhand-right.png
  Resources/Textures/Floof/Objects/Specific/Hydroponics/a_equipment/Harvestbag.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#548 Increase Standard Oxygen to 23%
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/Piping/Other/Components/GasTesterComponent.cs
  Content.Server/Atmos/Piping/Other/EntitySystems/GasTesterSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Maps/Test/co2_test.yml
  Resources/Prototypes/Floof/Entities/Structures/Piping/Atmospherics/tester.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review, Priority: 2-Medium

#547 Add Moon Boots
  Content.Client/Clothing/MagbootsSystem.cs
  Content.Server/Atmos/Components/MovedByPressureComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Server/Damage/Systems/GodmodeSystem.cs
  Content.Server/Gravity/GravitySystem.cs
  Content.Server/Singularity/EntitySystems/GravityWellSystem.cs
  Content.Shared/Atmos/Components/MovedByPressureComponent.cs
  Content.Shared/Clothing/Components/AntiGravityClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/AntiGravityClothingSystem.cs
  Content.Shared/Clothing/MagbootsComponent.cs
  Content.Shared/Clothing/SharedMagbootsSystem.cs
  Content.Shared/Gravity/SharedGravitySystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium

#546 Add Crew Monitor Alerts and Update Surgery Kits
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Resources/Audio/_DV/Medical/CrewMonitoring/crew_alert.ogg
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
Labels: Changes: C#, Changes: Audio, Changes: YML, Status: Needs Review

#539 Quadborgs 3
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/endoskeleton.yml
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Robotics/Borgmodules.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Robotics/endoskeleton.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
  Resources/ServerInfo/Guidebook/Science/Quadborgs.xml
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/Apex.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/meta.json
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadsprite.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriteCC.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritel.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritemed.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritemedl.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritemedr.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriter.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalv.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalvl.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalvr.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriteserv.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriteservl.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriteservr.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_medarm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_medleg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_servarm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_servleg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_medchest+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_medhead+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_medarm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_medleg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_servarm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_servleg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_servchest+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_servhead+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/meta.json
Labels: Changes: Documentation, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium

#558 Add Admin Access Configurator
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Textures/Objects/Tools/universal_access_configurator.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/universal_access_configurator.rsi/icon.png
  Resources/Textures/Objects/Tools/universal_access_configurator.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/universal_access_configurator.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/universal_access_configurator.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#567 Allow Custom Species for Diona
  Resources/Prototypes/Species/diona.yml
Labels: Changes: YML, Status: Needs Review

#566 Make CourierDrobes Restockable
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: Changes: YML, Status: Needs Review

#565 Add Custom Rodentia Scream
  Resources/Audio/Floof/Voice/Rodentia/Rat_Scream_01.ogg
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Floof/SoundCollections/emotes.yml
  Resources/Prototypes/Floof/SoundCollections/vulpkanin.yml
Labels: Changes: Audio, Changes: YML, Status: Needs Review

#561 Project Walkman (Make ALL Species Sing Again)
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Floof/Traits/Misc/singer_types.yml
  Resources/Prototypes/Floof/Traits/auditory.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#559 Add Mega Spray Bottle and Cleanade Launcher to Advanced Cleaning Module
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Explosion/Components/OnUseTimerTriggerComponent.cs
  Content.Shared/Weapons/Ranged/Components/BallisticAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Janitorial/spray.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Guns/launchers.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Floof/Objects/Weapons/Guns/Launchers/cleanade.rsi/bolt-open.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Launchers/cleanade.rsi/equipped-BACKPACK.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Launchers/cleanade.rsi/equipped-BELT.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Launchers/cleanade.rsi/icon.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Launchers/cleanade.rsi/inhand-left.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Launchers/cleanade.rsi/inhand-right.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Launchers/cleanade.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML, Status: Needs Review

#576 Add Unathi Female Underbelly
  Resources/Locale/en-US/Floof/markings/reptilian.ftl
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Floof/Mobs/Customization/Reptilian/underbellyfemale.rsi/body_underbelly.png
  Resources/Textures/Floof/Mobs/Customization/Reptilian/underbellyfemale.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#573 Restore Missing Changelog Entries
  Resources/Changelog/Floof.yml
Labels: Changes: YML, Status: Needs Review

#570 Lemon Lime and Bitters
  Resources/Locale/en-US/deltav/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/DeltaV/Flavors/flavors.yml
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/DeltaV/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/angobitters.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/angobitters.rsi/icon_open.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/angobitters.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/lemonlimebitters.rsi/fill-1.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/lemonlimebitters.rsi/fill-2.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/lemonlimebitters.rsi/fill-3.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/lemonlimebitters.rsi/fill-4.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/lemonlimebitters.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/lemonlimebitters.rsi/icon_empty.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/lemonlimebitters.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#569 Uniform Printer Additions
  Resources/Locale/en-US/Floof/lathe/lathe-categories.ftl
  Resources/Prototypes/DeltaV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Recipes/Lathes/categories.yml
  Resources/Prototypes/Floof/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Floof/Recipes/Lathes/sockoutfits.yml
  Resources/Prototypes/Floof/Recipes/Lathes/uniformssocksect.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#562 Ice Metabolizes to Water, Lowers Temperature, and Causes Damage Once Frozen
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
Labels: Changes: YML, Status: Needs Review

#553 Add Envelopes
  Content.Client/Paper/EnvelopeSystem.cs
  Content.Shared/Paper/EnvelopeComponent.cs
  Content.Shared/Paper/EnvelopeSystem.cs
  Resources/Locale/en-US/paper/envelope.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Interface/Paper/paper_heading_postage_stamp.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_heading_postage_stamp.svg.96dpi.png.yml
  Resources/Textures/Objects/Storage/boxes.rsi/envelope.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#579 Cherry-Picked New Lights
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/lighting.yml
  Resources/Prototypes/Recipes/Construction/lighting.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: Changes: YML

#583 Fix Emote
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#572 Bloodpack Related Additions
  Content.Shared/Kitchen/MicrowaveMealRecipePrototype.cs
  Content.Shared/Kitchen/RecipeManager.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Medical/sterilebag.yml
  Resources/Prototypes/Floof/Recipes/Cooking/medical_recipes.yml
  Resources/Prototypes/Floof/Recipes/Lathes/medical.yml
  Resources/Prototypes/Floof/Recipes/Reactions/chemicals.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#581 Give Cargo Techs Order Access by Default
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
Labels: Changes: YML, Status: Needs Review

#584 Quads Update
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/Apex.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/Apex_moving.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/meta.json
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriteCC_moving.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadsprite_moving.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritemed.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritemed_moving.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritemedl.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritemedr.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalv.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalv_moving.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriteserv.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriteserv_moving.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#577 Project "Velvet Sortie" (Justice Loadouts, Template Revisions)
  Resources/Locale/en-US/Floof/loadouts/categories.ftl
  Resources/Locale/en-US/Floof/paper/head-of-personnel.ftl
  Resources/Locale/en-US/Floof/paper/justice.ftl
  Resources/Locale/en-US/Floof/paper/medical.ftl
  Resources/Locale/en-US/Floof/paper/security.ftl
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
  Resources/Prototypes/Floof/CharacterItemGroups/Jobs/Justice/lawyer.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/folders.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/head-of-personel.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/justice.yml
  Resources/Prototypes/Floof/Loadouts/Categories/categories.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Justice/ChiefJustice.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Justice/Clerk.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Justice/Lawyer.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Justice/Prosecutor.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Justice/uncategorized.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#588 Offset Adjustment
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/Apex_moving.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriteCC_moving.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadsprite_moving.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritemed_moving.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalv_moving.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriteserv_moving.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#587 Restore Missing Changelog Entries 2
  Resources/Changelog/Floof.yml
Labels: Changes: YML, Status: Needs Review
