Repository Floof-Station/Floof-Station, pull requests merged in 2025-06, with the labels that each got.

#1014 Allow Resomi to Chirp
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Floof/SoundCollections/resomi.yml
  Resources/Prototypes/_Floof/Voice/avali_emote_sounds.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#1048 Craftable Pride Flags
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Prototypes/_DV/Entities/Structures/Wallmounts/flags.yml
  Resources/Prototypes/_DV/Recipes/Construction/Graphs/flags.yml
  Resources/Prototypes/_DV/Recipes/Construction/furniture.yml
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/ace_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/aro_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/bi_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/enby_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/gay_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/intersex_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/les_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/meta.json
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/pan_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/trans_flag.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#1052 Fix the Assay Power System
  Content.Server/Abilities/Psionics/Abilities/AssayPowerSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1053 Space Weapons And Tactics
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: YML, Status: Needs Review

#1051 Rotate Toy Sword Fix
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Floof/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Status: Needs Review

#1064 Fix Menu Visibility Entity Lookup Flags
  Content.Client/Verbs/VerbSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1067 2 New Plushies + HypnoTemp Plushies Spawn Rate Adjustment
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_Floof/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/hoppy.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/kobolt.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#1072 #Polishing Patch - Clown Rat
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/clown_abominations.yml
Labels: Changes: YML, Status: Needs Review

#1059 Holymelon Halo to Loadout
  Resources/Prototypes/_Floof/Loadouts/Generic/head.yml
Labels: Changes: YML, Status: Needs Review

#1093 Adds Spidercraft to Arachne
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
Labels: Changes: YML, Status: Needs Review

#1021 Upstream Merge #2255 | Bionic Arm Rework
  Resources/Locale/en-US/traits/misc.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1087 Fentanyl
  Resources/Locale/en-US/_Goobstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Goobstation/reagents/fentanyl.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/narcotics.ftl
  Resources/Prototypes/_Goobstation/Flavors/flavors.yml
  Resources/Prototypes/_Goobstation/Reagents/narcotics.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/narcotics.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1086 Welder & Energy Shield Fix
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#1095 Feat: Sign Language Requires LOS and Free Hands
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Chat/ChatChannelExtensions.cs
  Content.Shared/Language/LanguagePrototype.cs
  Resources/Locale/en-US/_Floof/chat/managers/chat-manager.ftl
  Resources/Prototypes/Language/genericlanguages.yml
  Resources/Prototypes/_Floof/Language/scugsign.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1102 Fix Roundstart Loop Caused by Invalid Loadouts
  Content.Server/Clothing/Systems/LoadoutSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 1-High

#1112 The CJ's New Skirt
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: Changes: YML, Status: Needs Review

#1123 NSFW Disclaimer On Join
  Content.Client/_Floof/Info/NsfwDisclaimerSystem.cs
  Content.Client/_Floof/Info/NsfwDisclaimerWindow.xaml
  Content.Client/_Floof/Info/NsfwDisclaimerWindow.xaml.cs
  Content.Server/_Floof/Info/NsfwDisclaimerSystem.cs
  Content.Shared/_Floof/Info/ShowNsfwPopupDisclaimerMessage.cs
  Resources/Locale/en-US/_Floof/info/nsfw-disclaimer.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#1113 Fix Nuclear14 Wood Settler Table Dropping Steel Instead of Wood
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/table.yml
Labels: Changes: YML, Status: Needs Review

#1105 Oracle Rewards Normality
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
Labels: Changes: YML, Status: Needs Review

#1124 Project Garage (Drum Kit, Instrument Changes)
  Resources/Audio/MidiCustom/space-station-14.sf2
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/musician.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/base_instruments.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instrument_keyed.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_brass.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
  Resources/Prototypes/GreyStation/Entities/Objects/Fun/Instruments/instruments_percussion.yml
  Resources/Prototypes/_Floof/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Floof/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/Service/musician.yml
  Resources/Textures/GreyStation/Objects/Fun/Instruments/structureinstruments.rsi/drumkit.png
  Resources/Textures/GreyStation/Objects/Fun/Instruments/structureinstruments.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/banjo.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Fun/Instruments/banjo.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/banjo.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/bassguitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/bassguitar.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/eguitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/eguitar.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/super-inhand-left.png
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/super-inhand-right.png
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/supersynth.png
  Resources/Textures/Objects/Fun/Instruments/rockguitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/rockguitar.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#1111 Adds Jamrock Blazer and Aerostatic Bomber to Detective Loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/detective.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/Security/detective.yml
Labels: Changes: YML, Status: Needs Review

#1099 An Eggcellent Idea
  Resources/Locale/en-US/_Floof/traits/traits.ftl
  Resources/Locale/en-US/actions/actions/spider.ftl
  Resources/Prototypes/_Floof/Actions/egg.yml
  Resources/Prototypes/_Floof/Traits/lewd.yml
  Resources/Textures/_Floof/Interface/Actions/egg.png
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1097 Task Adjust I (Bug Fixes)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/_Floof/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Floof/Entities/Clothing/departmental_clothes.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: YML, Status: Needs Review

#1119 Added Janitor Supplies to Janidrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
Labels: Changes: YML, Status: Needs Review

#1081 Mail Courier Outfit Additions
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/courierdrobe.yml
  Resources/Prototypes/_Floof/Entities/Clothing/Back/duffels.yml
  Resources/Prototypes/_Floof/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Floof/Entities/Clothing/departmental_clothes.yml
  Resources/Textures/_Floof/Clothing/Back/devytrunk.rsi/equipped-BACKPACK.png
  Resources/Textures/_Floof/Clothing/Back/devytrunk.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Back/devytrunk.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/Back/devytrunk.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/Back/devytrunk.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devyboots.rsi/equipped-FEET.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devyboots.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devyboots.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devyboots.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devyboots.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devycoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devycoat.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devycoat.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devycoat.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devycoat.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devysuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devysuit.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devysuit.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devysuit.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/Departmental/Logistics/devysuit.rsi/meta.json
  Resources/Textures/_Floof/Clothing/OuterClothing/WinterCoats/expressbuffcuriercoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Floof/Clothing/OuterClothing/WinterCoats/expressbuffcuriercoat.rsi/icon.png
  Resources/Textures/_Floof/Clothing/OuterClothing/WinterCoats/expressbuffcuriercoat.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/OuterClothing/WinterCoats/expressbuffcuriercoat.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/OuterClothing/WinterCoats/expressbuffcuriercoat.rsi/meta.json
  Resources/Textures/_Floof/Clothing/OuterClothing/WinterCoats/warmwornoutcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Floof/Clothing/OuterClothing/WinterCoats/warmwornoutcoat.rsi/icon.png
  Resources/Textures/_Floof/Clothing/OuterClothing/WinterCoats/warmwornoutcoat.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/OuterClothing/WinterCoats/warmwornoutcoat.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/OuterClothing/WinterCoats/warmwornoutcoat.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#1073 Logistics Addition - Boards
  Resources/Prototypes/Catalog/Cargo/cargo_circuitboards.yml
  Resources/Prototypes/Catalog/Fills/Crates/circuitboards.yml
Labels: Changes: YML, Status: Needs Review

#1056 Wolf Form Fae - Admin Character(kinda)
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/feralfae.yml
  Resources/Textures/_Floof/Mobs/Animals/feralfae.rsi/feralfae.png
  Resources/Textures/_Floof/Mobs/Animals/feralfae.rsi/feralfae_crit.png
  Resources/Textures/_Floof/Mobs/Animals/feralfae.rsi/feralfae_dead.png
  Resources/Textures/_Floof/Mobs/Animals/feralfae.rsi/feralfae_sleep.png
  Resources/Textures/_Floof/Mobs/Animals/feralfae.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#1131 Improve the mirror-pr.sh Script
  Scripts/git/mirror-pr.sh
Labels: Status: Needs Review

#1063 Task Stitch (The Den No. 633)
  Resources/Locale/en-US/_DEN/markings/toy.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/lamia.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/toy.yml
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_gold.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_gold_animated.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_silver.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_silver_animated.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/zipper.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/belly_plush_f.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/belly_plush_m.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/l_foot_plush.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/r_foot_plush.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/torso_plush.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/torso_plush_human_f.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/torso_plush_human_m.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/arachne.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/buggy.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/buggy_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/hands.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/handsfeet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/harpy.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/harpy_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/head_human.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/head_longsnout.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/head_shortsnout.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/human.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/ovinia.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/ovinia_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/shadowkin.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/shadowkin_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/vox.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/vox_feet.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#1079 Slide Papers and Mails Through Doors
  Content.Shared/Physics/CollisionGroup.cs
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Mail/base_mail_large.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/base.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/black_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1084 Task Acumen I (Marking Renames, Guidebook Corrections)
  Resources/Locale/en-US/_ADT/markings/reptilian.ftl
  Resources/Locale/en-US/_white/markings/reptilian.ftl
  Resources/Locale/en-US/markings/anthro.ftl
  Resources/Locale/en-US/markings/oni.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Prototypes/_ADT/Mobs/Customization/reptilian/Reptilian.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_ears.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
  Resources/Prototypes/_White/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/ServerInfo/_Shitmed/Guidebook/Medical/UtilitySurgeries.xml
  Resources/Textures/Mobs/Customization/Oni/oni_horns.rsi/meta.json
  Resources/Textures/Mobs/Customization/Oni/oni_horns.rsi/vanira.png
  Resources/Textures/Mobs/Customization/Oni/oni_horns.rsi/vanira_3tone_1.png
  Resources/Textures/Mobs/Customization/Oni/oni_horns.rsi/vanira_3tone_2.png
  Resources/Textures/Mobs/Customization/Oni/oni_horns.rsi/vanira_3tone_3.png
  Resources/Textures/_ADT/Mobs/Customization/Reptilian/reptilian_ears.rsi/lovelox_primary.png
  Resources/Textures/_ADT/Mobs/Customization/Reptilian/reptilian_ears.rsi/lovelox_secondary.png
  Resources/Textures/_ADT/Mobs/Customization/Reptilian/reptilian_ears.rsi/lovelox_tertiary.png
  Resources/Textures/_ADT/Mobs/Customization/Reptilian/reptilian_ears.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/skyratears.rsi/m_ears_evolox_ADJ_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyratears.rsi/m_ears_evolox_ADJ_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/skyratears.rsi/m_ears_evolox_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyratears.rsi/m_ears_evolox_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/skyratears.rsi/m_ears_evolox_alt_ADJ_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyratears.rsi/m_ears_evolox_alt_ADJ_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/skyratears.rsi/m_ears_evolox_alt_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyratears.rsi/m_ears_evolox_alt_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/skyratears.rsi/m_horns_virtuasaur.png
  Resources/Textures/_Floof/Mobs/Customization/skyratears.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_tail_evolox_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_tail_evolox_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_tail_evolox_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_tail_evolox_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_tail_virtuasaur_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_tail_virtuasaur_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_waggingtail_evolox_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_waggingtail_evolox_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_waggingtail_evolox_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_waggingtail_evolox_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_waggingtail_virtuasaur_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/m_waggingtail_virtuasaur_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/skyrattails.rsi/meta.json
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/meta.json
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/virtuasaur.png
Labels: Changes: Documentation, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#1145 Fix Hands Being Blocked when Carried Entity Polymorphs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1142 Heirloom & Loadout Special Menu Tweaks
  Content.Client/Lobby/UI/LoadoutPreferenceSelector.xaml.cs
  Content.Client/Lobby/UI/LoadoutPreferenceSelectorSpecial.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review, Priority: 1-High

#1060 Upstream Merge #2170 | Loadout And Trait Slot Cost
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Clothing/Loadouts/Prototypes/LoadoutPrototype.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Content.Shared/Prototypes/CharacterItemGroupPrototype.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review, Priority: 1-High

#1055 Bite Interaction and some Interaction Verb Fixes
  Content.Server/InteractionVerbs/Actions/ModifyHealthAction.cs
  Content.Shared/InteractionVerbs/InteractionAction.cs
  Content.Shared/InteractionVerbs/InteractionVerbPrototype.cs
  Content.Shared/InteractionVerbs/Requirements/AssortedRequirements.cs
  Content.Shared/InteractionVerbs/SharedInteractionVerbsSystem.cs
  Content.Shared/_Floof/InteractionVerbs/Requirements/SlotObstructionRequirement.cs
  Resources/Locale/en-US/_Floof/interaction/verbs/misc.ftl
  Resources/Locale/en-US/_Floof/interaction/verbs/noop.ftl
  Resources/Locale/en-US/interaction/verbs/core.ftl
  Resources/Prototypes/Interactions/help_interactions.yml
  Resources/Prototypes/Interactions/mood_interactions.yml
  Resources/Prototypes/Interactions/noop_interactions.yml
  Resources/Prototypes/Interactions/self_interactions.yml
  Resources/Prototypes/_Floof/Interactions/base.yml
  Resources/Prototypes/_Floof/Interactions/misc_interactions.yml
  Resources/Prototypes/_Floof/Interactions/mood_interactions.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 1-High

#1147 Sign Language Requires Complex Interaction and Two Empty Hands
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Changes: YML

#1130 Upstream Merge #2021 | Make Context Menu Uses Spritetree
  Content.Client/Verbs/VerbSystem.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#1139 Task Adjust II (Bug Fixes and Tweaks No. 2)
  Content.Client/Overlays/EquipmentHudSystem.cs
  Content.Client/Overlays/Switchable/NightVisionSystem.cs
  Content.Client/Overlays/Switchable/ThermalVisionOverlay.cs
  Content.Client/Overlays/Switchable/ThermalVisionSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Overlays/Switchable/SwitchableOverlayComponent.cs
  Content.Shared/Overlays/Switchable/SwitchableOverlaySystem.cs
  Resources/Audio/_Floof/Footsteps/attributions.yml
  Resources/Audio/_Floof/Footsteps/robostep.ogg
  Resources/Changelog/Floof.yml
  Resources/Locale/en-US/_Floof/construction/construction-categories.ftl
  Resources/Locale/en-US/_Floof/materials/materials.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/goggles.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/WhiteDream/Entities/Clothing/Cult/armor.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Floof/SoundCollections/footsteps.yml
Labels: Changes: C#, Changes: Audio, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 1-High

#1144 Give Attorney Justice Access.
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Labels: Changes: YML, Status: Needs Review

#1149 People Transfer
  Content.Server/Carrying/CarryingSystem.cs
  Content.Server/OfferItem/OfferItemSystem.ExtendedTransfer.cs
  Content.Server/OfferItem/OfferItemSystem.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/SharedPseudoItemSystem.cs
  Content.Shared/OfferItem/OfferItemComponent.cs
  Content.Shared/OfferItem/SharedOfferItemSystem.cs
Labels: Changes: C#, Changes: YML
