Repository Floof-Station/Floof-Station, pull requests merged in 2025-09, with the labels that each got.

#1370 Remove CC Items From Uniform Printer.
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: Changes: YML, Status: Needs Review

#1371 Tfw It Was Still Set to Squash and Merge
  Resources/Changelog/Floof.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: Changes: C#, Changes: Audio, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#1374 Name Fix for Radar Console
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
Labels: Changes: YML, Status: Needs Review, Priority 3: Standard

#1235 Add Talos (Please)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Floof/Talos.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/talos.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review, Priority 2: Elevated

#1340 Shoukou Map Reshuffle
  Resources/Maps/Floof/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Priority 2: Elevated

#1372 Downstream Merge: Vulpstation No.43
  Content.Client/Voting/VoteManager.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Server/Voting/VoteOptions.cs
  Content.Server/_DEN/RoundEnd/RoundEndSystem.DEN.cs
  Content.Server/_DEN/RoundEnd/ToggleHardEndCommand.cs
  Content.Shared/Voting/MsgVoteData.cs
  Content.Shared/_Vulp/VulpCCVars.cs
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Locale/en-US/round-end/round-end-system.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority 2: Elevated

#1396 Fix CI Test Cascading Failure
  Content.IntegrationTests/PoolManagerTestEventHandler.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/gaxstation.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review, Priority 1: Urgent

#1392 Justice Access Revamp
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
  Resources/Prototypes/DeltaV/radio_channels.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: Changes: YML, Status: Needs Review

#1379 Upstream Merge of EE 1970
  Content.Shared/Implants/AddComponentsImplant/AddComponentsImplantComponent.cs
  Content.Shared/Implants/AddComponentsImplant/AddComponentsImplantSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority 3: Standard

#1398 Allow Apostrophes in Character Names
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1397 Fix the R&D Console Exploit
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1391 Fix Ghost Timer Getting Garbled when the Player Returns to Body
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Ghost/GhostReturnToRoundSystem.cs
  Content.Server/Ghost/GhostSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority 3: Standard

#1116 Dermal Armor Time - Done
  Resources/Locale/en-US/traits/misc.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority 3: Standard

#1405 Hide Votes From Evac Autocall And Refine Vote Localization
  Content.Client/Voting/UI/VotePopup.xaml.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Resources/Locale/en-US/_Floof/voting/ui/vote-popup.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#1408 Remove Talos From Rotation
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/talos.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#1422 Fix Silly Resomi Plushie Having a 100% Drop Chance
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
Labels: Changes: YML, Status: Needs Review

#1424 Change Listplayers Command Permissions to Require the PII Flag (Wizden #40324)
  Resources/engineCommandPerms.yml
Labels: Changes: YML, Priority 0: CRITICAL

#1421 Heirloom Expansion I
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
Labels: Changes: YML, Status: Needs Review, Priority 3: Standard

#1411 Port Less Punshing Cold Slowdowns From Wizden and Another PR
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/head_m.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority 3: Standard

#1410 Fix Action Bar Being Stuttery
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority 3: Standard

#1231 Interdyne Herbals Tweak - Done
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
Labels: Changes: YML, Status: Needs Review, Priority 3: Standard

#1437 Warden Gloves Traitor Target
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/_Floof/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Floof/Objectives/traitor.yml
Labels: Changes: YML, Status: Needs Review

#1414 Shoukou Reshuffle Fix!
  Resources/Maps/Floof/shoukou.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Priority 2: Elevated

#1439 Increases Vox Minimum Width and Height.
  Resources/Prototypes/Species/vox.yml
Labels: Changes: YML, Status: Needs Review

#1388 Smuggler Stashes
  Content.Shared/Construction/Components/BlockAnchorOnComponent.cs
  Content.Shared/Construction/EntitySystems/BlockAnchorOnSystem.cs
  Content.Shared/Storage/Components/AnchoredStorageFilterComponent.cs
  Content.Shared/Storage/EntitySystems/AnchoredStorageFilterSystem.cs
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
  Resources/Locale/en-US/construction/components/block-anchor-component.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Back/smuggler.yml
  Resources/Prototypes/Entities/Clothing/Back/smuggler_tables.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Textures/Clothing/Back/Satchels/smuggler.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/smuggler.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/smuggler.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/smuggler.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/smuggler.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Priority 3: Standard

#1446 Fix Footstep Heisentest
  Content.Server/FootPrint/FootPrintsSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority 1: Urgent

#1441 Adds Eggnog & Syndicate Eggnog Recipes
  Resources/Prototypes/_Floof/Recipes/Reactions/drinks.yml
Labels: Changes: YML, Status: Needs Review

#1432 Sever
  Content.Shared/Body/Part/BodyPartComponent.cs
  Resources/Prototypes/Body/Parts/base.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority 3: Standard
