Repository Floof-Station/Floof-Station, pull requests merged in 2025-04, with the labels that each got.

#711 Remove Stamina Cost on the Mining Drill
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
Labels: Changes: YML, Status: Needs Review

#699 Examine Tooltip for Players Persists Thru Walls
  Content.Shared/Examine/ExamineSystemShared.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#712 Remove Blukie From Cargo Again
  Resources/Prototypes/Catalog/Cargo/cargo_hardsuits.yml
Labels: Changes: YML, Status: Needs Review

#715 Shadowkin / Exploit Fixes
  Content.Shared/Shadowkin/EtherealComponent.cs
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Psionics/psionics.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#704 More Artifact Effects
  Content.Server/FloofStation/Xenoarchaeology/XenoArtifacts/Effects/Components/NightclubArtifactComponent.cs
  Content.Server/FloofStation/Xenoarchaeology/XenoArtifacts/Effects/Components/ReplaceFloorArtifactSystem.cs
  Content.Server/FloofStation/Xenoarchaeology/XenoArtifacts/Effects/Systems/NightclubArtifactSystem.cs
  Content.Server/FloofStation/Xenoarchaeology/XenoArtifacts/Effects/Systems/ReplaceFloorArtifactSystem.cs
  Resources/Prototypes/Floof/Polymorphs/polymorph.yml
  Resources/Prototypes/Floof/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#714 Give Feroxi and Chitinid Underwear
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/DeltaV/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Species/feroxi.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/underwear.yml
Labels: Changes: YML, Status: Needs Review

#709 Horny Smite
  Content.Client/Floofstation/Administration/Components/HornySignComponent.cs
  Content.Client/Floofstation/Administration/Systems/HornySignSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/FloofStation/Administration/Components/HornySignComponent.cs
  Content.Shared/Floofstation/Administration/Components/SharedHornySignComponent.cs
  Resources/Locale/en-US/Floof/administration/smites.ftl
  Resources/Textures/Floof/Objects/Misc/hornysign.rsi/icon.png
  Resources/Textures/Floof/Objects/Misc/hornysign.rsi/meta.json
  Resources/Textures/Floof/Objects/Misc/hornysign.rsi/sign.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#722 Warden Loadout Changes
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/warden.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: YML

#721 Energy Sabre
  Resources/Locale/en-US/Floof/store/uplink-catalog.ftl
  Resources/Prototypes/Floof/Catalog/Fills/Belts/esheath.yml
  Resources/Prototypes/Floof/Catalog/uplink_catalog.yml
  Resources/Prototypes/Floof/Entities/Clothing/Belts/esheath.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Melee/e_sabre.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Floof/tags.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Floof/Clothing/Belts/e_sheath.rsi/e-sheath-sabre-equipped-BELT.png
  Resources/Textures/Floof/Clothing/Belts/e_sheath.rsi/e-sheath-sabre.png
  Resources/Textures/Floof/Clothing/Belts/e_sheath.rsi/e-sheath.png
  Resources/Textures/Floof/Clothing/Belts/e_sheath.rsi/equipped-BELT.png
  Resources/Textures/Floof/Clothing/Belts/e_sheath.rsi/meta.json
  Resources/Textures/Floof/Objects/Weapons/Melee/e_sabre.rsi/e_sabre.png
  Resources/Textures/Floof/Objects/Weapons/Melee/e_sabre.rsi/e_sabre_blade.png
  Resources/Textures/Floof/Objects/Weapons/Melee/e_sabre.rsi/icon.png
  Resources/Textures/Floof/Objects/Weapons/Melee/e_sabre.rsi/meta.json
  Resources/Textures/Floof/Objects/Weapons/Melee/e_sabre_inhand.rsi/inhand-left-blade.png
  Resources/Textures/Floof/Objects/Weapons/Melee/e_sabre_inhand.rsi/inhand-left.png
  Resources/Textures/Floof/Objects/Weapons/Melee/e_sabre_inhand.rsi/inhand-right-blade.png
  Resources/Textures/Floof/Objects/Weapons/Melee/e_sabre_inhand.rsi/inhand-right.png
  Resources/Textures/Floof/Objects/Weapons/Melee/e_sabre_inhand.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#716 Update Redshirt and Glass Jaw Descriptions
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#707 Adds a Couple Traits that Let Dogs (and Such) Eat Chocolate / Onions
  Content.Server/FloofStation/Traits/TraitSystem.Functions.cs
  Content.Server/Traits/TraitSystem.Functions.cs
  Resources/Locale/en-US/Floof/metabolism/metabolizer-types.ftl
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/DeltaV/Body/Organs/feroxi.yml
  Resources/Prototypes/Floof/Chemistry/MetabolizerTypes.yml
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#723 Cherry-Pick Less Transparent Slime People
  Resources/Prototypes/Species/slime.yml
Labels: Changes: YML, Status: Needs Review

#698 Reduce Power Cell Draw of Translators
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: Changes: YML, Status: Needs Review

#697 Add Brigging and Sec SOP Guidebook Entries
  Resources/Locale/en-US/Floof/guidebook/guides.ftl
  Resources/Prototypes/Floof/Guidebook/sop.yml
  Resources/ServerInfo/Floof/Guidebook/SOP/BriggingStandardOperatingProcedure.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/Permits.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/SecurityStandardOperatingProcedure.xml
Labels: Changes: Documentation, Changes: Localization, Changes: YML, Status: Needs Review

#713 Security Socks Retrofit
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Floof/Entities/Clothing/departmental_clothes.yml
Labels: Changes: YML, Status: Needs Review

#689 Tiny Trait 2.5
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Server/Carrying/CarryingSystem.cs
  Content.Server/FloofStation/Traits/TraitSystem.Functions.cs
  Content.Shared/HeightAdjust/HeightAdjustSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/Floof/Damage/modifier_sets.yml
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 1-High

#737 New Drink Using Natural Lubricant
  Resources/Locale/en-US/Floof/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/Floof/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Floof/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Floof/Flavors/flavors.yml
  Resources/Prototypes/Floof/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Floof/Recipes/Reactions/drinks.yml
  Resources/Textures/Floof/Objects/Consumable/Drinks/ginandpussy.rsi/fill-1.png
  Resources/Textures/Floof/Objects/Consumable/Drinks/ginandpussy.rsi/fill-2.png
  Resources/Textures/Floof/Objects/Consumable/Drinks/ginandpussy.rsi/fill-3.png
  Resources/Textures/Floof/Objects/Consumable/Drinks/ginandpussy.rsi/fill-4.png
  Resources/Textures/Floof/Objects/Consumable/Drinks/ginandpussy.rsi/fill-5.png
  Resources/Textures/Floof/Objects/Consumable/Drinks/ginandpussy.rsi/fill-6.png
  Resources/Textures/Floof/Objects/Consumable/Drinks/ginandpussy.rsi/icon.png
  Resources/Textures/Floof/Objects/Consumable/Drinks/ginandpussy.rsi/icon_empty.png
  Resources/Textures/Floof/Objects/Consumable/Drinks/ginandpussy.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#738 Rules Update 2025-04-09
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC11Antagonists.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC1OutofCharacter.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC4Powergaming.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC5RoleplayandCharacters.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC8EndofRoundandEvacuation.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC9GeneralRolesandJobs.xml
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#729 CentComm Offical Job Spawn + Added to CentComm Map
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Floof/Entities/Markers/Spawners/jobs.yml
  Resources/Textures/Floof/Markers/jobs.rsi/centcomm.png
  Resources/Textures/Floof/Markers/jobs.rsi/meta.json
Labels: Changes: Map, Changes: Sprite, Changes: YML, Status: Needs Review

#726 Chitinid Revision No. 1
  Resources/Locale/en-US/chemistry/components/injector-component.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/tags.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#703 Add Heavyweight Trait
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/Floof/Traits/physical.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#700 Project Mortality™
  Content.Server/Abilities/Psionics/Abilities/HealOtherPowerSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/Traits/Assorted/UnrevivableComponent.cs
  Content.Shared/Medical/CPR/Systems/CPRSystem.cs
  Content.Shared/Traits/Assorted/Components/UnrevivableComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#734 Heterochromia Fix
  Resources/Prototypes/DeltaV/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Species/slime.yml
Labels: Changes: YML, Status: Needs Review

#740 Unlocks the Wrist/Arm/Earrings Markings for Rodentia/Feroxi
  Resources/Prototypes/Entities/Mobs/Customization/Markings/earrings.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/wrist.yml
Labels: Changes: YML, Status: Needs Review

#739 Antag Modifications
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: YML, Status: Needs Review

#741 Colorable Cyberjacket and Loincloth
  Resources/Locale/en-US/Floof/loadouts/uniform.ftl
  Resources/Prototypes/Floof/Entities/Clothing/OuterClothing/MiscOuterwear.yml
  Resources/Prototypes/Floof/Entities/Clothing/Uniforms/misc.yml
  Resources/Prototypes/Floof/Loadouts/Generic/outerClothing.yml
  Resources/Prototypes/Floof/Loadouts/Generic/uniform.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#732 Add Missing Janitor Loadouts
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/janitor.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Service/janitor.yml
Labels: Changes: YML, Status: Needs Review

#728 Makes It so that Your Emotes and Subtles Have Your Name Be Colorized
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#694 Glacier Station - Fixes
  Resources/Maps/Floof/glacier.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Priority: 1-High

#724 Steppies
  Resources/Audio/Effects/Footsteps/attributions.yml
  Resources/Audio/Effects/Footsteps/highheels1.ogg
  Resources/Audio/Effects/Footsteps/highheels2.ogg
  Resources/Audio/Effects/Footsteps/highheels3.ogg
  Resources/Audio/Effects/Footsteps/highheels4.ogg
  Resources/Audio/Effects/Footsteps/highheels5.ogg
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
Labels: Changes: Audio, Changes: YML, Status: Needs Review

#753 Fix Respawn Message
  Resources/Locale/en-US/ghost/ghost-respawn.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#751 Fix Mail System Using Unlocalized Name
  Content.Server/Mail/Systems/MailSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#750 Adjust Cartridge Space
  Content.Shared/CartridgeLoader/CartridgeLoaderComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#752 Fix Jug Names
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
Labels: Changes: YML, Status: Needs Review

#755 Fix Crayons
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#754 Fixed Block Game Not Responding.
  Content.Client/Arcade/UI/BlockGameBoundUserInterface.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#756 Fix Melee Weapons Attack Rates
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Melee.yml
Labels: Changes: YML, Status: Needs Review

#757 V20 Hotfix
  Content.Client/Arcade/UI/BlockGameBoundUserInterface.cs
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
  Content.Server/Mail/Systems/MailSystem.cs
  Content.Shared/CartridgeLoader/CartridgeLoaderComponent.cs
  Resources/Changelog/Floof.yml
  Resources/Locale/en-US/ghost/ghost-respawn.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Melee.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#762 Show Labels On Items In Vending Machines
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#761 AutoDoc Now Has `AntiRottingContainer`
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: Changes: YML, Status: Needs Review

#759 Remove Errant `DoafterEvent.cs` in Favour of `DoAfterEvent.cs`
  Content.Shared/Execution/DoafterEvent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#764 Salvager Plushie - Hunter Ren
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Floof/Entities/Objects/Fun/toys.yml
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/meta.json
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/salvager.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#656 Ghost Role Rule Page Now Reinforces Rules
  Resources/Locale/en-US/Floof/ert-mothroach.ftl
  Resources/Locale/en-US/Floof/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xenopet.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/ertmothroach.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/scugcat.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Roles/Ghostroles/syndicate.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#690 Loadout and Trait Options, Revision No. 1
  Resources/Locale/en-US/Floof/loadouts/generic/items.ftl
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/headOfPersonnel.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/psychologist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/corpsman.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/detective.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/chef.yml
  Resources/Prototypes/Floof/CharacterItemGroups/Jobs/Justice/lawyer.yml
  Resources/Prototypes/Floof/CharacterItemGroups/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Floof/Entities/Objects/Misc/sticky_notes.yml
  Resources/Prototypes/Floof/Loadouts/Generic/head.yml
  Resources/Prototypes/Floof/Loadouts/Generic/items.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Justice/ChiefJustice.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Service/uncategorized.yml
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Jobs/Command/headOfPersonnel.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/psychologist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Service/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/sticky_notes.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#767 Batch Fixes
  Content.Server/GameTicking/Rules/LoadMapRuleSystem.cs
  Content.Server/GridPreloader/GridPreloaderSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Resources/Audio/Voice/Reptilian/attritbutions.yml
  Resources/Audio/Voice/Reptilian/reptilian_tailthump.ogg
  Resources/Audio/_DV/Medical/CrewMonitoring/crew_alert.ogg
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Melee.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: C#, Changes: Audio, Changes: YML, Status: Needs Review

#771 Makin Mining Drills Great Again V3
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: Changes: YML, Status: Needs Review

#607 Task "Maroon Tome" (Hyperlink Books, PDA Book Slots From Frontier)
  Content.Client/Guidebook/Richtext/Box.cs
  Content.Client/Guidebook/Richtext/ColorBox.cs
  Content.Client/Guidebook/Richtext/Table.cs
  Content.Client/Nyanotrasen/Books/BooksSystem.cs
  Content.Client/PDA/PdaBoundUserInterface.cs
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Client/UserInterface/Controls/TableContainer.cs
  Content.Server/Nyanotrasen/Books/BookSystem.cs
  Content.Server/Nyanotrasen/Books/HyperlinkBookComponent.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Shared/Nyanotrasen/Books/SharedBooksSystem.cs
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Content.Shared/PDA/SharedPdaSystem.cs
  Resources/Locale/en-US/Floof/guidebook/guides.ftl
  Resources/Locale/en-US/deltav/guidebook/guides.ftl
  Resources/Locale/en-US/nyanotrasen/books/books.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/chiefjustice.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/clerk.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Guidebook/justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Floof/Entities/Objects/Books/hyperlinks.yml
  Resources/Prototypes/Floof/Guidebook/SpaceLaw.yml
  Resources/Prototypes/Floof/tags.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Books/hyperlinks.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/ServerInfo/Floof/Guidebook/SpaceLaw.xml
  Resources/ServerInfo/Guidebook/DeltaV/Justice.xml
  Resources/Textures/Interface/gavel.png
Labels: Changes: C#, Changes: Documentation, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review, Priority: 2-Medium

#768 Add `RawMaterial` Tag to Diamond
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
Labels: Changes: YML, Status: Needs Review

#775 Fix Untargetted Damage Dealing Extreme Damage to Limbs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.Targeting.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#770 Unathi Hair
  Resources/Prototypes/Species/reptilian.yml
Labels: Changes: YML, Status: Needs Review

#748 Medical Loadout Additions and Changes (Senior Physician Edition)
  Resources/Locale/en-US/Floof/loadouts/jobs/medical.ftl
  Resources/Locale/en-US/Floof/loadouts/jobs/security.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chemist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/paramedic.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/seniorPhysician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/corpsman.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Medical/seniorPhysician.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medicalDoctor.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/seniorPhysician.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#701 Task "Rosetta Stone" (Porting Delta-V's AAC Tablet)
  Content.Client/DeltaV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/DeltaV/AACTablet/AACTabletComponent.cs
  Content.Server/DeltaV/AACTablet/AACTabletSystem.cs
  Content.Shared/DeltaV/AACTablet/AACTabletUiMessages.cs
  Content.Shared/DeltaV/QuickPhrase/QuickPhrasePrototype.cs
  Resources/Locale/en-US/deltav/phrases/common.ftl
  Resources/Locale/en-US/deltav/phrases/locations.ftl
  Resources/Locale/en-US/deltav/phrases/species.ftl
  Resources/Locale/en-US/deltav/phrases/subjects.ftl
  Resources/Locale/en-US/deltav/phrases/threats.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/aac_tablet.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/actions.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/commands.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/manners.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/numbers.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/pronouns.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/qualitative.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/questions.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/animals.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/crew.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/generic_species.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/command.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/engineering.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/epistemics.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/generic.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/justice.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/logistics.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/medical.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/security.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/service.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/hazards.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/hostiles.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/status.yml
  Resources/Prototypes/DeltaV/QuickPhrases/base.yml
  Resources/Prototypes/DeltaV/QuickPhrases/jobs.yml
  Resources/Prototypes/DeltaV/QuickPhrases/locations.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/medical.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac-inhand-left.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac-inhand-right.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_screen-inhand-left.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_screen-inhand-right.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_screen.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_tablet.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: UI, Changes: YML, Status: Needs Review

#773 Remove Duplicate CJ Job From the Command Department
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML, Status: Needs Review

#774 Make the LawDrobe Require Prosecutor Access
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: YML, Status: Needs Review

#779 Fix Toolshed Crash (#1415)
  Content.Server/Language/Commands/AdminLanguageCommand.cs
  Content.Server/Language/Commands/AdminTranslatorCommand.cs
  Content.Server/Station/Commands/JobsCommand.cs
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#782 Increase the Bounty for the Diamonds
  Resources/Prototypes/Floof/Catalog/Bounties/bounties.yml
Labels: Changes: YML, Status: Needs Review

#760 Add Clicker and Colorable Catsuit
  Resources/Audio/_DEN/clicker.ogg
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/clicker.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitblank.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitblank.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitblank.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitblank.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitblank.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/clicker.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/clicker.rsi/meta.json
Labels: Changes: Audio, Changes: Sprite, Changes: YML, Status: Needs Review

#792 Upstream Merge #1398
  Resources/Locale/en-US/guidebook/guides.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#793 Upstream Merge #1399
  Resources/Prototypes/Datasets/tips.yml
Labels: Changes: YML, Status: Needs Review

#791 Upstream Merge #1396
  Content.Server/Cocoon/CocoonerSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#794 Make Envelopes Craftable with Paper
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/paper-envelope.yml
  Resources/Prototypes/Recipes/Crafting/paper-envelope.yml
Labels: Changes: YML, Status: Needs Review

#789 Upstream Merge #1394
  Content.Server/Psionics/PsionicsCommands.cs
  Resources/Locale/en-US/psionics/psionic-commands.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#790 Upstream Merge #1395
  Resources/Prototypes/Actions/emotes.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Status: Needs Review

#796 Upstream Merge #1401
  Resources/Prototypes/Loadouts/Generic/items.yml
Labels: Changes: YML, Status: Needs Review

#797 Upstream Merge #1405
  Content.Server/Medical/CPR/CPRSystem.cs
  Content.Server/Medical/CPR/CPRTrainingComponent.cs
  Content.Shared/Medical/CPR/Components/CPRTrainingComponent.cs
  Content.Shared/Medical/CPR/Systems/CPRSystem.CVars.cs
  Content.Shared/Medical/CPR/Systems/CPRSystem.cs
  Content.Shared/Medical/CPRDoAfterEvent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#802 Fix Elite Hardsuit Uplink Prices
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#799 Fix Space Villain Arcade Machine
  Content.Client/Arcade/UI/SpaceVillainArcadeBoundUserInterface.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#795 Nonclothing Loadouts Are Nonexclusive
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Service/janitor.yml
  Resources/Prototypes/Loadouts/Jobs/Command/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML, Status: Needs Review

#784 Mail and Paramedic Door Fixes
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: YML, Status: Needs Review

#785 Minor French Fix
  Resources/Locale/en-US/Floof/accent/french.ftl
  Resources/Prototypes/Floof/Accents/word_replacements.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#778 Give Space Medipens a Warning
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: Changes: YML, Status: Needs Review

#804 Return Sec Watch to Security PDA
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML, Status: Needs Review

#807 Upstream Merge #1293
  Content.Server/StationEvents/Components/AirlockVirusRuleComponent.cs
  Content.Server/StationEvents/Components/AirlockVirusTargetComponent.cs
  Content.Server/StationEvents/Events/AirlockVirusRule.cs
  Resources/Locale/en-US/station-events/events/airlock-virus.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#813 Upstream Merge #1410
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/status_effects.yml
Labels: Changes: YML

#812 Upstream Merge #1404
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#808 Upstream Merge #1408
  Content.IntegrationTests/Tests/Traits/TraitLocalizationTest.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#806 Upstream Merge #1400
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/face.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tusks.yml
  Resources/Prototypes/Entities/Mobs/Customization/screens.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#814 Upstream Merge #1382
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Shared/Mobs/Components/MobStateComponent.cs
  Content.Shared/Mobs/Components/MobThresholdsComponent.cs
  Content.Shared/Mobs/MobState.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Mobs/Systems/MobStateSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#824 Upstream Merge #1424
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: Changes: C#, Changes: YML

#832 Check-Out Tweaks
  Resources/Prototypes/Floof/Interactions/noop_interactions.yml
  Resources/Prototypes/Interactions/noop_interactions.yml
Labels: Changes: YML, Status: Needs Review

#809 Upstream Merge #1407
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Server/Clothing/ClothingSystem.cs
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#815 Upstream Merge #1420
  Resources/Locale/en-US/deltav/markings/vulpkanin.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Locale/en-US/markings/shadowkin.ftl
  Resources/Locale/en-US/markings/vox.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/moth.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#820 Upstream Merge #1419
  Content.IntegrationTests/Tests/Language/LanguageLocalizationTest.cs
  Resources/Locale/en-US/Floof/language/languages.ftl
  Resources/Locale/en-US/chat/managers/chat-language.ftl
  Resources/Locale/en-US/language/languages.ftl
Labels: Changes: C#, Changes: Localization, Changes: Workflow, Changes: YML, Status: Needs Review

#821 Upstream Merge #1414
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#825 Upstream Merge #1430
  .vscode/launch.json
  .vscode/tasks.json
Labels: Changes: Config, Changes: YML, Status: Needs Review

#788 Cherrypick WizDen No. 35918 (Fix Duplicate Suit Signals)
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#831 Mailing Unit UI Fix + Clear Target on Send
  Content.Client/Disposal/Systems/DisposalUnitSystem.cs
  Content.Client/Disposal/UI/MailingUnitWindow.xaml.cs
  Content.Server/Disposal/Mailing/MailingUnitSystem.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#830 Move Senior Physician Loadouts to the Senior Physician Tab
  Resources/Prototypes/Floof/Loadouts/Jobs/Medical/seniorPhysician.yml
Labels: Changes: YML, Status: Needs Review

#823 Upstream Merge #1417
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/emergency_meta.yml
  Resources/Maps/meta.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/meta.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#783 Amber Station - Updates
  Resources/Maps/Floof/amber.yml
Labels: Changes: Map, Changes: YML

#827 Fix Case of Footstep
  Resources/Prototypes/Entities/Effects/puddle.yml
Labels: Changes: YML, Status: Needs Review

#828 Allow Senior Roles to Be Selected in ID Computers and Agent IDs
  Resources/Prototypes/StatusIcon/job.yml
Labels: Changes: YML, Status: Needs Review

#769 Paintbrush
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Floof/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Floof/Loadouts/Generic/items.yml
  Resources/Textures/Floof/Objects/Fun/paintbrush.rsi/brush-inhand-left.png
  Resources/Textures/Floof/Objects/Fun/paintbrush.rsi/brush-inhand-right.png
  Resources/Textures/Floof/Objects/Fun/paintbrush.rsi/meta.json
  Resources/Textures/Floof/Objects/Fun/paintbrush.rsi/paintbrush.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#743 Saltern Update
  Resources/Maps/Floof/saltern.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#747 NT & Civilian Shuttles
  Resources/Maps/Floof/EventShuttles/CivilianVessel_01_small
  Resources/Maps/Floof/EventShuttles/CivilianVessel_02_small
  Resources/Maps/Floof/EventShuttles/DNDShuttle.yml
  Resources/Maps/Floof/EventShuttles/NanotrasenShuttle.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#835 update code owners
  .github/CODEOWNERS
  Scripts/git/Readme.md
  Scripts/git/mirror-pr.sh
  Scripts/git/update-pr-desc.sh
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#826 Upstream Merge #1440
  Resources/Locale/en-US/markings/lamia.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/lamia.yml
  Resources/Prototypes/DeltaV/Species/lamia.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/earrings.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_noses.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/wrist.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/bishop.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/hesphiastos.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#765 Custom Hairstyle + Antenna
  Resources/Locale/en-US/Floof/accessories/human-hair.ftl
  Resources/Locale/en-US/Floof/customization/unique-customization.ftl
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/unique.yml
  Resources/Textures/Floof/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Floof/Mobs/Customization/human_hair.rsi/polsespecial.png
  Resources/Textures/Floof/Mobs/Customization/unique.rsi/meta.json
  Resources/Textures/Floof/Mobs/Customization/unique.rsi/singleantennaprimary.png
  Resources/Textures/Floof/Mobs/Customization/unique.rsi/singleantennasecondary.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#675 Don't Be Afraid John - Holy Shells and More.
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/special.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/security.yml
  Resources/Prototypes/DeltaV/Research/arsenal.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Guns/Projectiles/Projectiles.yml
  Resources/Prototypes/Floof/Entities/Weapons/Guns/shotguns.yml
  Resources/Prototypes/Floof/Recipes/Lathes/security.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Projectiles/shotgun.yml
  Resources/Textures/Floof/Objects/Weapons/Gun/Ammunition/Casings/shotgun_shell.rsi/holy-spent.png
  Resources/Textures/Floof/Objects/Weapons/Gun/Ammunition/Casings/shotgun_shell.rsi/holy.png
  Resources/Textures/Floof/Objects/Weapons/Gun/Ammunition/Casings/shotgun_shell.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low, Undergoing Maintainer Discussion

#833 Harness Clothing
  Content.Server/FloofStation/Paint/PaintOnInitComponent.cs
  Content.Server/FloofStation/Paint/PaintOnInitSystem.cs
  Content.Shared/Floofstation/Clothing/ClothingLimit/ClothingLimitComponent.cs
  Content.Shared/Floofstation/Clothing/ClothingLimit/ClothingLimitSystem.cs
  Resources/Locale/en-US/Floof/clothing/clothing-limit.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Floof/Entities/Clothing/Uncategorized/README.md
  Resources/Prototypes/Floof/Entities/Clothing/Uncategorized/harness.yml
  Resources/Prototypes/Floof/Loadouts/Generic/neck.yml
  Resources/Textures/Floof/Clothing/Uncategorized/harness_white.rsi/equipped.png
  Resources/Textures/Floof/Clothing/Uncategorized/harness_white.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uncategorized/harness_white.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Uncategorized/harness_white.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Uncategorized/harness_white.rsi/meta.json
  Resources/Textures/Floof/Clothing/Uncategorized/safety_harness.rsi/equipped.png
  Resources/Textures/Floof/Clothing/Uncategorized/safety_harness.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uncategorized/safety_harness.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Uncategorized/safety_harness.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Uncategorized/safety_harness.rsi/meta.json
Labels: Changes: C#, Changes: Documentation, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#841 Fix Chitinid Injector Deny Localization
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#842 A Bit Louder Crew Alert
  Resources/Audio/_DV/Medical/CrewMonitoring/crew_alert.ogg
Labels: Changes: Audio, Changes: YML, Status: Needs Review

#837 AAC Tablet Update (Sentence Construction)
  Content.Client/DeltaV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml.cs
  Content.Client/_DV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Server/DeltaV/AACTablet/AACTabletSystem.cs
  Content.Shared/DeltaV/AACTablet/AACTabletUiMessages.cs
  Resources/Locale/en-US/_DV/ui/aac-tablet.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/aac_tablet.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#836 China Lake Bundle Grenade Change
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: Changes: YML, Status: Needs Review

#845 Autofill Paperwork with Station Name
  Content.Server/Paper/PaperSystem.cs
  Resources/Locale/en-US/_Floof/paper/command.ftl
  Resources/Locale/en-US/_Floof/paper/common.ftl
  Resources/Locale/en-US/_Floof/paper/engineering.ftl
  Resources/Locale/en-US/_Floof/paper/epistemics.ftl
  Resources/Locale/en-US/_Floof/paper/head-of-personnel.ftl
  Resources/Locale/en-US/_Floof/paper/justice.ftl
  Resources/Locale/en-US/_Floof/paper/medical.ftl
  Resources/Locale/en-US/_Floof/paper/security.ftl
  Resources/Locale/en-US/_Floof/paper/service.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#843 Fix Saving Prefered Quick Store Item Locations
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#844 Arrivals Outpost Tweaks
  Resources/Maps/Misc/terminal.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Status: Needs Discussion

#855 Update languages.yml
  Resources/Prototypes/_Floof/Traits/languages.yml
Labels: Changes: YML, Status: Needs Review

#859 Arena Station - Bunch of Updates
  Resources/Maps/Floof/arena.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Maps/arena.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#854 Upstream Merge #1431
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Shared/Damage/Systems/SlowOnDamageSystem.cs
  Resources/Locale/en-US/damage/stamina.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#857 Upstream Merge #1432
  Content.Shared/Movement/Components/SpeedModifiedByContactModifierComponent.cs
  Content.Shared/Movement/Systems/SpeedModifierContactsSystem.cs
  Content.Shared/Slippery/SlippableModifierComponent.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Content.Shared/Traits/Assorted/Components/TraitSpeedModifierComponent.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#849 FIX SHITMED
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.PartAppearance.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#861 Upstream Merge #1425
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/lamia.yml
Labels: Changes: YML, Status: Needs Review

#862 Upstream Merge #1392
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: Changes: YML, Status: Needs Review

#863 Upstream Merge #1437
  Resources/Prototypes/_Shitmed/Species/monkey.yml
Labels: Changes: YML, Status: Needs Review

#867 Upstream Merge #1446
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#868 Upstream Merge #1454
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Resources/Prototypes/DeltaV/Species/lamia.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/ipc.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#869 Upstream Merge #1448
  Content.Server/Speech/SpeechNoiseSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#870 Upstream Merge #1429
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferEntry.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferEntry.xaml.cs
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanel.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanel.xaml.cs
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanelEui.cs
  Content.Server/Administration/Commands/PlayTimeCommands.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Server/_Goobstation/Administration/Commands/TimeTransferPanelCommand.cs
  Content.Server/_Goobstation/Administration/TimeTransferPanelEui.cs
  Content.Shared/_Goobstation/Administration/TimeTransferPanelEui.cs
  Resources/Locale/en-US/_Goobstation/administration/time_transfer.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#871 Upstream Merge #1460
  Content.Client/DeltaV/CartridgeLoader/Cartridges/EditChatPopup.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/EditChatPopup.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/DeltaV/NanoChat/NanoChatSystem.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/DeltaV/NanoChat/NanoChatCardComponent.cs
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Textures/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/Interface/VerbIcons/edit.svg.png
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#872 Upstream Merge #1447
  Content.Client/MassMedia/Ui/NewsArticleCard.xaml.cs
  Content.Client/MassMedia/Ui/NewsWriterMenu.xaml
  Content.Shared/MassMedia/Systems/SharedNewsSystem.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#800 Cherry-Pick From DeltaV: Pinktext
  Content.Client/UserInterface/Systems/Character/CharacterUIController.cs
  Content.Client/_DV/CustomObjectiveSummary/CustomObjectiveSummaryUIController.cs
  Content.Client/_DV/CustomObjectiveSummary/CustomObjectiveSummaryWindow.xaml
  Content.Client/_DV/CustomObjectiveSummary/CustomObjectiveSummaryWindow.xaml.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/_DV/CustomObjectiveSummary/CustomObjectiveSummarySystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/DeltaV/CCVars/DCCVars.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Content.Shared/_DV/CustomObjectiveSummary/CustomObjectiveSummaryComponent.cs
  Content.Shared/_DV/CustomObjectiveSummary/CustomObjectiveSummeryEvents.cs
  Resources/Locale/en-US/_DV/customobjectivesummary/customobjectivesummary.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#875 Upstream Merge #1456
  Content.Server/WhiteDream/BloodCult/Items/ShadowShacklesAura/ShadowShacklesAuraSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#879 Upstream Merge #1471
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryOrganConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#885 Fixed Missing Ghost Role Rules
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/nukiemouse.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML, Status: Needs Review

#781 Makin Mining Drill Great Again V 4
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: Changes: YML, Status: Needs Review

#878 Upstream Merge #1472
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Floof/Recipes/Lathes/security.yml
Labels: Changes: YML, Status: Needs Review

#882 Upstream Merge #1450
  Content.Server/Abilities/Psionics/Abilities/AssayPowerSystem.cs
  Content.Shared/Actions/Events/AssayPowerActionEvent.cs
  Content.Shared/Psionics/Events.cs
  Resources/Locale/en-US/abilities/psionic.ftl
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Textures/Interface/Actions/psionics.rsi/assay.png
  Resources/Textures/Interface/Actions/psionics.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#866 Upstream Merge #1443
  Resources/Locale/en-US/preferences/humanoid-character-profile.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/captain.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/icon.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/summer_security.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#873 Upstream Merge #1461
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/gases.yml
Labels: Changes: YML, Status: Needs Review

#877 Upstream Merge #1470
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Changes: YML, Status: Needs Review

#889 Space Animal Lungs Fix
  Content.Server/Body/Systems/RespiratorSystem.cs
  Resources/Prototypes/_Shitmed/Body/Organs/cybernetic.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#847 NEW Cannon Sprite
  Resources/Textures/Objects/Weapons/Guns/Shuttles/pirate_cannon.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Shuttles/pirate_cannon.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#874 Upstream Merge #1459
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Changes: YML, Status: Needs Review

#876 Upstream Merge #1467
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/lamia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Changes: YML, Status: Needs Review

#890 The Action Economy
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_Floof/Damage/modifier_sets.yml
Labels: Changes: YML, Status: Needs Review

#852 Fix: Add the Vulpkanin Emote Tag to @Growls Whitelist
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#850 Fix Ranged Npc Combat
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#801 You Can Wear Two Sets of Undies, and You Can Take Off Individual Undies Too
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Server/_Floof/ModifyUndies/ModifyUndiesComponent.cs
  Content.Server/_Floof/ModifyUndies/ModifyUndiesSystem.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/_Floof/ModifyUndiesDoAfterEvent.cs
  Resources/Locale/en-US/_Floof/markings/modify_undies.ftl
  Resources/Prototypes/DeltaV/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Species/feroxi.yml
  Resources/Prototypes/DeltaV/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_Floof/Interactions/underwear_interactions.yml
  Resources/Textures/Interface/VerbIcons/bra.png
  Resources/Textures/Interface/VerbIcons/underpants.png
  Resources/Textures/Interface/VerbIcons/undies.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 1-High

#886 More Admin Assistant Accesses
  Resources/Prototypes/DeltaV/Roles/Jobs/Command/administrative_assistant.yml
Labels: Changes: YML, Status: Needs Review

#884 Typewriter SMG to Uplink
  Resources/Locale/en-US/_Floof/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_Floof/Catalog/uplink_catalog.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#829 Service Department Consolidation
  Resources/Locale/en-US/_Floof/job/department-desc.ftl
  Resources/Locale/en-US/_Floof/job/department.ftl
  Resources/Locale/en-US/_Floof/loadouts/generic/back.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Prototypes/Loadouts/Generic/backpacks.yml
  Resources/Prototypes/Loadouts/Generic/neck.yml
  Resources/Prototypes/Loadouts/Generic/uniform.yml
  Resources/Prototypes/Nyanotrasen/StatusEffects/job.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/StatusIcon/job.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/Service/uncategorized.yml
  Resources/Prototypes/_Floof/Roles/Jobs/departments.yml
  Resources/Textures/_Floof/Interface/Misc/job_icons.rsi/Boxer.png
  Resources/Textures/_Floof/Interface/Misc/job_icons.rsi/Janitor.png
  Resources/Textures/_Floof/Interface/Misc/job_icons.rsi/Musician.png
  Resources/Textures/_Floof/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Floof/Interface/Misc/job_icons.rsi/nyanoMartialArtist.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#888 Sectov
  Resources/Prototypes/_Floof/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Crates/armory.yml
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#883 Re Adding Time Requirement to the Jobs
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Floof/CharacterItemGroups/Jobs/Logistics/inventorySpecialist.yml
  Resources/Prototypes/_Floof/CharacterItemGroups/Roles/Jobs/Cargo/inventory_specialist.yml
Labels: Changes: YML, Status: Needs Review

#786 Senior Physicians Get Paramedic and External Access
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
Labels: Changes: YML, Status: Needs Review, Undergoing Maintainer Discussion

#893 Fix JobCourier to JobMailCarrier.
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/_Floof/CharacterItemGroups/Roles/Jobs/Cargo/inventory_specialist.yml
Labels: Changes: YML, Status: Needs Review

#895 Revert "Sectov"
  Resources/Prototypes/_Floof/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Crates/armory.yml
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#894 Job Time Requirement Hotfix
  Resources/Prototypes/Floof/CharacterItemGroups/Jobs/Logistics/inventorySpecialist.yml
  Resources/Prototypes/Floof/Roles/Jobs/Cargo/inventory_specialist.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Floof/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Crates/armory.yml
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#896 Give Unathi Hair Back
  Resources/Prototypes/Species/reptilian.yml
Labels: Changes: YML, Status: Needs Review

#897 Fix Rodentia and Chitinid Hunger
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
Labels: Changes: YML, Status: Needs Review
