Repository Floof-Station/Floof-Station, pull requests merged in 2025-03, with the labels that each got.

#597 Medical Balance Tweaks and Fixes
  Content.Server/Medical/Components/HealingComponent.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#596 Edge Station - Improvements
  Resources/Maps/Floof/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#591 Cherry Picked Device Linking Fixes
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/DeviceLinking/DeviceLinkSinkComponent.cs
  Content.Shared/DeviceLinking/DeviceLinkSourceComponent.cs
  Content.Shared/DeviceLinking/SharedDeviceLinkSystem.cs
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#585 Port Goob Resomi Changes
  Resources/Prototypes/Floof/Body/Organs/resomi.yml
  Resources/Prototypes/Floof/Body/Prototypes/resomi.yml
  Resources/Prototypes/Floof/Damage/modifier_sets.yml
  Resources/Prototypes/Floof/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/Floof/Species/resomi.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/ServerInfo/Guidebook/Mobs/Resomi.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/Textures/Clothing/OuterClothing/Misc/cultrobes.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Misc/nunrobe.rsi/meta.json
  Resources/Textures/Floof/Mobs/Animals/elemental.rsi/meta.json
Labels: Changes: Documentation, Changes: Sprite, Changes: YML, Status: Needs Review

#601 Vials to The Medfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Recipes/Lathes/medical.yml
Labels: Changes: YML, Status: Needs Review

#609 Fix Zookeeper Description
  Resources/Locale/en-US/job/job-description.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#606 Add More Things to the Botanist Filled BELT
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
Labels: Changes: YML, Status: Needs Review

#605 IPC Dead Battery Unique State on Monitor
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/critbatt.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: UI, Changes: YML, Status: Needs Review

#598 Rebalance Mousetraps
  Content.Server/Mousetrap/MousetrapSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#580 Remove Deprecated JobPrototype Whitelist Requirements
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Changes: YML, Status: Needs Review

#615 Reparent some PDAs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML, Status: Needs Review

#610 Various Loadout Changes
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/captain.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/commandUncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Command/uncategorized.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
Labels: Changes: YML, Status: Needs Review

#592 Glacier - Various Changes
  Resources/Maps/Floof/glacier.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#599 Cargo Bounties - Medical
  Resources/Locale/en-US/Floof/cargo/bounties.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Floof/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Floof/Entities/Objects/Lewd/dildos.yml
  Resources/Prototypes/Floof/Entities/Objects/Lewd/fleshlights.yml
  Resources/Prototypes/Floof/Entities/Objects/Lewd/whips.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Medical/sterilebag.yml
  Resources/Prototypes/tags.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#620 Cherry-Pick CMO Drip and Long Bow Hair
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/longbow.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/shaped.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#622 Bionic Wings For All + Wings FTL
  Resources/Locale/en-US/Floof/markings/wings.ftl
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/wings.yml
  Resources/Textures/Floof/Mobs/Customization/wings64-32.rsi/bionic_wings_tone_1.png
  Resources/Textures/Floof/Mobs/Customization/wings64-32.rsi/bionic_wings_tone_2.png
  Resources/Textures/Floof/Mobs/Customization/wings64-32.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#624 Cherry-Pick "Update Vomit Organ Smite to Not Use Component.owner (#29926)"
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#564 Floof Guidebook Update
  Resources/Locale/en-US/Floof/guidebook/guides.ftl
  Resources/Prototypes/Floof/Guidebook/sop.yml
  Resources/ServerInfo/Floof/Guidebook/SOP/AlertProcedure.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/CommandHierarchy.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/GeneralRegulations.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/MutinyGuidelines.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/Permits.xml
  Resources/ServerInfo/Guidebook/Glossary.xml
Labels: Changes: Documentation, Changes: Localization, Changes: YML, Status: Needs Review

#563 Cherry-Picking Map Spawners
  Content.Server/Spawners/EntitySystems/ConditionalSpawnerSystem.cs
  Content.Shared/EntityTable/EntitySelectors/EntSelector.cs
  Content.Shared/EntityTable/EntitySelectors/EntityTableTypeSerializer.cs
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Department/medical.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Department/science.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Department/security.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/crates.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/encryption_key.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/industrial.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/materials.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/vending.yml
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Textures/Structures/Machines/VendingMachines/random.rsi/clothing.png
  Resources/Textures/Structures/Machines/VendingMachines/random.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML, Status: Needs Review

#625 Glacier - Modifications
  Resources/Maps/Floof/glacier.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#616 Admin Painting And Soaping
  Content.Server/Paint/PaintSystem.cs
  Content.Shared/Paint/PaintRemoverSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#595 Fix Moth Wings
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
Labels: Changes: YML, Status: Needs Review

#593 Add a Set of New Plushies
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/harpy.png
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/kitsune.png
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/meta.json
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/vulp1.png
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/vulp2.png
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/vulp3.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#578 Oni Refactor
  Content.Server/Nyanotrasen/Abilities/Oni/HeldbyOniComponent.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniComponent.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniSystem.cs
  Content.Server/Traits/Assorted/OniDamageModifierComponent.cs
  Content.Server/Traits/Assorted/OniDamageModifierSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Oni/SharedOniSystem.cs
  Content.Shared/Prying/Systems/PryingSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_DV/Damage/Components/BonusStaminaDamageComponent.cs
  Content.Shared/_DV/Damage/Systems/BonusStaminaDamageSystem.cs
  Content.Shared/_DV/Prying/Components/PlayerToolModifierComponent.cs
  Content.Shared/_DV/Prying/Systems/PlayerToolModifierSystem.cs
  Content.Shared/_DV/Weapons/Ranged/Components/PlayerAccuracyModifierComponent.cs
  Content.Shared/_DV/Weapons/Ranged/Systems/PlayerAccuracyModifierSystem.cs
  Content.Shared/_DV/Weapons/Ranged/Systems/SharedGunSystem.Holder.cs
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Traits/species.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 2-Medium, Undergoing Maintainer Discussion

#600 38 Spares to the Loadout
  Resources/Prototypes/Floof/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML, Status: Needs Review

#611 Add Tiny Trait
  Content.Server/Carrying/CarryingSystem.cs
  Content.Server/FloofStation/Traits/TraitSystem.Functions.cs
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#633 Automated Trade Station and Listening Outpost Modifications
  Resources/Maps/Floof/pirateradio.yml
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#627 Select Fire Rifles
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium, Undergoing Maintainer Discussion

#614 Add Tiered Cakes
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_single.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_whole.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Floof/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Floof/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Floof/Recipes/Construction/Graphs/food/cake_tiered.yml
  Resources/Prototypes/Floof/Recipes/Reactions/food.yml
  Resources/Prototypes/Floof/Stacks/consumable_stacks.yml
  Resources/Prototypes/Floof/tags.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Floof/Objects/Consumable/Food/Baked/cake_tiered.rsi/double-unfrosted.png
  Resources/Textures/Floof/Objects/Consumable/Food/Baked/cake_tiered.rsi/double.png
  Resources/Textures/Floof/Objects/Consumable/Food/Baked/cake_tiered.rsi/meta.json
  Resources/Textures/Floof/Objects/Consumable/Food/Baked/cake_tiered.rsi/single-unfrosted.png
  Resources/Textures/Floof/Objects/Consumable/Food/Baked/cake_tiered.rsi/single.png
  Resources/Textures/Floof/Objects/Consumable/Food/Baked/cake_tiered.rsi/slice.png
  Resources/Textures/Floof/Objects/Consumable/Food/Baked/cake_tiered.rsi/triple-unfrosted.png
  Resources/Textures/Floof/Objects/Consumable/Food/Baked/cake_tiered.rsi/triple.png
  Resources/Textures/Floof/Objects/Consumable/Food/ingredients.rsi/frosting-pipe.png
  Resources/Textures/Floof/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/butter-slice.png
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#636 Flamenco Dress
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Floof/Entities/Clothing/Uniforms/misc.yml
  Resources/Prototypes/Floof/Loadouts/Generic/uniform.yml
  Resources/Textures/Floof/Clothing/Uniforms/flamencodress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Floof/Clothing/Uniforms/flamencodress.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/flamencodress.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Uniforms/flamencodress.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Uniforms/flamencodress.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#550 Mantis QoL and New Gun
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Floof/Entities/Weapons/Guns/shotguns.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/Floof/tags.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Textures/Floof/Objects/Weapons/Gun/excommunicant.rsi/bolt-open.png
  Resources/Textures/Floof/Objects/Weapons/Gun/excommunicant.rsi/equipped-BACKPACK.png
  Resources/Textures/Floof/Objects/Weapons/Gun/excommunicant.rsi/icon.png
  Resources/Textures/Floof/Objects/Weapons/Gun/excommunicant.rsi/inhand-left.png
  Resources/Textures/Floof/Objects/Weapons/Gun/excommunicant.rsi/inhand-right.png
  Resources/Textures/Floof/Objects/Weapons/Gun/excommunicant.rsi/meta.json
  Resources/Textures/Floof/Objects/Weapons/Gun/excommunicant_64x.rsi/inhand-left.png
  Resources/Textures/Floof/Objects/Weapons/Gun/excommunicant_64x.rsi/inhand-right.png
  Resources/Textures/Floof/Objects/Weapons/Gun/excommunicant_64x.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#641 Examine Detail Range Increase
  Content.Shared/Examine/ExamineSystemShared.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#639 Add the Blue Swim Suit
  Resources/Prototypes/Floof/Loadouts/Generic/uniform.yml
Labels: Changes: YML, Status: Needs Review

#617 Port Latex Catsuit and Rubber Mask
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/lewd.yml
  Resources/Prototypes/Floof/CharacterItemGroups/maskGroup.yml
  Resources/Prototypes/Floof/CharacterItemGroups/uniformGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Prototypes/_DEN/Loadouts/lewd.yml
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuit.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuit.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuit.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuit.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitshiny.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitshiny.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitshiny.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitshiny.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitshiny.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#630 Add Pronouns to Crew Manifest
  Content.Client/CrewManifest/UI/CrewManifestSection.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/CrewManifest/CrewManifestSystem.cs
  Content.Shared/CrewManifest/SharedCrewManifestSystem.cs
  Resources/Locale/en-US/deltav/gender.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 1-High

#644 EMP Nerf (Just Price Changes)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#645 Some Clothes - Will Update Name when Ready!
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Floof/Entities/Clothing/Uniforms/misc.yml
  Resources/Prototypes/Floof/Loadouts/Generic/uniform.yml
  Resources/Textures/Floof/Clothing/Uniforms/bandeddancersgarb.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Floof/Clothing/Uniforms/bandeddancersgarb.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/bandeddancersgarb.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Uniforms/bandeddancersgarb.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Uniforms/bandeddancersgarb.rsi/meta.json
  Resources/Textures/Floof/Clothing/Uniforms/blackpetticoatdress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Floof/Clothing/Uniforms/blackpetticoatdress.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/blackpetticoatdress.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Uniforms/blackpetticoatdress.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Uniforms/blackpetticoatdress.rsi/meta.json
  Resources/Textures/Floof/Clothing/Uniforms/bluefancylad.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Floof/Clothing/Uniforms/bluefancylad.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/bluefancylad.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Uniforms/bluefancylad.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Uniforms/bluefancylad.rsi/meta.json
  Resources/Textures/Floof/Clothing/Uniforms/purplenightclubdress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Floof/Clothing/Uniforms/purplenightclubdress.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/purplenightclubdress.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Uniforms/purplenightclubdress.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Uniforms/purplenightclubdress.rsi/meta.json
  Resources/Textures/Floof/Clothing/Uniforms/reddancersgarb.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Floof/Clothing/Uniforms/reddancersgarb.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/reddancersgarb.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Uniforms/reddancersgarb.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Uniforms/reddancersgarb.rsi/meta.json
  Resources/Textures/Floof/Clothing/Uniforms/redsidelessdress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Floof/Clothing/Uniforms/redsidelessdress.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/redsidelessdress.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Uniforms/redsidelessdress.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Uniforms/redsidelessdress.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#638 Tiny Trait Patch
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
Labels: Changes: YML, Status: Needs Review

#654 Fix Interaction Verbs Revealing Identity
  Content.Shared/InteractionVerbs/SharedInteractionVerbsSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#653 Add EMP Blast Effect Shader (Frontier #2262)
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_NF/Emp/Overlays/EmpBlastOverlay.cs
  Content.Server/Emp/EmpSystem.cs
  Content.Shared/_NF/Emp/Components/EmpBlastComponent.cs
  Content.Shared/_NF/Emp/Systems/EmpBlastSystem.cs
  Resources/Prototypes/_NF/Entities/Effects/emp.yml
  Resources/Prototypes/_NF/Shaders/shaders.yml
  Resources/Textures/_NF/Shaders/emp.swsl
Labels: Changes: C#, Changes: YML, Status: Needs Review

#652 Added New Colored Light Boxes
  Resources/Prototypes/Floof/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Crates/service.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#651 Cherry-Pick Lizard Plushie In-Hands
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushielizard-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/plushielizard-inhand-right.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#649 Glacier - Fixes
  Resources/Maps/Floof/glacier.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#647 Weather Fix
  Content.Client/Overlays/StencilOverlay.Weather.cs
  Content.Client/Weather/WeatherSystem.cs
  Content.Server/Weather/WeatherSystem.cs
  Content.Shared/Weather/SharedWeatherSystem.cs
  Content.Shared/Weather/WeatherComponent.cs
  Resources/Locale/en-US/weather/weather.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#635 Nēhina, Feroxi Language, and Namelist Cherry-Pick
  Resources/Locale/en-US/_DV/datasets/names/feroxi.ftl
  Resources/Locale/en-US/chat/managers/chat-language.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Prototypes/DeltaV/Datasets/Names/feroxi_first_female.yml
  Resources/Prototypes/DeltaV/Datasets/Names/feroxi_first_male.yml
  Resources/Prototypes/DeltaV/Datasets/Names/feroxi_last.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/DeltaV/Species/feroxi.yml
  Resources/Prototypes/Language/Species-Specific/feroxi.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#664 Adds Gray Jumpskirt to Loadout
  Resources/Prototypes/Floof/Loadouts/Generic/uniform.yml
Labels: Changes: YML, Status: Needs Review

#575 Add Underwear & Undershirts
  Content.Server/FloofStation/InteractionVerbs/Actions/ToggleLayersAction.cs
  Content.Shared/Floofstation/InteractionVerbs/Requirements/ClothingSlotBlacklistRequirement.cs
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/Floof/interaction/verbs/underwear.ftl
  Resources/Locale/en-US/Floof/markings/underwear.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Prototypes/Floof/Interactions/underwear_interactions.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Species/skeleton.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Textures/Floof/Mobs/Customization/undershirt.rsi/meta.json
  Resources/Textures/Floof/Mobs/Customization/undershirt.rsi/snow_bra.png
  Resources/Textures/Floof/Mobs/Customization/undershirt.rsi/snow_sports.png
  Resources/Textures/Floof/Mobs/Customization/undershirt.rsi/snow_strapless.png
  Resources/Textures/Floof/Mobs/Customization/undershirt.rsi/t_long_undershirt.png
  Resources/Textures/Floof/Mobs/Customization/undershirt.rsi/t_rolled_undershirt.png
  Resources/Textures/Floof/Mobs/Customization/undershirt.rsi/t_rolled_undershirt_sleeveless.png
  Resources/Textures/Floof/Mobs/Customization/undershirt.rsi/t_undershirt.png
  Resources/Textures/Floof/Mobs/Customization/undershirt.rsi/t_undershirt_sleeveless.png
  Resources/Textures/Floof/Mobs/Customization/underwear.rsi/meta.json
  Resources/Textures/Floof/Mobs/Customization/underwear.rsi/snow_boxers.png
  Resources/Textures/Floof/Mobs/Customization/underwear.rsi/snow_briefs.png
  Resources/Textures/Floof/Mobs/Customization/underwear.rsi/snow_lowriders.png
  Resources/Textures/Floof/Mobs/Customization/underwear.rsi/snow_satin.png
  Resources/Textures/Floof/Mobs/Customization/underwear.rsi/snow_tanga.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#659 Guidebook Updates
  Resources/Locale/en-US/Floof/guidebook/guides.ftl
  Resources/Prototypes/Floof/Guidebook/sop.yml
  Resources/ServerInfo/Floof/Guidebook/SOP/EngineeringStandardOperatingProcedure.xml
  Resources/ServerInfo/Floof/Guidebook/SOP/EpistemicsStandardOperatingProcedure.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleTypes.xml
Labels: Changes: Documentation, Changes: Localization, Changes: YML, Status: Needs Review

#629 Add Missing Chaplain's Stole and Crucifix to Loadout
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/Epistemics/chaplain.yml
Labels: Changes: YML, Status: Needs Review

#623 Cherry-Pick Machine Incompatible Trait (#2395)
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Shared/_DV/Traits/Assorted/UnborgableComponent.cs
  Content.Shared/_DV/Traits/Assorted/UnborgableSystem.cs
  Resources/Locale/en-US/_DV/borg/borg.ftl
  Resources/Locale/en-US/_DV/medical/components/health-analyzer-component.ftl
  Resources/Locale/en-US/_DV/traits/traits.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/_DV/Traits/disabilities.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review, Priority: 1-High

#662 Amber Station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Floof/amber.yml
  Resources/Maps/Shuttles/emergency_amber.yml
  Resources/Prototypes/Maps/amber.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#661 Add Search Filter Box for Round End Summary
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Resources/Locale/en-US/round-end/round-end-summary-window.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#668 French Accent
  Content.Server/FloofStation/Speech/Components/FrenchAccentComponent.cs
  Content.Server/FloofStation/Speech/EntitySystems/FrenchAccentSystem.cs
  Resources/Locale/en-US/Floof/accent/french.ftl
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/Floof/Accents/word_replacements.yml
  Resources/Prototypes/Floof/Traits/neutral.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#670 Glacier Fix
  Resources/Maps/Floof/glacier.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#671 Amber Fix
  Resources/Maps/Floof/amber.yml
Labels: Changes: Map, Changes: YML

#673 Better lizards
  Resources/Locale/en-US/_white/markings/reptilian.ftl
  Resources/Prototypes/_White/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/meta.json
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_aquatic.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_aquatic_alt.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_long.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_long_alt.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_longmembrane.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_longmembrane_alt.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_short.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_short_alt.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_shortmembrane.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_shortmembrane_alt.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spineswag_aquatic.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spineswag_long.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spineswag_longmembrane.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spineswag_short.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spineswag_shortmembrane.png
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/meta.json
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large.png
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large_overlay.png
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging.png
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging_overlay.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears_overlay.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_argali_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_argali_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_curled_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_curled_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_double_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_double_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_ram_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_ram_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_short_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_short_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_simple_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_simple_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/eastern_dragon.png
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/eastern_dragon_overlay.png
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/eastern_dragon_usiki.png
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/guilmon.png
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#658 Tiny Trait Rework
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Server/FloofStation/Traits/TraitSystem.Functions.cs
  Content.Shared/HeightAdjust/HeightAdjustSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/Floof/Damage/modifier_sets.yml
  Resources/Prototypes/Floof/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#657 Add New Costume (Shrimp Fisherman Suit)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Floof/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Floof/Entities/Clothing/OuterClothing/suits.yml
  Resources/Textures/Floof/Clothing/Head/Hoods/shrimpfishermansuit.rsi/equipped-HELMET.png
  Resources/Textures/Floof/Clothing/Head/Hoods/shrimpfishermansuit.rsi/icon.png
  Resources/Textures/Floof/Clothing/Head/Hoods/shrimpfishermansuit.rsi/meta.json
  Resources/Textures/Floof/Clothing/OuterClothing/Suits/shrimpfishermansuit.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Floof/Clothing/OuterClothing/Suits/shrimpfishermansuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Floof/Clothing/OuterClothing/Suits/shrimpfishermansuit.rsi/icon.png
  Resources/Textures/Floof/Clothing/OuterClothing/Suits/shrimpfishermansuit.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/OuterClothing/Suits/shrimpfishermansuit.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/OuterClothing/Suits/shrimpfishermansuit.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#648 Schechi and Ratvarian Languages
  Content.Server/FloofStation/Traits/NaturalSpeakerTraitComponent.cs
  Content.Server/FloofStation/Traits/NaturalSpeakerTraitSystem.cs
  Content.Server/Language/LanguageKnowledgeComponent.cs
  Content.Server/Traits/Assorted/ForeignerTraitSystem.cs
  Content.Shared/Floofstation/Language/ObfuscationMethods.cs
  Resources/Fonts/Floof/LeckerliOne.ttf
  Resources/Fonts/Floof/TypeLightSans.otf
  Resources/Locale/en-US/Floof/chat/managers/chat-language.ftl
  Resources/Locale/en-US/Floof/customization/character-requirement.ftl
  Resources/Locale/en-US/Floof/language/languages.ftl
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Floof/CharacterItemGroups/languageGroups.yml
  Resources/Prototypes/Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/Floof/Language/languages.yml
  Resources/Prototypes/Floof/Traits/languages.yml
  Resources/Prototypes/Floof/fonts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/fonts.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#677 Tiny Trait Hotfix 2
  Content.Shared/HeightAdjust/HeightAdjustSystem.cs
  Resources/Prototypes/Floof/Traits/physical.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#680 Update to Rules
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC11Antagonists.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC4Powergaming.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC6EroticRoleplayandNSFW.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC7DeathandNewLife.xml
  Resources/ServerInfo/Guidebook/ServerRules/FloofstationCoreRules.xml
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#681 V18 HotFix PR
  Content.Shared/HeightAdjust/HeightAdjustSystem.cs
  Resources/Changelog/Floof.yml
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC11Antagonists.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC4Powergaming.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC6EroticRoleplayandNSFW.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC7DeathandNewLife.xml
  Resources/ServerInfo/Guidebook/ServerRules/FloofstationCoreRules.xml
Labels: Changes: C#, Changes: Audio, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: YML, Status: Needs Review

#676 Check-Out Interaction Tweaks
  Resources/Prototypes/Interactions/noop_interactions.yml
Labels: Changes: YML, Status: Needs Review

#682 Revert Tiny Trait
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Server/Carrying/CarryingSystem.cs
  Content.Server/FloofStation/Traits/TraitSystem.Functions.cs
  Content.Shared/HeightAdjust/HeightAdjustSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/Floof/Damage/modifier_sets.yml
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#683 V18 - Hotfix 2
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Content.Server/Carrying/CarryingSystem.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/DiscordAuth/DiscordAuthManager.cs
  Content.Server/FloofStation/Traits/TraitSystem.Functions.cs
  Content.Shared/HeightAdjust/HeightAdjustSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Changelog/Floof.yml
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/DeltaV/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Floof/Damage/modifier_sets.yml
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Interactions/noop_interactions.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#672 Emotes and Subtles and SubtleOOC Is Blocked by Walls
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Speech/Components/RandomBarkComponent.cs
  Content.Server/Speech/Systems/RandomBarkSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Resources/Locale/en-US/Floof/random-barks/debug_chatterboy.ftl
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/debug.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review, Priority: 1-High

#695 Restore Engineering Belts to Lockers
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, Status: Needs Review

#692 Subtle Keybinding
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#687 Try Fix RGBee (Wizden Commit #28741)
  Content.Client/Light/RgbLightControllerSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#693 Amber Station - Fixes
  Resources/Maps/Floof/amber.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Priority: 2-Medium

#696 Meat Re-Texture
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/cookedbacon.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/cookedbasecutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/cookedchikencutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/cookedduck.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/cookedduckcutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/cookedhuman.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/cookedhumancutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/cookedlizardcutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/cookedpenguin.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/cookedpenguincutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/cookedrouny.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/lizardtail.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawbacon.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawbasecutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawchikencutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawduck.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawduckcutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawhuman.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawhumancutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawlizardcutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawpenguin.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawpenguincutlet.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawrat.png
  Resources/Textures/Floof/Objects/Consumable/Food/meat.rsi/rawrouny.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#688 Fix Width Slider and Alert Spacing
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review, Priority: 1-High

#691 Natural Language Fixes
  Content.Server/FloofStation/Traits/NaturalSpeakerTraitComponent.cs
  Content.Server/FloofStation/Traits/NaturalSpeakerTraitSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Resources/Prototypes/Floof/Traits/languages.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High
