Repository Floof-Station/Floof-Station, pull requests merged in 2025-08, with the labels that each got.

#1262 Marked Traits Update: No Free Points
  Resources/Prototypes/_Floof/Traits/marked.yml
Labels: Changes: YML, Status: Needs Review

#1253 Syndicate Uplink Buff
  Content.IntegrationTests/Tests/StoreTests.cs
  Content.Server/StoreDiscount/Systems/StoreDiscountSystem.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/EstacaoPirata/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Floof/Catalog/uplink_catalog.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1260 Tiny Fan
  Resources/Prototypes/_Floof/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Crates/tinyfan.yml
  Resources/Prototypes/_Floof/Entities/Objects/Devices/flatpack.yml
Labels: Changes: YML

#1247 Hehe Shork - Done
  Resources/Locale/en-US/_Floof/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Floof/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Floof/Entities/Objects/Weapons/Melee/shork.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 3-Low

#1257 Rodentia Night Vision - Done
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#1240 Paramedic Bags! [Redux]
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
  Resources/Textures/_DEN/Clothing/Back/para-backpack.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Clothing/Back/para-backpack.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Back/para-backpack.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Back/para-backpack.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Back/para-backpack.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Back/para-duffel.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Clothing/Back/para-duffel.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Back/para-duffel.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Back/para-duffel.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Back/para-duffel.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Back/para-satchel.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Clothing/Back/para-satchel.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Back/para-satchel.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Back/para-satchel.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Back/para-satchel.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium

#1228 Fix Internals on Pets
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1281 Fixes and Tweaks From Vulpstation
  .github/workflows/changelog.yml
  Content.IntegrationTests/Tests/Commands/SuicideCommandTests.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Verbs/Commands/InvokeVerbCommand.cs
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: Changes: C#, Changes: Workflow, Changes: YML, Status: Needs Review

#1268 Fixes Assay Feedback Text for Various Abilities
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Psionics/psionics.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1286 Downstream Merge: Constructible Holopads and Lathes
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Vulp/Entities/Objects/Devices/Circuitboards/communication.yml
  Resources/Prototypes/_Vulp/Entities/Structures/Machines/communication.yml
  Resources/Prototypes/_Vulp/Recipes/Lathes/communication.yml
Labels: Changes: YML

#1296 4 New Plushies
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_Floof/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/grumpyqm.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/hardcoredj.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/meta.json
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/moss.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/slimebartender.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#1274 Mimeguin Fix: Surgery
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/clown_abominations.yml
Labels: Changes: YML, Status: Needs Review

#1287 Downstream Merge: More Windows
  Resources/Prototypes/_Nuclear14/Entities/Structures/Windows/windows.yml
  Resources/Prototypes/_Vulp/Entities/Structures/windows.yml
Labels: Changes: YML, Status: Needs Review

#1291 Fix Subtles Being Sent in the Emote Channel
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1289 Invasion of the Rodents (Plushies)
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_Floof/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/CMObun.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/meta.json
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/ratgirl.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#1284 Fixed Pride Items
  Resources/Prototypes/CharacterItemGroups/Generic/gloveGroup.yml
  Resources/Prototypes/_Floof/Loadouts/Generic/hands.yml
  Resources/Textures/_Floof/Clothing/Under/Gloves/Pride/pan.rsi/equipped-HAND.png
  Resources/Textures/_Floof/Clothing/Under/Gloves/Pride/pan.rsi/icon.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#1280 Tajaran Fix: Custom Species & Missing Markings Slots
  Resources/Prototypes/_EE/Species/tajaran.yml
Labels: Changes: YML, Status: Needs Review

#1208 Use Encryption Keys Instead of Intrinsic Radio Channels for pAI
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Resources/Locale/en-US/radio/components/encryption-key-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 3-Low

#1279 Raise Max Allowed Basic Languages
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
Labels: Changes: YML

#1300 Task Acumen II (Admin Updates No. 1)
  Content.Client/Administration/UI/Notes/AdminNotesLinePopup.xaml
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Commands/EraseCommand.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/GameTicking/Commands/RespawnCommand.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Resources/Locale/en-US/administration/commands/erase.ftl
  Resources/Locale/en-US/administration/commands/respawn.ftl
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#1306 Fix Changelogs Because We Forgor
  Resources/Changelog/Floof.yml
Labels: Changes: YML, Status: Needs Review

#1221 Show Carried Entities in Examine Text, Translate Numbers To Words
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/Locale/en-US/hands/hands-system.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1303 Add Character Traits/Loadout to Paradox Clones
  Content.Server/DeltaV/ParadoxAnomaly/Systems/ParadoxAnomalySystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1307 Fix Slime Person Tags
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Changes: YML, Status: Needs Review

#1312 Partial Reversion of #1221
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/Changelog/Floof.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1314 Fix Subtles Not Displaying over Ones Head
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
Labels: Changes: C#, Changes: YML

#1315 Cherry-Pick Intercomms Fix (EE No. 2269)
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1324 Better Muzzle Accent (Vulpstation#59)
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/_Vulp/Speech/Accents/Mumble/MumbleAccentComponent.cs
  Content.Server/_Vulp/Speech/Accents/Mumble/MumbleAccentSystem.cs
  Content.Shared/_Vulp/Speech/Accents/Mumble/MumbleAccentPrototype.cs
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Vulp/Accents/mumble.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1332 Add Contact Interaction to TryEquip
  Content.Shared/Inventory/InventorySystem.Equip.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1334 Allow Resomi to Coo
  Resources/Prototypes/_Floof/Voice/avali_emote_sounds.yml
  Resources/Prototypes/_Floof/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#1347 #FASTTRACK - Justice Spawn Hotfix
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/kettle.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Maps/submarine.yml
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1349 Add 'Syndie Sunday' To Disclaimer
  Content.Client/_Floof/Info/NsfwDisclaimerWindow.xaml
  Resources/Locale/en-US/_Floof/info/nsfw-disclaimer.ftl
Labels: Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#1350 [HOTFIX] Hard Grab Throw Weight Check
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Locale/en-US/_Floof/grab/grab.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1351 Floof Station V32.0.1
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Changelog/Floof.yml
  Resources/Locale/en-US/_Floof/grab/grab.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1353 FIX:Tajaran Temperature Damages
  Resources/Prototypes/_EE/Entities/Mobs/Species/tajaran.yml
Labels: Changes: YML, Status: Needs Review, Priority 3: Standard

#1311 Port Single Clap Emote + More Emote Punctuation
  Resources/Audio/Effects/Emotes/attributions.yml
  Resources/Audio/Effects/Emotes/clap-single.ogg
  Resources/Locale/en-US/_Floof/chat/emotes.ftl
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_Floof/Voice/speech_emotes.yml
Labels: Changes: Audio, Changes: Localization, Changes: YML, Status: Needs Review, Priority 3: Standard

#1354 Fix some Broken Yaml
  Resources/Prototypes/Language/Standard/solcommon.yml
  Resources/Prototypes/Language/Standard/taucetibasic.yml
Labels: Changes: YML, Status: Needs Review, Priority 3: Standard

#1305 Jermov
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Goobstation/silicon-laws.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority 3: Standard

#1251 CentComm Cryogenics Crate - Done
  Resources/Prototypes/_Floof/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_Floof/Entities/Objects/Specific/Medical/chemical-containers.yml
Labels: Changes: YML, Status: Needs Review, Priority 3: Standard

#1359 Make Subtle Actually Filterable By All Players.
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority 1: Urgent

#1348 12 New Plushies
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_Floof/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/detective.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/eldrichcap.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/ertfox.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/hawaiidoggo.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/largetail.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/meta.json
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/noblearachne.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/parafox.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/rust.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/stressbunny.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/tiredcargo.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/unholyred.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/ursinegal.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority 3: Standard

#1367 Don't Leave a Used GrantCqc Component on the Chef
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.CQC.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority 3: Standard

#1364 Let Organs Be Preserved in the Fridge Like Meat
  Resources/Prototypes/Body/Organs/base.yml
Labels: Changes: YML, Status: Needs Review, Priority 3: Standard

#1361 Port Autocall From The Den, No. 626
  Content.Client/Voting/VoteManager.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Server/Voting/VoteOptions.cs
  Content.Server/_DEN/RoundEnd/RoundEndSystem.DEN.cs
  Content.Server/_DEN/RoundEnd/ToggleHardEndCommand.cs
  Content.Shared/Voting/MsgVoteData.cs
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Locale/en-US/round-end/round-end-system.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority 2: Elevated

#1357 Slime Inventory Occlusion
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/StorageComponent.cs
  Content.Shared/_Floof/Clothing/StorageBlockedByClothing/StorageBlockedByClothingComponent.cs
  Content.Shared/_Floof/Clothing/StorageBlockedByClothing/StorageBlockedByClothingSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Changes: C#, Changes: YML, Priority 3: Standard
