Repository Floof-Station/Floof-Station, pull requests merged in 2025-07, with the labels that each got.

#1166 No Duplicate Random Map
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1165 Marked Traits
  Content.Server/Objectives/Components/PickRandomPersonComponent.cs
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Content.Server/_Floof/Traits/Components/MarkedComponent.cs
  Resources/Locale/en-US/_Floof/traits/categories.ftl
  Resources/Locale/en-US/_Floof/traits/traits.ftl
  Resources/Locale/en-US/traits/categories.ftl
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/_Floof/Traits/categories.yml
  Resources/Prototypes/_Floof/Traits/marked.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1174 add M3739 to codeowners
  .github/CODEOWNERS
Labels: Changes: YML, Status: Needs Review

#1172 Make Suicide RP Forbidden.
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC10CommandandSecurity.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC11Antagonists.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC1OutofCharacter.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC2Consent.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC3Metagaming.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC4Powergaming.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC5RoleplayandCharacters.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC6EroticRoleplayandNSFW.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC7DeathandNewLife.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC8EndofRoundandEvacuation.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC9GeneralRolesandJobs.xml
  Resources/ServerInfo/Guidebook/ServerRules/FloofstationCoreRules.xml
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#1169 Fix Language Popups
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Changes: YML

#1168 Custom Examine Texts
  Content.Client/_Floof/Examine/CustomExaminePart.xaml
  Content.Client/_Floof/Examine/CustomExaminePart.xaml.cs
  Content.Client/_Floof/Examine/CustomExamineSettingsWindow.xaml
  Content.Client/_Floof/Examine/CustomExamineSettingsWindow.xaml.cs
  Content.Client/_Floof/Examine/CustomExamineSystem.cs
  Content.Server/Consent/ConsentSystem.cs
  Content.Server/_Floof/Examine/CustomExamineSystem.cs
  Content.Shared/Consent/SharedConsentSystem.cs
  Content.Shared/_Floof/Examine/CustomExamineComponent.cs
  Content.Shared/_Floof/Examine/CustomExamineSystem.cs
  Content.Shared/_Floof/Examine/SetCustomExamineMessage.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/_Floof/examine/custom-examine.ftl
  Resources/Prototypes/consent.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#1128 Clown Abominations Part 2 - Mimeguin + Clown Rat Balancing
  Resources/Prototypes/_Floof/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/clown_abominations.yml
  Resources/Prototypes/_Floof/Gamerules/Events.yml
  Resources/Textures/_Floof/Mobs/Animals/mimeguin.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Animals/mimeguin.rsi/penguin.png
  Resources/Textures/_Floof/Mobs/Animals/mimeguin.rsi/penguin_dead.png
  Resources/Textures/_Floof/Mobs/Animals/mimeguin.rsi/penguin_dead_blood.png
  Resources/Textures/_Floof/Mobs/Animals/mimeguin.rsi/penguin_egg.png
  Resources/Textures/_Floof/Mobs/Animals/mimeguin.rsi/penguin_egg_broken.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#1100 Battery Traits for IPCs
  Resources/Locale/en-US/_Floof/traits/traits.ftl
  Resources/Prototypes/_Floof/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1074 Map Update Train
  Resources/Maps/Floof/train.yml
  Resources/Prototypes/Maps/train.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1094 Epistemics Surgery
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
Labels: Changes: YML, Status: Needs Review

#1177 Fix Rules Heading
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC5RoleplayandCharacters.xml
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#1183 Fix Research Points (TheDen#592)
  Content.Server/Research/Systems/ResearchSystem.Server.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Server/Research/Systems/ResearchSystem.cs
  Content.Server/_DEN/Research/Components/StationResearchRecordComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1193 Fix Roundstart Fail, Again
  Content.Server/Clothing/Systems/LoadoutSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1192 Make All Hats in the Loadout Hairloomable
  Resources/Prototypes/Loadouts/Generic/head.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/_Floof/Loadouts/Generic/head.yml
Labels: Changes: YML, Status: Needs Review

#1181 Mood System Fix & Heirloom Timeout Extension
  Content.Server/Mood/MoodComponent.cs
  Content.Server/Mood/MoodSystem.cs
  Content.Server/Traits/Assorted/HeirloomSystem.cs
  Resources/Prototypes/Mood/genericPositiveEffects.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1180 Rewrite Mindshield Description To Not Imply Loyalty
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, Status: Needs Review

#1198 Make Hiding Under Tables Obscure You From HUDs
  Content.Client/StatusIcon/StatusIconSystem.cs
  Content.Shared/StatusIcon/StatusIconPrototype.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1197 Thieving Trait Now only Shows the Silhouette of Pocketed Items
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Shared/Strip/Components/ThievingComponent.cs
  Resources/Prototypes/_Floof/Shaders/shaders.yml
  Resources/Textures/_Floof/Shaders/silhouette.swsl
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1196 Fix Default Health Examine
  Content.Shared/HealthExaminable/HealthExaminableSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1200 Rename Golemancer Back to Roboticist
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1194 Task Adjust III (Bug Fixes & Tweaks, No. 3)
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_Floof/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Floof/Entities/Objects/Specific/Robotics/Borgmodules.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-unshaded-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/ravager.rsi/alive.png
  Resources/Textures/Mobs/Aliens/Xenos/ravager.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/alive.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#1205 Bork
  Resources/Locale/en-US/_Floof/traits/traits.ftl
  Resources/Prototypes/_Floof/Traits/neutral.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1210 BORK
  Resources/Prototypes/_Floof/Traits/neutral.yml
Labels: Changes: YML, Status: Needs Review

#1218 Escape In-Game IC Messages
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#1242 Mar
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Status: Needs Review

#1239 Adds Welding Gas Mask to CE's Loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
Labels: Changes: YML, Status: Needs Review

#1211 THE PURPOSE OF A SYSTEM IS WHAT IT DOES.
  Content.Client/Standing/LayingDownSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1206 Species-Specific Optional Languages
  Resources/Locale/en-US/_Floof/traits/language-traits.ftl
  Resources/Locale/en-US/_Floof/traits/traits.ftl
  Resources/Locale/en-US/chat/managers/chat-language.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/random-barks/hissing.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/Language/animal.yml
  Resources/Prototypes/_Floof/Traits/Languages/additional-languages.yml
  Resources/Prototypes/_Floof/Traits/Languages/natural-languages.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1250 Adds a Obligatory Bodybag to Medicine Lockers
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
Labels: Changes: YML, Status: Needs Review

#1225 Don't Serialize DeviceNetworkComponent.Configurators
  Content.Server/DeviceNetwork/Components/DeviceNetworkComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1109 Freezers and Fireplace
  Resources/Prototypes/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Entities/Structures/Storage/crates.yml
  Resources/Prototypes/_Floof/Recipes/Crafting/fireplace.yml
  Resources/Prototypes/_Floof/Recipes/Crafting/freezer.yml
Labels: Changes: YML, Status: Needs Review, Status: needs testing
