Repository Floof-Station/Floof-Station, pull requests merged in 2025-01, with the labels that each got.

#449 Prescription HUD Construction Crash Fix
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Status: Needs Review

#447 Up Command Time
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: Changes: YML, Status: Needs Review

#452 Mass Bug Fixes
  Content.Client/Effects/ColorFlashEffectSystem.cs
  Content.Server/Carrying/CarryingSystem.cs
  Content.Server/FootPrint/FootPrintsSystem.cs
  Content.Server/FootPrint/PuddleFootPrintsSystem.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.Storage.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
  Content.Shared/Floofstation/Leash/LeashSystem.cs
  Content.Shared/Footprint/FootPrintsComponent.cs
  Content.Shared/Footprint/PuddleFootPrintsComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
  Resources/Locale/en-US/Floof/leash/leash.ftl
  Resources/Prototypes/Entities/Objects/Decoration/ashtray.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#450 Metal Shackles and a Quick Fix for the Witch Outfit.
  Resources/Prototypes/Floof/CharacterItemGroups/outerGroup.yml
  Resources/Prototypes/Floof/Entities/Clothing/OuterClothing/MiscOuterwear.yml
  Resources/Prototypes/Floof/Loadouts/outerClothing.yml
  Resources/Textures/Floof/Clothing/OuterClothing/Misc/shackles.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Floof/Clothing/OuterClothing/Misc/shackles.rsi/icon.png
  Resources/Textures/Floof/Clothing/OuterClothing/Misc/shackles.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#453 Random Map Votes
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Resources/Locale/en-US/voting/managers/vote-manager.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#465 Scarab+Bee Update+fixes
  Resources/Maps/Floof/NTNFships/ntnfbee.yml
  Resources/Maps/Floof/NTNFships/ntnfscarab.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#458 Map Reworks Kettle and Rad
  Resources/Maps/Floof/kettle.yml
  Resources/Maps/Floof/lighthouse.yml
  Resources/Maps/Floof/radstation.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#463 Paradox Anomaly Opt-Out Consent Toggle
  Content.Server/DeltaV/ParadoxAnomaly/Systems/ParadoxAnomalySystem.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Prototypes/consent.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#454 Pka Salvage Borg Changes
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/borgmodules.yml
Labels: Changes: YML, Status: Needs Review

#436 Secmodules 2
  Resources/Locale/en-US/Floof/station-laws/laws.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/endoskeleton.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Robotics/Borgmodules.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/flash.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/guns.yml
  Resources/Prototypes/Floof/silicon-laws.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
  Resources/Prototypes/Recipes/Construction/Graphs/tools/BorgModules.yml
  Resources/Prototypes/Recipes/Construction/tools.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/meta.json
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadsprite.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriteCC.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_chest+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_head+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_arm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_leg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_arm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_leg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/meta.json
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/quad_suit.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Map, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#459 Core Update
  Resources/Maps/Floof/core.yml
  Resources/Prototypes/Maps/core.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#470 Emergency Hotfix
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Robotics/Borgmodules.yml
  Resources/Prototypes/Recipes/Construction/Graphs/tools/BorgModules.yml
  Resources/Prototypes/Recipes/Construction/tools.yml
Labels: Changes: YML, Status: Needs Review

#471 Energy Shotgun Fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Robotics/Borgmodules.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/guns.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/energy-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/energy-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/wielded-inhand-right.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 1-High

#475 Emergency Cyborg Patch
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Resources/Changelog/Floof.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Robotics/Borgmodules.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/borgmodules.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/guns.yml
  Resources/Prototypes/Recipes/Construction/Graphs/tools/BorgModules.yml
  Resources/Prototypes/Recipes/Construction/tools.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/energy-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/energy-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/wielded-inhand-right.png
Labels: Changes: C#, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 1-High

#476 Drunkard Accent
  Content.Server/FloofStation/Speech/Components/DrunkardAccentComponent.cs
  Content.Server/FloofStation/Speech/EntitySystems/DrunkardAccentSystem.cs
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/languageGroups.yml
  Resources/Prototypes/Floof/Traits/neutral.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#479 Fix the Flavor of Holy Vice
  Resources/Locale/en-US/Floof/flavors/flavor-profiles.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Priority: 3-Low

#474 Increase Artifact Analyzer's Point-to-Glimmer Ratio
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#480 Make Visual Disabilities and Cybereyes Mutually Exclusive
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#478 Update core.yml
  Resources/Maps/Floof/core.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Priority: 1-High

#477 Map Addition Train
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Floof/train.yml
  Resources/Prototypes/Maps/train.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review, Priority: 2-Medium, Undergoing Maintainer Discussion

#482 CC Outpost, Shuttle, Plushie, and Locker
  Resources/Maps/Floof/admin_only/CCO1362.yml
  Resources/Maps/Floof/admin_only/CCS6378.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Floof/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/meta.json
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/pepper.png
  Resources/Textures/Structures/Storage/closet.rsi/CentCom.png
  Resources/Textures/Structures/Storage/closet.rsi/CentCom_door.png
  Resources/Textures/Structures/Storage/closet.rsi/CentCom_open.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
Labels: Changes: Map, Changes: Sprite, Changes: YML, Status: Needs Review

#491 Space Cleaner Grenade Crate
  Resources/Prototypes/Floof/Catalog/Cargo/cargo_misc.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/cleannade.yml
Labels: Changes: YML, Status: Needs Review

#490 Map Rework Edge
  Resources/Maps/Floof/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Priority: 2-Medium

#487 Psionic Tweaks
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/Psionics/psionics.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-Medium

#484 Cyborg Zipties Patch
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High

#486 Salvage Quad Borg
  Resources/Prototypes/Entities/Objects/Specific/Robotics/endoskeleton.yml
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/meta.json
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalv.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalvl.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalvr.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_salvarm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_salvleg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_salvarm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_salvleg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_salvchest+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_salvhead+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 2-Medium

#483 Gorilla Update
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Resources/Audio/Animals/attributions.yml
  Resources/Audio/Animals/gorilla.ogg
  Resources/Locale/en-US/implant/implant.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/gorilla.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/InventoryTemplates/pet_inventory_template.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Procedural/biome_markers.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Voice/speech_sounds.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/Actions/Implants/implants.rsi/gorilla_rampage.png
  Resources/Textures/Actions/Implants/implants.rsi/meta.json
  Resources/Textures/Mobs/Animals/gorilla.rsi/cargo_crawling.png
  Resources/Textures/Mobs/Animals/gorilla.rsi/cargo_dead.png
  Resources/Textures/Mobs/Animals/gorilla.rsi/cargo_icon.png
  Resources/Textures/Mobs/Animals/gorilla.rsi/cargo_standing.png
  Resources/Textures/Mobs/Animals/gorilla.rsi/meta.json
Labels: Changes: C#, Changes: Audio, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#451 Reworked Saltern
  Resources/Maps/Floof/saltern.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Priority: 2-Medium

#495 Allow Gladiabots to Wear Hats
  Resources/Prototypes/Entities/Mobs/NPCs/gladiabot.yml
  Resources/Prototypes/InventoryTemplates/gladiabot_inventory_template.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Low

#503 Converts 2 Regular Pkas to 2 Sawn Off Pka in the Vendor
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
Labels: Changes: YML, Status: Needs Review

#504 Removes the Beacon From the Uplink
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#492 ERT Mothroach Admeme
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/ertmothroach.yml
  Resources/Textures/Mobs/Animals/ertmothroach.rsi/0-equipped-HELMET.png
  Resources/Textures/Mobs/Animals/ertmothroach.rsi/icon.png
  Resources/Textures/Mobs/Animals/ertmothroach.rsi/inhand-left.png
  Resources/Textures/Mobs/Animals/ertmothroach.rsi/inhand-right.png
  Resources/Textures/Mobs/Animals/ertmothroach.rsi/meta.json
  Resources/Textures/Mobs/Animals/ertmothroach.rsi/mothroach-moving.png
  Resources/Textures/Mobs/Animals/ertmothroach.rsi/mothroach.png
  Resources/Textures/Mobs/Animals/ertmothroach.rsi/mothroach_dead.png
  Resources/Textures/Mobs/Animals/ertmothroach.rsi/mothroach_lazy.png
  Resources/Textures/Mobs/Animals/ertmothroach.rsi/mothroach_sleep.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review, Priority: 3-Low

#498 Classical Maid Dress
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Floof/Entities/Clothing/Uniforms/misc.yml
  Resources/Textures/Floof/Clothing/Uniforms/ClassicalMaidDress.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Floof/Clothing/Uniforms/ClassicalMaidDress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Floof/Clothing/Uniforms/ClassicalMaidDress.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/ClassicalMaidDress.rsi/inhand-left.png
  Resources/Textures/Floof/Clothing/Uniforms/ClassicalMaidDress.rsi/inhand-right.png
  Resources/Textures/Floof/Clothing/Uniforms/ClassicalMaidDress.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#500 Gladiabot Teams
  Content.Client/NPC/Systems/NpcFactionSpriteStateSetterSystem.cs
  Content.Server/NPC/Systems/NpcFactionSelectorSystem.cs
  Content.Server/NPC/Systems/NpcFactionSystem.cs
  Content.Shared/NPC/Events/NpcFactionChangedEvent.cs
  Content.Shared/NPC/NpcFactionSelectorComponent.cs
  Content.Shared/NPC/NpcFactionSpriteStateSetterComponent.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/en-US/npc/factions.ftl
  Resources/Locale/en-US/verbs/verb-system.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/gladiabot.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/Mobs/Silicon/Bots/gladiabot.rsi/GladiabotBlue.png
  Resources/Textures/Mobs/Silicon/Bots/gladiabot.rsi/GladiabotFFA.png
  Resources/Textures/Mobs/Silicon/Bots/gladiabot.rsi/GladiabotGreen.png
  Resources/Textures/Mobs/Silicon/Bots/gladiabot.rsi/GladiabotRed.png
  Resources/Textures/Mobs/Silicon/Bots/gladiabot.rsi/GladiabotYellow.png
  Resources/Textures/Mobs/Silicon/Bots/gladiabot.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#501 Batonbot and Disablerbot
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Markers/Spawners/bots.yml
  Resources/Prototypes/Entities/Mobs/NPCs/batonbot.yml
  Resources/Prototypes/Entities/Mobs/NPCs/disablerbot.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/NPCs/batonbot.yml
  Resources/Prototypes/NPCs/disablerbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/batonbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/disablerbot.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Mobs/Silicon/Bots/batonbot.rsi/batonbot.png
  Resources/Textures/Mobs/Silicon/Bots/batonbot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/disablerbot.rsi/disablerbot.png
  Resources/Textures/Mobs/Silicon/Bots/disablerbot.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#507 Adds a New Plushie to the Game Girl Failure
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Floof/Entities/Objects/Fun/toys.yml
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/girlfailure.png
  Resources/Textures/Floof/Objects/Fun/floof_plush.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#494 Saltern Door Fix
  Resources/Maps/Floof/saltern.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review, Priority: 1-High

#513 add plushie to the prize
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
Labels: Changes: YML, Status: Needs Review

#497 Hypno Visor
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
  Content.Server/FloofStation/HypnoClothing/HypnoClothingComponent.cs
  Content.Server/FloofStation/HypnoClothing/HypnoClothingSystem.cs
  Resources/Locale/en-US/Floof/hypno.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/lewd.yml
  Resources/Prototypes/Floof/CharacterItemGroups/funGroup.yml
  Resources/Prototypes/Floof/Entities/Clothing/Eyes/specific.yml
  Resources/Prototypes/Floof/Loadouts/items.yml
  Resources/Prototypes/Floof/Recipes/Lathes/tools.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Priority: 2-Medium

#518 Rules Update
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC0.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC10CommandAndSec.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC11Antags.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC1Community.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC2Gameplay.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC3Metagaming.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC4NewLife.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC5Naming.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC6Roleplay.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC7Powergaming.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC8EOR.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC9ERP.xml
  Resources/ServerInfo/Guidebook/ServerRules/FloofstationCoreRules.xml
Labels: Changes: Documentation, Changes: YML, Status: Do Not Merge, Priority: 1-High

#515 Minor fixes wave 2
  Content.Server/Carrying/CarryingSystem.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/SharedPseudoItemSystem.cs
  Content.Shared/Repairable/SharedRepairableSystem.cs
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/Xenos.yml
  Resources/Prototypes/Floof/Interactions/mood_interactions.yml
  Resources/Prototypes/Floof/Mood/genericPositiveEffects.yml
  Resources/Prototypes/Mood/genericPositiveEffects.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/mobs.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Basic/sawn_pka.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Priority: 1-High
